/* --- QEEL - BOUTON --- */
#qeel_button{
  display: grid;
  grid-template-columns: 12px auto;
  align-items: center;
  z-index: 99;
  gap: 4px;
  width: 48px;
  padding: 4px 8px;
  background: var(--bg2);
  border: 1px solid var(--bg3);
  border-radius: 16px;
  height: 28px;
  cursor: pointer;
  transition: var(--transi);
  color: var(--text-contrast);
}
#qeel_button > ion-icon,
#qeel_button > span {
  font-size: 12px;
  font-weight: normal;
  display: block;
  width: 100%;
  min-width: 12px;
  text-align: center;
}
#qeel_button.open {
  background: var(--bg3);
}

/* --- QEEL - DRAWER --- */
#qeel_drawer_container {
    width: var(--drawer_width);
}
#qeel_drawer {
    display: grid;
    grid-template-rows: max-content auto;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    position: fixed;
    width: var(--drawer_width);
    background: radial-gradient(circle at top right,rgba(var(--co2_rgb),0.3),var(--bg1) 40%), var(--bg1);
    top: 42px;
    right: calc(-1*var(--drawer_width));
    display: none;
    z-index: 19999;
    height: calc(100vh - 42px);
    transition: var(--transi);
}

.loading { 
  animation: loading 2s infinite;
  transition: var(--transi);
  height: 112px;
  
  background: var(--bg2);
  border-radius: 8px;
}
@keyframes loading {
  0% { opacity: 0.2; }
  50% { opacity: 0.5; }
  100% { opacity: 0.2; }
}

#qeel_online > div,
#qeel_48h > div{
  opacity: 1;
  transition: var(--transi);
}
#qeel_online.loading > div,
#qeel_48h.loading > div {
  opacity: 0 !important;
  transition: var(--transi);
}

#qeel_drawer > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  overflow: auto;
}
#qeel_drawer h3 {
  font-family: var(--font-titre);
  color: var(--text-contrast);
  border: 0;
  margin-bottom: 8px;
  font-size: 21px;
  line-height: 24px;
}

#qeel_drawer #qeel_online,
#qeel_drawer #qeel_48h {
  height: auto !important;
  max-height: webkit-fill-available !important;
  min-height: 0px !important;
  overflow: initial !important;
  
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px !important;
  background: var(--bg2) !important;
  border-radius: 12px !important;
}
#qeel_drawer #loggedin, 
#qeel_drawer #latest {
  text-align: center;
  height: auto !important;
  max-height: webkit-fill-available !important;
  min-height: 0px !important;
  overflow: initial !important;
  font-size: 14px !important;
  line-height: 40px;
  width: 100%;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#qeel_drawer div > br { display: none; }
#qeel_drawer div > a {
  display: grid;
  text-align: left;
  align-items: center;
  /* grid-template-columns: 32px auto max-content; */
  grid-template-columns: auto max-content;
  gap: 12px;
  padding: 8px;
  border-radius: 8px;
  transition: var(--transi);
  position: relative;
}
#qeel_drawer div > a:hover {
  background-color: rgba(var(--bg1_rgb),0.5);
}
#qeel_drawer .tag {
  order: 3;
  font-size: 10px;
  line-height: 13px;
  height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--light_1);
  padding: 2px 6px;
  background: rgba(var(--co2_rgb),0.5);
  border-radius: 4px;
  border: 1px var(--co2) solid;
}
#qeel_drawer a > span:first-of-type:not(.tag),
#qeel_drawer a > span:first-of-type:not(.status) {
  order: 2;
  text-align: left;
  line-height: 24px;
  height: fit-content;
}
#qeel_drawer a > span > strong {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
#qeel_drawer a > img {
  order: 1;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

#qeel_drawer #qeel_48h a { opacity: 0.5 !important; }

#qeel_drawer #qeel_48h {
  text-align: center;
  color: var(--text);
  font-size: 12px;
  overflow: auto !important;
  height: -webkit-fill-available !important;
  max-height: -webkit-fill-available;
  border-right: 8px solid var(--bg2);
}
#qeel_drawer #qeel_48h::-webkit-scrollbar {
  background-color: var(--bg1);
}
#qeel_drawer #qeel_48h::-webkit-scrollbar-track {
  border: 3px solid var(--bg2);
}
#qeel_drawer #qeel_48h::-webkit-scrollbar-thumb {
  border: 2px solid var(--bg2);
}
#qeel_drawer #qeel_48h::-webkit-scrollbar-button:start:increment,
#qeel_drawer #qeel_48h::-webkit-scrollbar-button:end:decrement {
  display: block;
  height: 8px;
  background-color: var(--bg2);
}


/* --- STATUTS STYLES --- */
#qeel_drawer a > span.status {
  z-index: 2;
  border: 3px solid var(--bg2) !important;
  background: #009b54;
  position: absolute;
  bottom: 6px;
  left: 30px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
#qeel_drawer #qeel_48h a > span.status {
  display: none;
}
#qeel_drawer a > span.status.pres {
    background: #009b54;
    border: 1px solid var(--bg1);
}
#qeel_drawer a > span.status.abs {
    background: #f6a93e;
}
#qeel_drawer a > span.status.abs:after {
    width: 5.5px;
    height: 5.5px;
    background: var(--bg2) !important;
    display: block;
    content: " ";
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#qeel_drawer a > span.status.presred {
    background: #ff3940;
    border: 1px solid var(--bg1);
}
#qeel_drawer div#loggedin a .status.presred:after, 
#qeel_drawer div#latest a .status.presred:after {
  width: 5px;
  height: 2px;
  background: var(--bg2);
  display: block;
  content: " ";
  position: absolute;
  top: 3px;
  left: 1.5px;
  border-radius: 1px;
}
