/* PA (reset) */
.forumline.paccueil {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background: none;
}

.forumline.paccueil .row1 {
    padding: 0px;
}

td.row1,
td.row3.over:hover {
    background: none;
}

/* 
    
    global
    
*/

* {
    padding: 0;
    margin: 0;
}
.imo_pa {
    max-width: 1000px;
    height: 366px;
    display: grid;
    grid-template-columns: 244px auto;
    width: 100%;
    grid-gap: 1px;
}
.imo_pa * {
    color: white;
}
.imo_pa i {
    color: white !important;
}
.imo_pa_infos,
.imo_pa_news {
    background: var(--bgcat);
    backdrop-filter: blur(6px);
    padding: 16px;
}

.imo_pa_news {
    z-index: 2;
    border-radius: 0 var(--radiuscat) var(--radiuscat) 0;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 0.6fr 0.5fr 1fr;
    grid-gap: var(--paddingcat);
}
.context_description {
    grid-area: 1 / 1 / 1 / 3;
}
.context_description_border {
    padding: var(--paddingmid);
    background-color: rgb(var(--bg1_rgb), 0.1);
    border-radius: var(--radiuscat);
}
.context_description_container {
    position: relative;
    background-color: rgb(var(--bg1_rgb), 0.1);
    padding: 8px;
    border-radius: var(--radiusmid);
    height: 105px;
}
.context_description_container:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radiusmid);
    padding: 1px;
    background: linear-gradient(130deg, var(--co1), var(--co2), var(--co3));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}
.context_description_content {
    position: relative;
    height: 100%;
    overflow: auto;
    padding-right: 8px;
    z-index: 2;    
    font-size: 12px;
    line-height: 150%;
}
.context_description_content a {
    border-bottom: var(--white);
    padding-bottom: 1px;
    opacity: 0.6;
    transition: var(--transi);
}
.context_description_content a:hover {
    opacity: 1;
}

.context_time {
    grid-area: 1 / 3 / 1 / 4;
}
.time_weather > div:nth-of-type(1) {
    background-color: rgb(var(--bg1_rgb), 0.1);
    padding: 8px;
    border-radius: var(--radiusmid);
    display: grid;
    grid-gap: var(--paddingmid);
}
.time_weather > div:nth-of-type(1) > span {
    width: 100%;
    display: flex;
}
.time_weather > div:nth-of-type(1) > span year {
    margin-left: auto;
    opacity: 0.6;
}
.time_weather_description {
    display: flex;
    align-items: flex-start;
}
.time_weather_description ion-icon {
    font-size: 36px;
    padding: 7px;
    border-radius: var(--radiusmin);
    background-color: var(--co2);
    height: 18px;
    width: 30px;
    margin-right: 8px;
}
.time_weather_description span {
    background-color: rgb(var(--bg1_rgb), 0.1);
    padding: 8px;
    border-radius: var(--radiusmin);
    font-size: 12px;
    line-height: 150%;
}
.time_links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--paddingmid);
    margin-top: 8px;
}
.time_links a {
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-style: italic;
    font-size: 9px;
    letter-spacing: 0.5px;
    background-color: rgb(var(--bg1_rgb), 0.1);
    border-radius: var(--radiusmin);
    padding: 1px 8px;
    transition: var(--transi);
}
.time_links a:before {
    position: absolute;
    display: inline-block;
    content: "・";
    font-weight: 600;
    color: white;
    font-size: 11px;
    line-height: 16px;
    left: -16px;
    top: 2px;
    transition: var(--transi);
}
.time_links a:hover {
    background-color: rgb(var(--bg1_rgb), 0.2);
    padding-left: 20px;
}
.time_links a:hover:before {
    left: 4px;
}

.actus_pls {
    grid-area: 2 / 1 / 2 / 2;
    background-color: rgb(var(--bg1_rgb), 0.1);
    padding: 8px;
    border-radius: var(--radiusmid);
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 8px;
}
.actus_pls div {
    overflow-x: auto;
    height: 157px;
    padding-right: 8px;
}
.actus_pls a:last-of-type {
    margin-bottom: 0px;
}
.actus_pls a {
    position: relative;
    overflow: hidden;
    text-align: left;
    display: block;
    margin-bottom: 8px;
    padding: 11px 8px;
    font-weight: 400;
    line-height: 16px;
    color: var(--blanc);
    background: rgba(var(--blanc_rgb), 0.1);
    border-radius: var(--radiusmin);
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: var(--transi);
    min-height: 16px;
}
.actus_pls a:hover {
    background: rgba(var(--blanc_rgb), 0.3);
}
.actus_pls a span.pa_pls_title,
.actus_pls a span.pa_pls_author {
    position: absolute;
    transition: var(--transi);
}
.actus_pls a span.pa_pls_title {
    top: 3px;
}
.actus_pls a span.pa_pls_author {
    top: 25px;
}
.actus_pls a span.pa_pls_author author {
    top: 20px;
    font-family: var(--secondary-font);
    font-size: initial;
    text-transform: lowercase;
    font-style: italic;
    font-weight: 400;
    text-shadow: 0 0 4px var(--blanc);
}
.actus_pls a:hover span.pa_pls_title {
    top: -25px;
}
.actus_pls a:hover span.pa_pls_author {
    top: 2px;
}

.actus_win {
    grid-area: 2 / 2 / 2 / 3;
    display: grid;
    grid-gap: var(--paddingcat);
    grid-template-rows: auto 1fr;
}
.actu_win_mdm,
.actu_win_house {
    background-color: rgb(var(--bg1_rgb), 0.1);
    padding: 8px;
    border-radius: var(--radiusmid);
}
.actu_win_mdm {
    display: grid;
    grid-gap: var(--paddingmid);
}
.win_mdm_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    height: 60px;
}
.win_mdm_list a {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.win_mdm_list a name {
    position: absolute;
    z-index: 2;
    font-weight: 600;
    font-size: 10px;
    transition: var(--transi);
    opacity: 0;
}
.win_mdm_list a:hover name {
    opacity: 1;
}
.win_mdm_list a img {
    width: 100%;
    height: 100%;
    filter: blur(0px) grayscale(1);
    object-fit: cover;
    opacity: 0.8;
    transition: var(--transi);
}
.win_mdm_list a:hover img {
    filter: blur(2px) grayscale(1);
}

.actu_win_house {
    position: relative;
    overflow: hidden;
}
.actu_win_house win {
    display: block;
    margin-top: var(--paddingcat);
    font-family: var(--special-font);
    font-size: 24px;
    letter-spacing: 0.2px;
    width: 100%;
}
.actu_win_house:before {
    z-index: -1;
    content: "地";
    display: block;
    position: absolute;
    right: -15px;
    bottom: 25px;
    font-size: 60px;
    color: var(--bgcat);
    opacity: 0.5;
}
.actu_win_house.sui:before {
    content: "風義";
}
.actu_win_house.hii:before {
    content: "火勇";
}
.actu_win_house.fug:before {
    content: "水誠";
}
.actu_win_house.doj:before {
    content: "土仁";
}
.actu_win_house.dai:before {
    content: "雷誉";
}

.actus_news {
    display: grid;
    grid-template-rows: 0.2fr auto;
}
.actus_news .news_container {
    background-color: rgb(var(--bg1_rgb), 0.1);
    padding: 8px;
    border-radius: var(--radiusmid);
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 167px;
}
.news_container div {
    display: flex;
}
.news_container div:not(:nth-of-type(1)) {
    padding-top: 8px;
}
.news_container date {
    font-size: 10px;
    letter-spacing: 0.5px;
    width: fit-content;
    height: fit-content;
    margin-right: 8px;
    background: linear-gradient(90deg, var(--co2), var(--co4));
    padding: 1px 4px;
    border-radius: 2px;
    font-weight: 600;
}
.news_container hr {
    border: none;
    border-bottom: 1px solid rgb(var(--bg1_rgb), 0.2);
    padding: 4px 0;
}

.news_container span {    
    font-size: 12px;
    line-height: 150%;
}

.imo_pa_infos {
    z-index: 3;
    border-radius: var(--radiuscat) 0 0 var(--radiuscat);
    display: grid;
    grid-template-rows: 0.1fr 0.7fr 60px auto;
    grid-gap: 1px;
}
.imo_pa_infos > div {
    background-color: rgb(var(--bg1_rgb), 0.1);
    padding: var(--paddingmid);
}

.imo_pa_nav {
    border-radius: var(--radiusmid) var(--radiusmid) 0 0;
    display: grid;
    grid-gap: 8px;
}
.pa_nav_icons {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto;
    grid-gap: 8px;
}
.pa_nav_icons a {
    position: relative;
    width: fit-content;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7px;
    background-color: rgb(var(--bg1_rgb), 0.2);
    border-radius: var(--radiusmin);
    transition: var(--transi);
}
.pa_nav_icons a:hover {
    background-color: var(--bg1);
}
.pa_nav_icons a:hover ion-icon {
    color: var(--co2);
}
.pa_nav_icons a span {
    z-index: 5;
    opacity: 0;
    position: absolute;
    font-size: 9px;
    background-color: var(--co2);
    color: white;
    padding: 0 4px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    font-weight: 600;
    text-align: left;
    width: fit-content;
    top: -12px;
    text-transform: uppercase;
    left: 16px;
    transition: var(--transi);
}
.pa_nav_icons a:hover span {
    opacity: 1;
}

.imo_pa_newsletter {
    z-index: 0;
    position: relative;
    overflow: hidden;
}
.imo_pa_newsletter:before {
    display: block;
    content: "";
    background: url(https://images2.imgbox.com/cf/8f/5hZ2eugE_o.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0 -90px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.2;
    transition: var(--transi);
}

.pa_newsletter_content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pa_newsletter_content:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radiusmin);
    padding: 1px;
    background: linear-gradient(130deg, var(--co1), var(--co2), var(--co3));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: xor;
}
.imo_pa_newsletter:hover:before {
    transform: scale(1.4);
    opacity: 0.5;
}
.imo_pa_newsletter .imo_pa_s-title {
    transition: var(--transi);
    z-index: 1;
}
.imo_pa_newsletter:hover .imo_pa_s-title {
    transform: scale(1.1);
}

.imo_pa_staff {
    border-radius: 0 0 var(--radiusmid) var(--radiusmid);
    display: grid;
    grid-gap: var(--paddingmid);
}
.pa_staff_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    height: 40px;
}
.pa_staff_list a.abs:after,
.pa_staff_list a.pr:after {
    content: "";
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 8px;
    padding-left: 4px;
}
.pa_staff_list a.abs:after {
    content: "abs";
    background: linear-gradient(40deg, var(--co2) 14%, transparent 45%);
}
.pa_staff_list a.pr:after {
    content: "pr";
    background: linear-gradient(40deg, var(--co4) 14%, transparent 45%);
}
.pa_staff_list a {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
}
.pa_staff_list a img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    opacity: 0.8;
    transition: var(--transi);
}
.pa_staff_list a:hover img {
    opacity: 1;
}
.pa_staff_infos {
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(var(--bg1_rgb), 0.2);
    font-size: 11px;
}

/* titres pa */
.imo_pa_title {
    font-family: var(--special-font);
    color: white;
    font-size: var(--fontsize-xl);
    line-height: 32px;
}
.imo_pa_s-title {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}
