:root {
    overflow-x: hidden;
    overflow-y: scroll;
    --spacing-xxl: 48px;
    --spacing-xl: 40px;
    --spacing-l: 32px;
    --spacing-md: 24px;
    --spacing: 16px;
    --spacing-s: 8px;
    --spacing-xs: 4px;
    --paddingcat: 16px;
    --paddindmid: 8px;
    --paddingmin: 2px 4px;
    --font1: "Geist Sans";
    --font2: "Lexend";
    --font3: "Philosopher";
    --font4: "Bodoni Moda";
    --font5: "Judson";
    --font6: "Geist Mono";
    --font-jp: "Noto Sans JP";
    --font-texte: var(--font1), "Noto Sans JP", Helvetica, Arial, sans-serif;
    --font-secondaire: var(--font4), Times New Roman, serif;
    --font-titre: var(--font3), Times New Roman, var(--font-texte);
    --font-code: var(--font6), monospace;
    --letter-space: 0.5px;
    --text: #818181;
    --dark_1: #020E19;
    --dark_1_rgb: 2, 14, 25;
    --dark_2: #1C2730;
    --dark_2_rgb: 28, 39, 48;
    --dark_3: #666B6F;
    --dark_3_rgb: 102, 107, 111;
    --light_3: #C7C7BF;
    --light_3_rgb: 199, 199, 191;
    --light_2: #EBEBE7;
    --light_2_rgb: 235, 235, 231;
    --light_1: #FBFAF5;
    --light_1_rgb: 251, 250, 245;
    --co1: #44617B;
    --co1_rgb: 68, 97, 123;
    --co1_light: #9db2c4;
    --co1_light_rgb: 157, 178, 196;
    --co2: #DBAF97;
    --co2_rgb: 219, 175, 151;
    --co3: #bfbfbf;
    --co4: #6C7487;
    --co4_rgb: 108, 116, 135;
    --co2_svg: %23DBAF97;
    --neutral_1: var(--bg1);
    --transp_1: var(--bg1_transp_5);
    --neutral_2: var(--bg2);
    --transp_2: var(--bg2_transp_5);
    --tx_content: var(--text);
    --tx_contrast: var(--text-contrast);
    --fug: #AD90B8;
    --fug_rgb: 173, 144, 184;
    --sui: #93c9c4;
    --sui_rgb: 147, 201, 196;
    --rai: #e6cf95;
    --rai_rgb: 230, 207, 149;
    --hii: #d07f7f;
    --hii_rgb: 242, 155, 155;
    --doj: #acc79a;
    --doj_rgb: 172, 199, 154;
    --gradient: linear-gradient(to right, var(--co1), var(--co2), var(--co3));
    --gradient_vert: linear-gradient(to bottom, var(--co1), var(--co2), var(--co3));
    --fond-light: url(https://i.imgur.com/V4HV7PE.png);
    --transi: all 0.3s ease;
    --drawer_width: 400px;
}

html,body{
    --bg1: var(--light_1);
    --bg1_rgb: var(--light_1_rgb);
    --bg2: var(--light_2);
    --bg2_rgb: var(--light_2_rgb);
    --bg3: var(--light_3);
    --bg3_rgb: var(--light_3_rgb);
    --contrast: var(--dark_1_rgb);
    --text: #5d5b5b;
    --bg1_transp_7: rgba(var(--light_1_rgb), 0.7);
    --bg1_transp_5: rgba(var(--light_1_rgb), 0.5);
    --bg2_transp_7: rgba(var(--light_2_rgb), 0.7);
    --bg2_transp_5: rgba(var(--light_2_rgb), 0.5);
    --light_transp_2: rgba(var(--dark_1_rgb), 0.2);
    --font: var(--text);
    --text-contrast: var(--dark_2);
    --text-contrast_rgb: var(--dark_2_rgb);
    --gradient_hover: linear-gradient(to right, var(--co1), var(--co2), var(--co1));
    --gradient_co1: linear-gradient(136deg, #83A5BC, #C5D9E7, #83A5BC);
    --gradient_co2: linear-gradient(136deg, #D79F81, #EFC8B2, #D79F81);
    background-color: var(--bg2);
    --neutral_1: var(--bg1);
    --transp_1: var(--bg1_transp_5);
    --neutral_2: var(--bg2);
    --transp_2: var(--bg2_transp_5);
    --tx_content: var(--text);
    --tx_contrast: var(--text-contrast);
    --gradient_tit: var(--gradient);
    --special-font: var(--font-titre);

    font-family: var(--font-texte) !important; 
}

#header{
    background: linear-gradient(45deg, #44617B, #DBAF97);
    color: white;
    height: 56px;
    line-height: 56px;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 99;
}
#header h1{
    font-family: var(--font-titre) !important;
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 0 16px !important;
}
#header i {
    color: white;
}
#header #mSearchBtn i {
    vertical-align: 0px;
}
#header .mobile_prev_button {
    line-height: 40px;
    margin-top: 8px;
}
#header .mobile_prev_button:after{
    height: 40px;
    line-height: 40px;
}
#header .mobile_prev_button + h1 {
    margin-left: 40px;
}
#header #mNotificationBtn, #header #mSearchBtn {
    height: 40px;
    top: 8px;
    width: 40px;
}
#header #mNotificationBtn ~ #mSearchBtn {
    right: 104px;
}
#header #mToggleArrow:hover {
    background-color: var(--co1);
}

#header #mNotificationBtn:before,
#header #mNotificationBtn:after,
#header #mToggleArrow:after{
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    color: white;
}
#header #unread_notif {
    background-color: var(--co1);
    border-radius: 3px;
    font-size: 12px;
    height: 18px;
    left: 20px;
    line-height: 18px;
    opacity: 0;
    padding: 0 4px;
    position: absolute;
    top: 0px;
    z-index: 1;
    color: white;
}
#header #mToggleArrow {
    height: 40px;
    top: 8px;
    right: 8px;
    width: 40px;
}
#header #mNavbar{
    top: 56px;
    padding: 0px;
    font-size: 12px;
    box-shadow: 4px 0px 8px #00000011;
}
#header .navElement {
    padding: 8px 16px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header .navElement:not(:last-of-type) {
    border-bottom: 1px solid var(--bg2) !important;
}
#header .navElement > .navBtnIcon {
    margin-right: 16px;
}
.switch-button-layer { background-color: var(--bg2); }

#header #mNavbar {
    background-color: var(--bg1);
    box-shadow: none;
    color: var(--text);
    border-radius: 0 0 0 16px;
    display: none;
    left: auto;
    line-height: 1.5;
    list-style: none;
    padding: 10px 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 76px;
    z-index: 100;
    transition: none;
    box-shadow: none;
    top: 56px;
    padding: 0px;
    font-size: 14px;
    z-index: 9999999 !important;
}
#header .navElement > .navBtnLabel {
    color: var(--text-contrast);
}
#header .navElement > .navBtnIcon .material-icons{
    font-size: 20px;
    color: var(--co2);
}
#header #unread_notif_menu {
    top: 12px !important;
    background-color: var(--co1);
    color: white;
    border-radius: 4px;
}
#profile_nav_btn{
    border-bottom: 1px solid #333;
}
#profile_nav_btn > span.navBtnLabel > div{
    display: none;
}

#tab-bar {
    box-shadow: -4px 0px 8px #00000011;
    border-radius: 16px 16px 0 0;
    background-color: transparent;
    overflow: hidden;
}
#tab-bar ul {
    background: var(--bg2);
    gap: 1px;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
}
#tab-bar a {
    background-color: var(--bg1);
    display: flex;
    padding: 8px;
    height: 100%;
    flex-direction: column;
    gap: 8px;
}

#tab-bar i{
    font-size: 20px;
    color: #DBAF97;
}
.rep-button i{
    color: #DBAF97;
}
#tab-bar span {
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: var(--text-contrast);
    font-family: var(--font-texte);

}
.btn-floating,
.btn,
.btn-rep-topic{
    background-image: linear-gradient(to right, #44617B, #DBAF97);
    color: white !important;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    border-radius: 24px;
}
.quickmod { display: none; }

.breadcrumbs{
    background-image: var(--gradient);
    padding: 8px 16px;
    margin: 0;
    font-size: 14px !important;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px 8px;
}
.breadcrumbs .nav {
    background-color: transparent;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.breadcrumbs .nav:first-child {
    font-size: 16px;
    font-family: var(--font-titre);
    line-height: 28px;
}
div.breadcrumbs a span.jp{
    display: none!important;
}

.page-desc-content div{
    float: none;
    text-align: center;
}

.forum {
    box-shadow: none;
    border-radius: 16px;
    margin: 16px;
    overflow: hidden;
}

.forum h2 {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    padding: 8px 12px;
    line-height: 24px;
    height: 40px;
    background-color: var(--bg1);
    color: var(--text);
    border-bottom: 1px solid var(--bg2);
}
.forum h2 span {
    margin-right: 32px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    line-height: 24px;
    width: 300px;
    width: fit-content;
    background-image: var(--gradient);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-shadow: 0 0 #00000000 !important;
}
.forum-hide {
    right: 8px;
    height: 40px;
    top: 0px;
    background-blend-mode: difference;
    mix-blend-mode: difference;
}
.forum-content h3 {
    display: block;
    text-align: left;
    text-transform: initial;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 8px;
    font-family: var(--font-titre);
    font-size: 20px;
    color: var(--text-contrast);
}

.forum-content h3 span.jp{ display: none;}
.forum-statistics {
    display: none!important;
}
.forum-description {
    display: none!important;
    font-size: 12px;
    line-height: 18px;
    overflow-wrap: break-word;
    max-height: 64px;
    overflow: auto;
    display: block;
    margin: 16px 0px 16px 0px;
    width: 100%;
    color: #999;
}
.forum-lastpost-wrap {
    position: relative;
    top: -8px;
    margin-top: 0px;
    margin-bottom: -16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 0;
}

.forum-lastpost-wrap i{ display: none!important; }
.forum-lastpost {
    font-size: 14px;
    color: var(--text-contrast);
}
.forum-lastpost-time {
    font-size: 14px;
}

.forum-avatar img {
    opacity: 1 !important;
}

#page-desc {
    display: none;
    font-size: 20px;
    line-height: 32px;
    padding: 0px;
}
.box-subtle:not(.box-widget-bottom) {
    background-color: transparent;
    box-shadow: none;
    border-width: 0px;
    color: white;
    font-family: var(--special-font);
    margin: 0px;
    padding: 16px;
    padding-bottom: 0px;
}
.h3, .post-details {
    font-size: 12px;
}

.forum-section, .preview-section {
    background-color: var(--bg1);
}

.box-subtle {
    background-color: rgba(255, 255, 255, 0.7) !important;
    margin: 16px 8px !important;
    background-color: var(--bg1) !important;
    margin: 16px !important;
    box-shadow: none !important;
    border: none;
    border-radius: 16px;
    color: var(--text);
    font-size: 14px;
    line-height: 28px;
}
.box-subtle h2, .box-subtle .box-header {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 400;
    font-family: var(--font-titre);
    color: var(--text-contrast);
}
.whoisonline-toggle, .whoisonline-guest-toggle {
    background-image: linear-gradient(to right, var(--co1), var(--co2));
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0 8px;
    border-radius: 4px;
    width: fit-content;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.btn-floating-left{
    background-color: #44617B;
}

main .mobile_title {
    margin: 16px auto;
    background-color: transparent;
    width: 100%;
    padding: 0 16px;
    border-radius: 8px;
}

.poster-list{ display: none; }
textarea.input-subtle{
    padding: 8px;
    background-color: var(--bg1);
    border: 0px solid;
}
.box-subtle:not(.box-widget-bottom){
    padding-bottom: 8px;
}


.whoisonline-modal, .whoisonline-guest-modal, .poster-more-modal {
    position: fixed;
    margin: 0px !important;
    top: 0px !important;
    width: 100% !important;
    max-width: 100% !important;
    bottom: auto !important;
    left: 0px !important;
    transform: none !important;
    z-index: 99;
    background: transparent;
    border: none;
    border-radius: 0px !important;
    overflow: hidden;
    box-shadow: 4px 0px 8px #00000011 !important;
}
.whoisonline-modal { 
    height: 100%; 
    backdrop-filter: blur(2px);
}
.whoisonline-modal::after {
    display: block;
    content: "";
    width: 100%;
    height: -webkit-fill-available;
    background-image: var(--gradient);
    opacity: 0.5;
}

.whoisonline-title, .poster-more-title {
    background-image: linear-gradient(to right, var(--co1), var(--co2));
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.whoisonline-title .whoisonline-close {
    position: initial !important;
}
.poster-more-list, .whoisonline-list {
    max-width: 100%;
    max-height: 400px;
    padding: 16px;
    background: var(--bg2);
    border-radius: 0 0 16px 16px;
}
.whoisonline-category {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    padding: 4px 0;
    width: fit-content;
    background-color: var(--bg2);
}
.whoisonline-category::before { display: none; }
.whoisonline-category:not(:first-of-type) {
    margin-top: 8px;
}
.whoisonline-user {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 28px;
    border-bottom: 1px solid var(--bg2);
    text-align: left;
    background: var(--bg1);
}

.forum-icon img {
    height: 36px;
    object-fit: cover;
    object-position: center;
}

.forum-content h3 {
    font-family: var(--font-texte);
    font-weight: 500;
    font-size: 16px;
}
.forum-content > a {
    display: flex;
    align-items: center;
}
.forum-content > a > h3 {
    font-family: var(--font-titre) !important;
    font-size: 20px !important;
    line-height: 32px;
    font-weight: normal !important;
    margin-bottom: 0px !important;
}
.forum-content h3 > a {
    color: var(--text-contrast);
}
.forum-lastpost {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.forum-lastpost-wrap > .forum-lastpost {
    display: block;
}

.search-topic-category {
    width: fit-content;
    background-color: var(--bg2);
    color: var(--text) !important;
    font-weight: 500;
    margin-top: 8px;
}
.forum-lastpost-wrap {
    position: relative;
    top: 0px;
    margin-top: 8px;
    margin-bottom: -16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 0;
}
.forum-icon {
    background-color: var(--co1);
}

.lazyload { opacity: unset !important; }
.topic img.lazyload {
    background-color: transparent;
}

.post-section {
    background: var(--bg1);
    border-radius: 16px;
    box-shadow: none;
    overflow: hidden;
    border: none;
    color: var(--text);
    padding-bottom: 4px;
}
.post-head {
    padding-bottom: 8px;
    position: relative;
    border-bottom: 1px solid var(--bg2);
}
.post-icon img {
    width: 36px;
    object-fit: cover;
    object-position: center;
}
.h3, .post-details {
    font-size: 14px;
    color: var(--text);
}
.fa_like_div {
    margin-top: 16px;
    margin-bottom: 16px;
}
.fa_like_list, .fa_dislike_list, .option_voters_list {
    background-color: var(--bg2);
    border-radius: 8px;
    color: var(--text);
    padding: 4px 8px;
    font-size: 14px;
}
.fa_like_list a, .fa_dislike_list a {
    color: var(--text-contrast) !important;
    font-weight: 500;
}
.rep-button, .rep-button:focus, .rep-button:active {
    padding: 0 12px;
    font-size: 14px;
}
.quick-reply .btn-mini { display: none; }
.quick-reply textarea.input-subtle {
    padding: 8px;
    background-color: var(--bg2);
    border: 0px solid;
    border-radius: 8px !important;
    margin-bottom: 16px;
}

.post-content {
    margin-top: 16px;
    font-size: 14px;
    line-height: 24px;
    color: var(--text);
}
.guide_Contenu > br {
    display: none;
}