/* ------ PAGE D'ACCUEIL ------ */
/* -- RESET STYLE -- */
#content-container #left,
#content-container #right{
  float: initial !important;
  width: 100%;
  display: flex;
  gap: 24px;
}
#content-container #container {
  margin: auto !important;
}
#left.pa_widgets div.h3 { 
  display: none;
}
.module {
  background: transparent;
  color: unset;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  font-size: 14px;
  overflow: auto;
}
.mod-stats-user {
  margin: 0;
  padding: 0;
  background: transparent !important;
}
.mod-stats-user strong { font-weight: normal !important; }

/* -- PA STRUCTURE -- */
.pa_widgets {
  max-width: 100%;
  margin: 0px 0 40px 0;
  margin-top: -3px;
  padding: 48px 32px;
  background-image: linear-gradient(to right, transparent, var(--bg1_transp_7) 20%, var(--bg1_transp_7) 80%, transparent) !important;
}
.pa_widgets > .pa_widgets_grid {
  display: grid !important;
  padding: 0;
  grid-gap: 24px !important;
  max-width: 1280px !important;
  width: 100%;
}
.pa_widgets > div > div {
  position: relative;
  z-index: 2;
}

/* ------ WIDGET CAROUSEL ------ */
.dots-container {
  margin-bottom: -24px;
  display: flex;
  gap: 8px;
  grid-column: 1 / 2;
  justify-content: center;
  position: relative;
  top: -24px;
  z-index: 3;
  padding: 0 8px;
}
.dots-container > span.dot {
  background: var(--bg1);
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  transition: all ease 0.5s;
}
.dots-container > span.dot.active { width: 24px; }
.module ul { list-style-type: none !important; }

div.carousel-container {
  position: relative;
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  grid-gap: 0px 8px;
}
div.carousel-container:before {
  position: absolute;
  display: block;
  top:8px;
  left:8px;
  width: calc(63% - 16px);
  height: calc(100% - 16px);
  border-radius: 8px;
  content: " ";
  background: var(--bg1);
  background-image: url("https://i.imgur.com/Iu6qgy8.gif");
  background-size: cover;
  mix-blend-mode: hard-light;
  opacity: 0.05;
  z-index: 2;
}

div.carousel-container > div.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -96px;
  height: 24px;
  z-index: 8 !important;
  padding: 0 8px;
  margin-bottom: -96px;
}
div.carousel-container > div.nav > a {
  background: var(--bg1);
  padding: 4px;
  font-size: 16px;
  color: var(--text-contrast);
  transiton: var(--transi);
}
div.carousel-container > div.nav > a.nav-prev { border-radius: 0px 4px 4px 0px; }
div.carousel-container > div.nav > a.nav-next { border-radius: 4px 0px 0px 4px; }
div.carousel-container > div.nav > a:hover {
  color: var(--co2);
  cursor: pointer;
}
div.news-en-cours {
  position: relative;
  height: 100%;
  background: var(--bg1_transp_5);
  border-radius: 12px;
  overflow: hidden;
  padding: 8px;
}
div.news-en-cours:before {
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  content: " ";
  background: var(--bg1);
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border-radius: 8px;
  z-index: 1;
}
div.news-en-cours:after {
  position: absolute;
  display: block;
  top:8px;
  left:8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border-radius: 8px;
  content: " ";
  background-image: url("https://i.imgur.com/Iu6qgy8.gif");
  background-size: contain;
  mix-blend-mode: hard-light;
  opacity: 0.15;
  z-index: 3;
}
div.news-en-cours > img {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border-radius: 8px;
  object-fit: cover;
  filter: grayscale(1);
  transition: var(--transi);
}
div.news-en-cours:hover > img { filter: grayscale(0); }
div.news-en-cours > div.contenu {
  position: absolute;
  bottom: 8px;
  left: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  padding: 24px 40px;
  z-index: 4 !important;
  justify-content: flex-end;
  background-image: radial-gradient(circle at bottom left, rgba(var(--bg1_rgb), 1) 0%, rgba(var(--bg1_rgb), 0.2));
  /* backdrop-filter: blur(4px); */
}
div.news-en-cours > div.contenu > h3 {
  border: 0;
  font-family: var(--font-titre);
  margin: 0;
  padding: 0;
  color: var(--text-contrast);
  letter-spacing: 0;
  font-size: 28px;
  line-height: 40px;
  text-align: left;
}
ul.news-list {
  height: 241px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--bg1);
  border-radius: 12px;
  border-right: 4px solid var(--bg1);
  padding: 8px 5px 8px 8px;
  overflow-y: scroll;
  width: calc(100% + -8px);
  box-sizing: content-box !important;
}
div.news-list {
  border-radius: 12px;
  overflow: hidden;
}
ul.news-list::-webkit-scrollbar-button:start:increment {
  height: 8px;
  display: block;
  background: var(--bg1);
}
ul.news-list::-webkit-scrollbar-button:end:decrement {
  height: 8px;
  display: block;
  background: var(--bg1);
}
ul.news-list > li > div.news-item {
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  position: relative;
  transition: opacity 0.5s ease;
  z-index: 1;
  opacity: 0.5;
  background: var(--bg2_transp_5);
}
ul.news-list > li > div.news-item.active { opacity: 1; }
ul.news-list > li > div.news-item > img {
  display: none;
  width: 72px;
  height: 100%;
  max-height: 112px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}
ul.news-list > li > div.news-item > div.contenu {
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 24px;
  grid-gap: 4px;
  padding: 12px;
  width: 100%;
  align-content: start;
  align-items: start; 
  z-index: 3;
}
ul.news-list > li > div.news-item > div.contenu > h3 {
  border: 0;
  margin: 0;
  padding: 0;
  color: var(--text-contrast);
  letter-spacing: 0;
  text-align: left;
  font-weight:500;
  font-size: 14px;
}
ul.news-list > li > div.news-item > div.contenu > h4,
div.news-en-cours > div.contenu > h4 {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--text);
}
ul.news-list > li > div.news-item > div.contenu > h4 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
ul.news-list > li > div.news-item > div.contenu > a,
div.news-en-cours > div.contenu > a {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  gap: 4px;
  align-items: center;
}
ul.news-list > li > div.news-item > div.contenu > a {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 4px;
}
ul.news-list > li > div.news-item > div.contenu > a > span { display: none; }
ul.news-list > li > div.news-item > div.contenu > a > ion-icon { font-size: 14px; }

/* ------ WIDGET DERNIER INSCRIT ------ */
.pa_widgets #Statistiques > span:not(.mod-stats-user) {
  display: none!important;
}
.pa_widgets #Statistiques .mod-stats-user {
  padding: 8px 0;
  font-size: 0px;
  line-height: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  margin-top: -12px;
}
.pa_widgets #Statistiques .mod-stats-user:after {
  width: fit-content;
  content: "Dernier.e Arrivant.e";
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 6px;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: var(--letter-space);
  font-weight: 600;
  transition: var(--transi);
  border-radius: 4px;
  border: 1px solid var(--co2);
  background: rgba(var(--co2_rgb), 0.4);
  color: var(--light_1);
}
.pa_widgets #Statistiques .mod-stats-user > a,
.pa_widgets #Statistiques .mod-stats-user > strong {
  display: flex;
  flex-direction: column;
  align-content: end;
  align-items: flex-end;
  gap: 0px;
}
.pa_widgets #Statistiques .mod-stats-user > a:before,
.pa_widgets #Statistiques .mod-stats-user > strong:before{
  display: inline-block;
  content: "Bienvenue à";
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
  color: var(--text-contrast);
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 1px;
  order: 2;
}
.pa_widgets #Statistiques .mod-stats-user > a > span.avatar,
.pa_widgets #Statistiques .mod-stats-user > strong > span.avatar{
  width: 72px;
  height: 108px;
  border-radius: 8px;
  order: 1;
  margin-bottom: 16px;
  position: relative;
  overflow: visible;
  border: 0 !important;
  box-shadow: none !important;
}
.pa_widgets #Statistiques .mod-stats-user > a > span.avatar img,
.pa_widgets #Statistiques .mod-stats-user > strong > span.avatar img{
  width: 72px;
  height: 108px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border: 4px var(--bg1) solid;
}
.pa_widgets #Statistiques .mod-stats-user > a > span.avatar:before,
.pa_widgets #Statistiques .mod-stats-user > strong > span.avatar:before {
  transition: var(--transi);
  background: var(--gradient_vert);
  opacity: 1;
  z-index: 2;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.pa_widgets #Statistiques .mod-stats-user > a > span,
.pa_widgets #Statistiques .mod-stats-user > strong > a {
  text-align: right;
  order: 3;
}
.pa_widgets #Statistiques .mod-stats-user > a > span > strong,
.pa_widgets #Statistiques .mod-stats-user > strong > a {
  font-family: var(--font-titre);
  font-weight: normal;
  font-size: 21px;
  line-height: 24px;
  color: var(--text-contrast) !important;
  text-shadow: var(--bg1) 1px 1px 0px;
}

/* ------ WIDGET NEWS ------ */
.pa_widgets #News {
  padding: 8px;
  overflow: hidden !important;
  height: max-content;
  background-color: var(--bg1_transp_5) !important;
  backdrop-filter: blur(2px);
  min-width: 320px;
  max-width: 100%;
  border-radius: 16px;
  width: 100% !important;
}

/* ------ WIDGET NAVIGATION ------ */
.pa_widgets #Navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0px;
  padding: 8px;
  background: var(--bg1_transp_5);
  border: 1px solid var(--bg2);
  border-radius: 16px;
}
.pa_widgets #Navigation > a {
  gap: 8px;
  width: 100%;
  display: flex;
  align-self: center;
  font-size: 14px;
  justify-content: space-between;
  color: var(--text-contrast);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  justify-items: center;
  padding: 8px;
  border-radius: 8px;
  align-items: center;
  background: transparent;
  transition: var(--transi);
  position: relative;
}
.pa_widgets #Navigation > a span,
.pa_widgets #Navigation > a ion-icon {
  position: relative;
  z-index: 2;
}
.pa_widgets #Navigation > a:before {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  content: " ";
  position: absolute;
  transition: var(--transi);
  top: 0;
  left: 0;
  z-index: 1;
  background-image: var(--gradient);
  opacity: 0;
}
.pa_widgets #Navigation > a:hover {
  color: var(--light_1);
}
.pa_widgets #Navigation > a:hover:before {
  opacity: 0.5;
}
/* ------ WIDGET TOP SITES SEULS ------ */
.pa_widgets #Top-sites {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pa_widgets #Top-sites > a {
  transition: var(--transi);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  border-radius: 8px;
  color: var(--text-contrast);
}
.pa_widgets #Top-sites > a:nth-of-type(odd) {
  background-color: rgba(var(--co1_rgb),0.3);
  border: 1px solid var(--co1);
}
.pa_widgets #Top-sites > a:nth-of-type(odd):hover {
  background-color: rgba(var(--co1_rgb),1);
  color: var(--light_1);
}
.pa_widgets #Top-sites > a:nth-of-type(even) {
  background-color: rgba(var(--co2_rgb),0.3);
  border: 1px solid var(--co2);
}
.pa_widgets #Top-sites > a:nth-of-type(even):hover {
  background-color: rgba(var(--co2_rgb),1);
  color: var(--light_1);
}

/* ------ WIDGET INTRODUCTION, TOP SITES, METEO ------ */
.pa_widgets #Introduction {
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 72px 1fr;
  grid-gap: 16px;
  align-content: flex-start;
}
.pa_widgets #Introduction div.title {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 24px;
  display: flex;
  font-family: var(--font-titre);
  flex-direction: column;
  line-height: 28px;
  color: var(--text-contrast);
  margin-bottom: 16px;
}
.pa_widgets #Introduction div.title > span:first-of-type {
  font-size: 28px;
  text-transform: lowercase;
}
.pa_widgets #Introduction div.title span:last-of-type {
  font-size: 48px !important;
  font-style: italic;
  text-transform: lowercase;
  line-height: 40px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.pa_widgets #Introduction div.title span:last-of-type ruby rt {
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 4px;
  color: var(--text);
  text-shadow: none !important;
}
.pa_widgets #Introduction div.title span:last-of-type:before {
  display: block;
  width: 100%;
  height: 1px;
  background: var(--gradient);
  content: " ";
}
.pa_widgets #Introduction div.topsites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  align-content: start;
  justify-content: space-between;
  align-content: space-between;
  padding: 8px 0;
  
  grid-column: 1/2;
  grid-row: 2/3;
}
.pa_widgets #Introduction div.topsites > a {
  transition: var(--transi);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  border-radius: 8px;
  background: transparent !important;
  border: 1px solid var(--text-contrast);
  color: var(--text-contrast) !important;
}
.pa_widgets #Introduction div.topsites > a:hover {
  color: var(--bg1) !important;
  background: var(--text-contrast) !important;
}
.pa_widgets #Introduction > div.boutons {
  grid-column: 1/3;
  width: 100% !important;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pa_widgets #Introduction > div.boutons > a.button {
  width: 100% !important;
  align-items: center;
  justify-content: center;
  height: 32px;
  border-radius: 32px;
  border: 0;
  background-image: var(--gradient_hover);
  background-size: 200% 100%;
  background-position: center left;
  color: var(--dark_1);
}
.pa_widgets #Introduction > div.boutons > a.button:hover {
  background-position: center right;
}

.pa_widgets #Introduction div.meteo {
  background: var(--bg1);
  padding: 8px;
  border-radius: 16px;
  
  grid-column: 2/3;
  grid-row: 2/3;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px 8px;
}
body.dark .pa_widgets #Introduction div.meteo {
  border: 1px solid var(--bg2);
}
body.light .pa_widgets #Introduction div.meteo {
  border: 1px solid var(--bg1);
}
.pa_widgets #Introduction div.meteo span.saison {
  display: block;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--text-contrast);
  border-radius: 8px;
  line-height: 20px;
  background: var(--bg2);
  grid-column: 1/3;
}
.pa_widgets #Introduction div.meteo span.max {
  color: var(--text-contrast);
  text-align: center;
  display: grid;
  grid-template-columns: 32px auto;
  grid-gap: 4px;
  grid-column: 1/3;
  align-items: center;
  justify-content: center;
}
.pa_widgets #Introduction div.meteo span.max > ion-icon {
  grid-row: 1/3;
  font-size: 32px;
  color: var(--co2);
}
.pa_widgets #Introduction div.meteo span.max > span:first-of-type {
  line-height: 24px;
  font-size: 24px;
}
.pa_widgets #Introduction div.meteo span.max > span:last-of-type {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.pa_widgets #Introduction > div.meteo span.hum,
.pa_widgets #Introduction > div.meteo span.min {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  color: var(--text-contrast);
  border-radius: 8px;
  line-height: 20px;
  font-size: 12px;
  background: var(--bg2);
}

/* ------ WIDGET PERSONNAGES ATTENDUS ------ */
.pa_widgets #Personnages_attendus {
  background: var(--bg1);
  border-radius: 16px;
  overflow: hidden;
  height: 273px;
}
.pa_widgets #Personnages_attendus div.h3 {
  position: relative;
  
  display: flex !important;
  margin: 0 !important;
  width: 100%;
  padding: 8px 16px;
  line-height: 24px;
  
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  
  background: var(--bg1);
}
.pa_widgets #Personnages_attendus div.h3:first-of-type { display: none !important; }
.pa_widgets #Personnages_attendus div.h3 > span {
  display: inline-block;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pa_widgets #Personnages_attendus > .content {
  background-color: var(--bg2);
  padding: 8px;
  height: calc(100% - 40px);
  overflow: auto;
}
.pa_widgets #Personnages_attendus > .content::-webkit-scrollbar-button:start:increment,
.pa_widgets #Personnages_attendus > .content::-webkit-scrollbar-button:end:decrement {
  height: 8px;
  display: block;
  background: var(--bg1);
}
.pa_widgets #Personnages_attendus > .content > div {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pa_widgets #Personnages_attendus > .content > div > div.widget-pa {
  display: flex;
  background: var(--bg1);
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  gap: 4px;
  padding: 8px 4px;
  position: relative;
}
.pa_widgets #Personnages_attendus > .content > div > div.widget-pa::before {
  background: var(--gradient_vert);
  z-index: 2;
  content: "";
  opacity: 0;
  transition: opacity ease-out 0.3s;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 0 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.pa_widgets #Personnages_attendus > .content > div > div.widget-pa:hover::before { opacity: 1; }
.pa_widgets #Personnages_attendus > .content > div > div.widget-pa > a {
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
  width: 100%;
  height: 24px;
  position: relative;
  z-index: 2;
}
.pa_widgets #Personnages_attendus > .content > div > div.widget-pa > a > span.topictitle {
  display: grid;
  grid-template-columns: auto 16px;
  gap: 4px;
  align-items: center;
  line-height: 24px;
}
.pa_widgets #Personnages_attendus > .content > div > div.widget-pa > a > span.topictitle > span {
  color: var(--text-contrast);
  position: relative;
  transition: var(--transi);
  top: 0;
}
.pa_widgets #Personnages_attendus > .content > div > div.widget-pa > a > span.topictitle > span:not(.hover-icon) {
  max-width: 213px;
  height: 24px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}
.pa_widgets #Personnages_attendus > .content > div > div.widget-pa > a > span.topictitle > span.hover-icon {
  position: relative;
  color: var(--co2);
  z-index: 3;
}
.pa_widgets #Personnages_attendus > .content > div > div.widget-pa > div.topic-auteur {
  height: 24px;
  display: flex;
  padding: 0 8px;
  line-height: 24px;
}
.pa_widgets #Personnages_attendus > .content > div > div.widget-pa > div.topic-auteur > a {
  color: var(--text);
}

/* --- QEEL --- */
.qeel {
  display: flex;
  margin-top: 64px;
  flex-direction: column;
  gap: 24px;
}
.qeel:before {
  display: block;
  width: 1px;
  height: 112px;
  content: "";
  background: var(--light_1);
  margin: auto;
  position: relative;
}
.qeel_header {
  font-family: var(--font-titre);
  text-transform: lowercase;
  font-style: italic;
  color: var(--light_1);
  font-size: 40px !important;
  font-weight: 400 !important;
  line-height: 64px !important;
  text-align: center;
}
.qeel > .container {
  display: grid;
  grid-template-columns: 288px auto;
  gap: 0px;
  border-radius: 16px;
  overflow: hidden;
}
.qeel > .container > div {
  padding: 16px;
  background: var(--bg1_transp_8);
}
.qeel > .container > div.col_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  background: var(--bg1);
  border: none;
}
div.col_1 .newest {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
div.col_1 .newest > span:first-of-type,
.qeel .listes > div > .titre {
  color: var(--text-contrast);
  width: fit-content;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 500;
}
div.col_1 .newest > strong {
  font-size: 28px;
  font-family: var(--font-titre);
}
div.col_1 .stats {
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-radius: 8px;
  overflow: hidden;
}
div.col_1 .stats > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  background: var(--bg2_transp_5);
  font-size: 14px;
  line-height: 20px;
}
div.col_1 .stats > div iconify-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: var(--co2);
  margin-right: 4px;
}

.qeel div.col_2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-left: 0px solid;
  position: relative;
}
.qeel div.col_2:before {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border-radius: 0 16px 16px 0;
  content: " ";
  background-image: url(https://i.imgur.com/Iu6qgy8.gif);
  background-size: 150px 150px;
  mix-blend-mode: hard-light;
  opacity: 0.15;
  z-index: 1;
}
.qeel div.col_2 > .maisons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
  position: relative;
  z-index: 3;
}
.qeel div.col_2 > .maisons > a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px 8px;
  border-radius: 8px;
  color: var(--light_1);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
  background-size: 200% 100%;
  background-position: center left;
  transition: var(--transi);
}
.qeel div.col_2 > .maisons > a > iconify-icon { font-size: 16px; }
.qeel div.col_2 > .maisons > a.dojin {
  background-image: linear-gradient(to right, var(--doj), rgba(var(--doj_rgb),0.2), var(--doj));
}
.qeel div.col_2 > .maisons > a.fugi {
  background-image: linear-gradient(to right, var(--fug), rgba(var(--fug_rgb),0.2), var(--fug));
}
.qeel div.col_2 > .maisons > a.hiisa {
  background-image: linear-gradient(to right, var(--hii), rgba(var(--hii_rgb),0.2), var(--hii));
}
.qeel div.col_2 > .maisons > a.raiyo {
  background-image: linear-gradient(to right, var(--rai), rgba(var(--rai_rgb),0.2), var(--rai));
}
.qeel div.col_2 > .maisons > a.suisei {
  background-image: linear-gradient(to right, var(--sui), rgba(var(--sui_rgb),0.2), var(--sui));
}
.qeel div.col_2 > .maisons > a:hover { background-position: center right; }

.qeel .listes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  position: relative;
  z-index: 3;
}
.qeel .listes > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.qeel .listes > div .liste_container {
  background: var(--bg1);
  padding: 8px;
  border-radius: 8px;
  height: 144px;
  max-height: 144px;
  overflow: auto;
}
.qeel .listes > div .liste_container > div > br:first-of-type {
  display: none;
}

/* sparkles staff dojin*/
.liste_container a[href$="/u3"] > span:before {
  margin-right: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23acc79a' fill-rule='evenodd' d='M5 4a.75.75 0 0 1 .738.616l.252 1.388A1.25 1.25 0 0 0 6.996 7.01l1.388.252a.75.75 0 0 1 0 1.476l-1.388.252A1.25 1.25 0 0 0 5.99 9.996l-.252 1.388a.75.75 0 0 1-1.476 0L4.01 9.996A1.25 1.25 0 0 0 3.004 8.99l-1.388-.252a.75.75 0 0 1 0-1.476l1.388-.252A1.25 1.25 0 0 0 4.01 6.004l.252-1.388A.75.75 0 0 1 5 4m7-3a.75.75 0 0 1 .721.544l.195.682c.118.415.443.74.858.858l.682.195a.75.75 0 0 1 0 1.442l-.682.195a1.25 1.25 0 0 0-.858.858l-.195.682a.75.75 0 0 1-1.442 0l-.195-.682a1.25 1.25 0 0 0-.858-.858l-.682-.195a.75.75 0 0 1 0-1.442l.682-.195a1.25 1.25 0 0 0 .858-.858l.195-.682A.75.75 0 0 1 12 1m-2 10a.75.75 0 0 1 .728.568a.97.97 0 0 0 .704.704a.75.75 0 0 1 0 1.456a.97.97 0 0 0-.704.704a.75.75 0 0 1-1.456 0a.97.97 0 0 0-.704-.704a.75.75 0 0 1 0-1.456a.97.97 0 0 0 .704-.704A.75.75 0 0 1 10 11' clip-rule='evenodd'/%3E%3C/svg%3E");
}
/* sparkles staff hiisa*/
.liste_container a[href$="/u92"] > span:before, .liste_container a[href$="/u93"] > span:before {
  margin-right: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23d07f7f' fill-rule='evenodd' d='M5 4a.75.75 0 0 1 .738.616l.252 1.388A1.25 1.25 0 0 0 6.996 7.01l1.388.252a.75.75 0 0 1 0 1.476l-1.388.252A1.25 1.25 0 0 0 5.99 9.996l-.252 1.388a.75.75 0 0 1-1.476 0L4.01 9.996A1.25 1.25 0 0 0 3.004 8.99l-1.388-.252a.75.75 0 0 1 0-1.476l1.388-.252A1.25 1.25 0 0 0 4.01 6.004l.252-1.388A.75.75 0 0 1 5 4m7-3a.75.75 0 0 1 .721.544l.195.682c.118.415.443.74.858.858l.682.195a.75.75 0 0 1 0 1.442l-.682.195a1.25 1.25 0 0 0-.858.858l-.195.682a.75.75 0 0 1-1.442 0l-.195-.682a1.25 1.25 0 0 0-.858-.858l-.682-.195a.75.75 0 0 1 0-1.442l.682-.195a1.25 1.25 0 0 0 .858-.858l.195-.682A.75.75 0 0 1 12 1m-2 10a.75.75 0 0 1 .728.568a.97.97 0 0 0 .704.704a.75.75 0 0 1 0 1.456a.97.97 0 0 0-.704.704a.75.75 0 0 1-1.456 0a.97.97 0 0 0-.704-.704a.75.75 0 0 1 0-1.456a.97.97 0 0 0 .704-.704A.75.75 0 0 1 10 11' clip-rule='evenodd'/%3E%3C/svg%3E");
}
/* sparkles staff fugi*/
.liste_container a[href$="/u4"] > span:before, .liste_container a[href$="/u21"] > span:before {
  margin-right: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23AD90B8' fill-rule='evenodd' d='M5 4a.75.75 0 0 1 .738.616l.252 1.388A1.25 1.25 0 0 0 6.996 7.01l1.388.252a.75.75 0 0 1 0 1.476l-1.388.252A1.25 1.25 0 0 0 5.99 9.996l-.252 1.388a.75.75 0 0 1-1.476 0L4.01 9.996A1.25 1.25 0 0 0 3.004 8.99l-1.388-.252a.75.75 0 0 1 0-1.476l1.388-.252A1.25 1.25 0 0 0 4.01 6.004l.252-1.388A.75.75 0 0 1 5 4m7-3a.75.75 0 0 1 .721.544l.195.682c.118.415.443.74.858.858l.682.195a.75.75 0 0 1 0 1.442l-.682.195a1.25 1.25 0 0 0-.858.858l-.195.682a.75.75 0 0 1-1.442 0l-.195-.682a1.25 1.25 0 0 0-.858-.858l-.682-.195a.75.75 0 0 1 0-1.442l.682-.195a1.25 1.25 0 0 0 .858-.858l.195-.682A.75.75 0 0 1 12 1m-2 10a.75.75 0 0 1 .728.568a.97.97 0 0 0 .704.704a.75.75 0 0 1 0 1.456a.97.97 0 0 0-.704.704a.75.75 0 0 1-1.456 0a.97.97 0 0 0-.704-.704a.75.75 0 0 1 0-1.456a.97.97 0 0 0 .704-.704A.75.75 0 0 1 10 11' clip-rule='evenodd'/%3E%3C/svg%3E");
}
/* sparkles staff raiyo */
.liste_container a[href$="/u81"] > span:before, .liste_container a[href$="/u266"] > span:before {
  margin-right: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23e6cf95' fill-rule='evenodd' d='M5 4a.75.75 0 0 1 .738.616l.252 1.388A1.25 1.25 0 0 0 6.996 7.01l1.388.252a.75.75 0 0 1 0 1.476l-1.388.252A1.25 1.25 0 0 0 5.99 9.996l-.252 1.388a.75.75 0 0 1-1.476 0L4.01 9.996A1.25 1.25 0 0 0 3.004 8.99l-1.388-.252a.75.75 0 0 1 0-1.476l1.388-.252A1.25 1.25 0 0 0 4.01 6.004l.252-1.388A.75.75 0 0 1 5 4m7-3a.75.75 0 0 1 .721.544l.195.682c.118.415.443.74.858.858l.682.195a.75.75 0 0 1 0 1.442l-.682.195a1.25 1.25 0 0 0-.858.858l-.195.682a.75.75 0 0 1-1.442 0l-.195-.682a1.25 1.25 0 0 0-.858-.858l-.682-.195a.75.75 0 0 1 0-1.442l.682-.195a1.25 1.25 0 0 0 .858-.858l.195-.682A.75.75 0 0 1 12 1m-2 10a.75.75 0 0 1 .728.568a.97.97 0 0 0 .704.704a.75.75 0 0 1 0 1.456a.97.97 0 0 0-.704.704a.75.75 0 0 1-1.456 0a.97.97 0 0 0-.704-.704a.75.75 0 0 1 0-1.456a.97.97 0 0 0 .704-.704A.75.75 0 0 1 10 11' clip-rule='evenodd'/%3E%3C/svg%3E");
}
/* sparkles staff suisei */
.liste_container a[href$="/u96"] > span:before, .liste_container a[href$="/u226"] > span:before {
  margin-right: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%2393c9c4' fill-rule='evenodd' d='M5 4a.75.75 0 0 1 .738.616l.252 1.388A1.25 1.25 0 0 0 6.996 7.01l1.388.252a.75.75 0 0 1 0 1.476l-1.388.252A1.25 1.25 0 0 0 5.99 9.996l-.252 1.388a.75.75 0 0 1-1.476 0L4.01 9.996A1.25 1.25 0 0 0 3.004 8.99l-1.388-.252a.75.75 0 0 1 0-1.476l1.388-.252A1.25 1.25 0 0 0 4.01 6.004l.252-1.388A.75.75 0 0 1 5 4m7-3a.75.75 0 0 1 .721.544l.195.682c.118.415.443.74.858.858l.682.195a.75.75 0 0 1 0 1.442l-.682.195a1.25 1.25 0 0 0-.858.858l-.195.682a.75.75 0 0 1-1.442 0l-.195-.682a1.25 1.25 0 0 0-.858-.858l-.682-.195a.75.75 0 0 1 0-1.442l.682-.195a1.25 1.25 0 0 0 .858-.858l.195-.682A.75.75 0 0 1 12 1m-2 10a.75.75 0 0 1 .728.568a.97.97 0 0 0 .704.704a.75.75 0 0 1 0 1.456a.97.97 0 0 0-.704.704a.75.75 0 0 1-1.456 0a.97.97 0 0 0-.704-.704a.75.75 0 0 1 0-1.456a.97.97 0 0 0 .704-.704A.75.75 0 0 1 10 11' clip-rule='evenodd'/%3E%3C/svg%3E");
}


/* --- WIDGET FOOTER - PARTENAIRES --- */
#footer_widgets {
  z-index: 2;
  margin-top: 48px;
  border: 0px;
  background-color: var(--bg1_transp_5);
  backdrop-filter: blur(4px);
}
#footer_widgets #f_widgets_col_0.column {
  padding: 16px 0px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1048px;
  margin: auto;
}
#f_widgets_col_0 > div {
  /* display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(6,1fr); */
  display: flex;
  gap: 8px;
  width: 100%;
  margin: auto 32px;
  padding: 24px 0;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
}
#f_widgets_col_0 > div img {
  width: 100%;
  transition: var(--transi);
  filter: invert(0);
  opacity: 1;
}
body.light #f_widgets_col_0 > div img {
  filter: invert(1);
  opacity: 0.6;
}

/* --- FOOTER --- */
#page-footer {
  background: linear-gradient(to top, rgba(2, 14, 25, 0.5), transparent);
  z-index: 2;
}
#page-footer > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  padding: 24px 32px;
  margin: 0 auto;
  width: 100%;
  max-width: 1048px;
  background: transparent;
}
#page-footer.admin > div {
  grid-template-columns: minmax(240px,280px) auto !important;
}
#page-footer > div > div.credits {
  order: 1;
  color: white;
  font-size: 12px;
  margin: auto;
  margin-bottom: 40px;
  grid-template-columns: minmax(240px,280px) auto;
  display: inline-grid;
  grid-gap: 32px;
  max-width: 1048px;
}
#page-footer.admin > div > div.credits {
  grid-column-start: 1;
  grid-column-end: 3;
}
#page-footer > div > div.credits > div.liens {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: -webkit-fill-available;
}
#page-footer > div > div.credits > div.liens > a {
  display: flex;
  gap: 4px;
  align-items: center;
  width: fit-content;
  padding: 4px 8px 4px 6px;
  border: 1px solid;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: var(--transi);
}
#page-footer > div > div.credits > div.liens > a:hover {
  color: var(--co1);
}
#page-footer > div > div.credits > span.disclaimer {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}
#page-footer > div > div.credits > span.disclaimer a {
  border-bottom: 1px solid;
  color: var(--co2);
}
#page-footer > div > div.credits > span.disclaimer a:hover {
  color: white;
}

#page-footer > div > div.copyright {
  order: 2;
  text-align: left;
  color: white;
  font-size: 11px;
  letter-spacing: var(--letter-space);
  text-transform: uppercase;
}
#page-footer > div > div.copyright > br {
  display: none !important;
}
#page-footer > div > ul.footerbar-system {
  order: 3;
  text-align: right;
  padding: 0;
  color: white;
  font-size: 11px;
  letter-spacing: var(--letter-space);
  text-transform: uppercase;
}
#page-footer > div > ul.footerbar-system .rightside {
  line-height: 20px !important;
}
#page-footer:not(.admin) > div > ul.footerbar-system {
  text-align: center;
}
#page-footer:not(.admin) > div > ul.footerbar-system .rightside {
  text-align: center;
  float: initial !important;
}

.footerbar-system a, .footerbar-user a, .copyright a {
  color: white;
}

/* ---- RESPONSIVE ---- */

/* FOOTER */
@media (max-width: 959px) {

  #page-footer.admin > div,
  #page-footer.admin > div > div.credits {
    grid-template-columns: 188px auto !important;
  }
  #page-footer .rightside a {
    display: inline-block;
    margin: 0px 16px;
  }
  #page-footer .rightside > span.gensmall {
    left: 0px; !important
  }
  
}
