/* --- SIDEMENU - BOUTON --- */
.sidemenu_button {
  display: flex;
  position: relative;
  gap: 8px;
  padding-right: 40px;
  transition: var(--transi);
  color: var(--text-contrast);
}
.sidemenu_button:after {
  display: block;
  position: absolute;
  left: 32px;
  line-height: 25px;
  content: "Menu";
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: var(--transi);
}
.sidemenu_button div {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  transition: var(--transi);
  transform: transform: rotateZ(0deg);
}
.sidemenu_button div b {
  position: absolute;
  left: 4px;
  width: 16px;
  height: 1px;
  background-color: var(--text-contrast);
  transform: rotateZ(0deg);
  transition: var(--transi);
}
.sidemenu_button:hover,
.sidemenu_button:hover:after {
  color: var(--co1);
}
.sidemenu_button:hover div b { 
  background-color: var(--co1);
} 
.sidemenu_button div b:nth-child(1) { top: 25%; }
.sidemenu_button div b:nth-child(2) { top: 50%; }
.sidemenu_button div b:nth-child(3) { top: 75%; }
.sidemenu_button.active { padding-right: 50px; }
.sidemenu_button.active div { transform: rotateZ(135deg); }
.sidemenu_button.active div b:nth-child(1) { top: 50%; }
.sidemenu_button.active div b:nth-child(3) { top: 50%; transform: rotateZ(90deg); }
.sidemenu_button.active:after { content: "Fermer"; }

/* --- SIDEMENU - DRAWER --- */
.drawer {
  width: var(--drawer_width);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  background: var(--bg1);
  box-shadow: var(--boxshadow);
  position: fixed;
  height: calc(100vh - 42px);
  overflow: auto;
  top: 42px;
  left: calc(-1*var(--drawer_width));
  transition: var(--transi);
  z-index: 19999;
}
.drawer::-webkit-scrollbar-thumb { background: var(--gradient_vert); }
.drawer.active{ left: 0px; }

.drawer .drawer-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.drawer .module {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  color: var(--text);
  margin: 0 !important;
}
.drawer .module .h3 { display: none; }
.drawer .titre {
    display: flex;
    gap: 24px;
    align-items: center;
    font-family: var(--font-titre);
    font-feature-settings: 'ss02' on;
    color: var(--text-contrast);
    line-height: 32px;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    text-transform: lowercase;
}
.drawer .titre:after,
.drawer .titre:before {
    width: 100%;
    height: 1px;
    display: block;
    background: var(--text-contrast);
    content: " ";
}
.drawer .soustitre {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  width: fit-content;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 #00000000;
}

.drawer .shortcuts {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 8px;
}
.drawer .shortcuts > a {
    padding: 12px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    height: 80px;
    font-family: var(--font-titre);
    color: var(--text-contrast);
    font-size: 20px;
    line-height: 23px;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
}
body.dark .drawer .shortcuts > a {
  background: rgba(var(--bg2_rgb), 0.5);
}
body.light .drawer .shortcuts > a {
  background: rgba(var(--bg2_rgb), 0.3);
}
.drawer .shortcuts > a:nth-child(1) { grid-column: 1/3; }
.drawer .shortcuts > a:nth-child(2) { grid-column: 3/5; }
.drawer .shortcuts > a:nth-child(3) { grid-column: 5/7; }
.drawer .shortcuts > a:nth-child(4) { grid-column: 1/4; }
.drawer .shortcuts > a:nth-child(5) { grid-column: 4/7; }
.drawer .shortcuts > a:after {
  display: block;
  content: " ";
  width: 24px;
  height: 1px;
  background: var(--gradient);
}
.drawer .shortcuts > a:before {
    transition: var(--transi);
    background: var(--gradient_vert);
    opacity: 0;
    z-index: 2;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 0 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: xor;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.drawer .shortcuts > a span { transition: var(--transi); text-shadow: none; z-index: 1; }
.drawer .shortcuts > a span:before {
  transition: var(--transi); 
  z-index: 0;
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  border-radius: 8px;
}
body.dark .drawer .shortcuts > a span:before {
  background: radial-gradient(80px 80px at 100% 0%, var(--co2) 0%, rgba(var(--co2_rgb), 0) 100%);
}
body.light .drawer .shortcuts > a span:before {
  background: radial-gradient(80px 80px at 100% 0%, var(--co2) 0%, rgba(var(--co2_rgb), 0) 100%);
}

.drawer .shortcuts > a:hover:before { opacity: 1;  }
.drawer .shortcuts > a:hover span:before{ opacity: 0.5; }

.drawer .liens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.drawer .liens > a {
  transition: var(--transi);
  display: flex;
  padding: 2px 8px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 4px;
  background: rgba(var(--bg2_rgb), 0.7);
  color: var(--text-contrast);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-shadow: none;
  position: relative;
  z-index: 1;
}
.drawer .liens > a:before {
  transition: var(--transi);
  background: var(--gradient_hover);
  background-size: 200% 100%;
  background-position: center left;
  opacity: 0;
  z-index: 1;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.drawer .liens > a span { width: -webkit-fill-available; }
.drawer .liens > a:hover:before { opacity: 1; background-position: center right; }
