.melo_rp_1 { 
    background-color: var(--bg2_transp_5); 
    width: 90%; 
    margin: 24px auto; 
    padding: 32px 0px; 
    border-radius: 16px;
} 
.melo_rp_1 h3, .melo_rp_1 h4 { 
    border: 0px; 
    margin: 0px; 
    padding: 0px; 
} 
.melo_rp_1 h3 { 
    text-align: center; 
    font-family: var(--font-titre); 
    font-size: 32px; 
    line-height: 150%; 
    width: fit-content; 
    margin: 0 auto 0 auto; 
    color: var(--text-contrast); 
    background: var(--gradient) !important; 
    background-clip: 
    text !important; 
    -webkit-background-clip: text !important; 
    -webkit-text-fill-color: transparent !important; 
    text-shadow: 0 0 #00000000 !important;
} 
.melo_rp_1 sep { 
    font-width: 600; 
    color: var(--co1); 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 4px; 
    letter-spacing: 4px; 
    font-size: 8px !important; 
    text-align: center;
} 
.melo_rp_1 sep > span { 
    color: var(--co3); 
} 
.melo_rp_1 h4 { 
    width: fit-content; 
    margin: auto; 
    font-weight: 500; 
    text-transform: uppercase; 
    letter-spacing: 0.5px; 
    font-size: 12px; 
    line-height: 20px; 
    text-align: center; 
    background: var(--co3); 
    border-radius: 4px; 
    padding: 1px 8px; 
    color: var(--light_1) !important;
} 
.melo_rp_1 > span { 
    padding: 0 32px; 
    display: block; 
    max-width: 800px; 
    margin: auto;
} 

/* -- SCENE -- */
scene { 
    text-align: left; 
    border-radius: 0px; 
    display: flex; 
    flex-direction: column; 
    gap: 24px; 
    background: #333; 
    color: var(--light_1); 
    max-width: 100% !important; 
    margin: auto; 
    padding: 24px; 
    font-family: "Courier New" !important;
} 
scene > br { display: none!important; }
scene > span { 
    color: var(--light_1) !important; 
    font-style: italic; 
    max-width: 640px; 
    width: 100%; 
    margin: auto;
} 
scene > p { 
    font-family: "Courier New" !important; 
    font-size: inherit !important; 
    max-width: 640px; 
    width: 100%; 
    margin: auto;
} 
scene > p > who { 
    text-transform: uppercase; 
    display: block; 
    text-align: center;
}
scene > p > span { 
    list-style-type: "-"; 
    display: list-item; 
    margin-left: 16px; 
    padding: 0 16px;
} 
scene > p > span > i { 
    color: var(--light_1) !important;
} 

/* -- COULEUR TRADUCTION DANS SCRIPT -- */
scene .translate > span > i, 
scene .translate > span > em { 
    color: var(--bg1) !important;
}