/* --- COULEURS --- */
.jdbmelo.mei {
    --co1: var(--doj); 
    --co2: darkgoldenrod;
}
.jdbmelo.tiff {
    --co1: var(--sui); 
    --co2: burlywood;
}
.jdbmelo.kant {
    --co1: var(--rai); 
    --co2: mediumorchid;
}
.jdbmelo.dani {
    --co1: var(--rai); 
    --co2: goldenrod;
    --co3: #b1ddda;
    --co3_dark: #74c0bb;
}
.jdbmelo.saem {
    --co1: var(--fug); 
    --co2: #ad90b8;
}
.jdbmelo.nyl {
    --co1: var(--sui); 
    --co2: var(--co2);
}
.jdbmelo.kayn {
    --co1: var(--hii); 
    --co2: #bdb594;
}

.jdbmelo r1 { color: var(--co1); }
.jdbmelo r2 { color: var(--co2); }
.jdbmelo r3 { color: var(--text-contrast); }

/* --- GENERAL --- */
.jdbmelo br{ display: none !important; } 
.jdbmelo .linebreak br,
.jdbmelo ul > li br,
.jdbmelo div.imo-geschro div.chrono-item > span.titre br,
.jdbmelo div.imo-geschro div.chrono-item > span.desc br { display: initial !important; }
.jdbmelo ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.jdbmelo ul > li::before {
    content: "・";
    margin-right: 8px;
    color: var(--co2);
}

/* --- PREMIER POST --- */
.jdbmelo.intro {
    display: grid; 
    grid-template-columns: auto 164px; 
    border-radius: 12px !important; 
    overflow: hidden; 
    font-style: normal !important;
}

/* MENU */
.jdbmelo > .menu {
    display: flex; 
    padding: 0px; 
    flex: none; 
    align-self: stretch;
} 
.jdbmelo > .menu.side {
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    padding: 0px; 
    gap: 8px; 
    width: 164px; 
    height: -webkit-fill-available; 
    border-left: 1px solid var(--bg2); 
    flex: none; 
    align-self: stretch;
}
.jdbmelo > .menu.top { 
    flex-direction: row; 
    align-items: flex-end; 
    padding: 0px; 
    gap: 1px; 
    width: 100%; 
    height: 40px; 
    align-self: stretch;
} 

.jdbmelo > .menu > a {
    transition: var(--transi); 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 12px 16px; 
    gap: 1px; 
    width: 100%; 
    height: 40px; 
    background: var(--bg2_transp_5); 
    font-style: normal; 
    font-weight: 500; 
    font-size: 12px; 
    line-height: 16px; 
    text-align: center; 
    letter-spacing: 0.05em; 
    text-transform: uppercase; 
    color: var(--text-contrast);
} 
.jdbmelo > .menu > a.active { 
    background: linear-gradient(90deg, var(--co1) 0%, var(--co2) 100%); 
    color: var(--light_1);
} 
.jdbmelo > .menu > a:not(.active):hover {
    background: var(--bg2);
} 

/* HEADER DU PREMIER POST */
.jdbmelo.intro > .intro-info {
    display: flex; 
    flex-direction: column; 
    gap: 24px;
    padding: 24px;
} 
.jdbmelo.intro > .intro-info > .info-top {
    display: flex; 
    flex-direction: column; 
    gap: 24px;
} 
.jdbmelo.intro > .intro-info > .info-top > .titre {
    display: flex; 
    flex-direction: column; 
    gap: 16px;
} 
.jdbmelo.intro > .intro-info > .info-top > .titre > span {
    font-size: 14px; 
    line-height: 24px;
} 
.jdbmelo.intro > .intro-info > .info-top > .titre > .nom{ 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    gap: 16px;
} 
.jdbmelo.intro > .intro-info > .info-top > .titre > .nom > span {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: flex-start; 
    gap: 8px; 
    margin: 0 auto; 
    width: -webkit-fill-available;
} 
.jdbmelo.intro > .intro-info > .info-top > .titre > .nom > span > cn{ 
    height: 16px; 
    font-weight: 400; 
    font-size: 12px; 
    line-height: 16px;
} 
.jdbmelo.intro > .intro-info > .info-top > .titre > .nom > span > span { 
    font-family: var(--font-titre); 
    font-size: 32px; 
    line-height: 36px; 
    background: linear-gradient(90deg, var(--co1) 0%, var(--co3) 50.5%, var(--co2) 100%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    text-fill-color: transparent;
} 

.jdbmelo.intro > .intro-info > .info-top > .titre > .nom iconify-icon { 
    color: var(--co1) !important;
} 

.jdbmelo.intro .tags { 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: flex-start; 
    align-content: flex-start; 
    padding: 0px; 
    gap: 8px; 
    min-height: 24px;
} 
.jdbmelo.intro .tags > tag {
    width: fit-content; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    padding: 0px 6px; 
    gap: 6px; 
    line-height: 24px; 
    height: 24px; 
    border-radius: 4px; 
    color: var(--bg1);
} 
.jdbmelo.intro .tags > tag:nth-child(even) {
    background-color: var(--co1);
} 
.jdbmelo.intro .tags > tag:nth-child(odd) { 
    background-color: var(--co3);
} 
.jdbmelo.intro .tags > tag > span { 
    line-height: 24px; 
    letter-spacing: 0.05em; 
    font-weight: 600; 
    font-size: 12px; 
    line-height: 24px; 
    text-transform: uppercase; 
    color: var(--bg1);
} 
.jdbmelo.intro .intro-content { 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    gap: 16px;
} 
.jdbmelo.intro .intro-content > .liste {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    padding: 0px; 
    gap: 1px; 
    width: 100%; 
    border-radius: 8px; 
    overflow: hidden;
} 
.jdbmelo.intro .intro-content > .liste > span {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding: 8px 12px; 
    gap: 8px; 
    background-color: var(--bg2); 
    width: 100%;
} 
.jdbmelo.intro .intro-content > .liste > span > iconify-icon { color: var(--co2); } 
.jdbmelo.intro .intro-content > .liste > span > span { line-height: 24px; } 

.jdbmelo.intro .info-img {
    display: grid;
    width: 100%;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 8px;
    overflow: hidden;
} 
.jdbmelo.intro .info-img > img { 
    width: 100%; 
    height: 104px; 
    object-fit: cover; 
    object-position: center;
}


/* --- POSTES FULL WIDTH --- */
.jdbmelo:not(.intro) {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.jdb-content {
    display: flex;
    flex-direction: column;
    background-color: var(--bg2);
    gap: 1px;
}
.jdb-content > div {
    padding: 24px;
    background-color: var(--bg1);
}
.jdb-content > .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}
.jdb-content > .header > img {
    border-radius: 8px;
}
.jdb-content > .header > .titre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.jdb-content > .header > .titre > iconify-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--co1);
    width: 48px !important;
    height: 48px !important;
}
.jdb-content > .header > .titre > p {
    font-family: var(--font-texte);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--text-contrast);
    margin: 0;
    padding: 0;
}
.jdb-content > .header > .titre > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.jdb-content > .header > .titre > div > span:first-of-type {
    width: fit-content;
    font-family: var(--font-titre); 
    font-size: 32px; 
    line-height: 36px; 
    background: linear-gradient(90deg, var(--co1) 0%, var(--co3) 50.5%, var(--co2) 100%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    text-fill-color: transparent;
}

.jdb-content > .header > .titre > div > .tags { 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: flex-start; 
    align-content: flex-start; 
    padding: 0px; 
    gap: 8px; 
    min-height: 24px;
} 
.jdb-content > .header > .titre > div > .tags > tag {
    width: fit-content; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    padding: 0px 6px; 
    gap: 6px; 
    line-height: 24px; 
    height: 24px; 
    border-radius: 4px; 
    color: var(--bg1);
} 
.jdb-content > .header > .titre > div > .tags > tag:nth-child(odd) {
    background-color: var(--co1);
} 
.jdb-content > .header > .titre > div > .tags > tag:nth-child(even) { 
    background-color: var(--co3);
} 
.jdb-content > .header > .titre > div > .tags > tag:nth-child(1) {
    background-color: var(--co2) !important;
} 

.jdb-content > .header > .titre > div > .tags tag > span { 
    line-height: 24px; 
    letter-spacing: 0.05em; 
    font-weight: 600; 
    font-size: 12px; 
    line-height: 24px; 
    text-transform: uppercase; 
    color: var(--bg1);
} 

.jdb-content > .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

/* BLOC COLONNES */
.jdb-content > .container > .columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    border-radius: 8px;
    overflow: hidden;
}
.jdb-content > .container > .columns > div {
    float: unset;
    width: 100%;
    margin: 0;
    border: 0px solid;
    padding: 24px;
    background-color: var(--bg2_transp_5);
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: auto;
}
.jdb-content > .container > .columns > div > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.jdb-content > .container > .columns > div > div > strong {
    font-size: 16px !important;
    line-height: 28px !important;
}

/* FORCES ET FAIBLESSES (2 colonnes et 1 image) */
.jdb-content > .container > .forces {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 24px;
    align-items: center;
}
.jdb-content > .container > .forces > .content {
    background: var(--bg2_transp_5);
    color: var(--text);
    border-radius: 8px;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}
.jdb-content > .container > .forces > .content > div {
    background: var(--bg1);
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: auto;
}
.jdb-content > .container > .forces > .content > div > span {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0px 6px;
    width: fit-content;
    border-radius: 4px;
    color: var(--light_1);
    text-transform: uppercase;
    font-size: 12px !important;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.jdb-content > .container > .forces > .content > div:nth-of-type(1) > span { background: var(--co2); }
.jdb-content > .container > .forces > .content > div:nth-of-type(2) > span { background: var(--co1); }

.jdb-content > .container > .forces > .content > div > ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.jdb-content > .container > .forces > .content > div > ul > li::before {
    content: "・";
    margin-right: 8px;
    color: var(--co2);
}

.jdb-content > .container > .forces > img {
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

/* BLOCK TITRE */
.jdb-content > .container > .titre {
    width: 100%;
    height: 48px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}
.jdb-content > .container > .titre.big {
    height: 144px;
}
.jdb-content > .container > .titre > span {
    font-family: var(--font-titre); 
    font-size: 32px; 
    line-height: 48px; 
    background: linear-gradient(90deg, var(--co1) 0%, var(--co3) 50.5%, var(--co2) 100%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    text-fill-color: transparent;
    width: fit-content;
}
.jdb-content > .container > .titre > iconify-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--co1);
}

/* BLOCK TEXTE ET IMAGES */
.jdb-content > .container > .imgtexte {
    display: flex;
    flex-direction: column;
    gap: 1px;
    border-radius: 8px;
    overflow: hidden;
}
.jdb-content > .container > .imgtexte > div {
    padding: 24px;
    background: var(--bg2_transp_5);
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.jdb-content > .container > .imgtexte.style > div { 
    padding: 0px;
    gap: 0px;
}


.jdb-content > .container > .imgtexte > div:nth-of-type(even) {
    flex-direction: row-reverse;
}
.jdb-content > .container > .imgtexte > div > div.images {
    min-width: 320px;
    width: 320px !important;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.jdb-content > .container > .imgtexte.style > div > div.images {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}
.jdb-content > .container > .imgtexte > div > div.images.small {
    min-width: 112px;
    width: 112px !important;
    max-width: 112px;
}
.jdb-content > .container > .imgtexte > div > div.images > img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
.jdb-content > .container > .imgtexte.style > div > div.images > img {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    aspect-ratio: 1;
}
.jdb-content > .container > .imgtexte > div > div:not(.images) {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.jdb-content > .container > .imgtexte.style > div > div:not(.images) {
    padding: 24px;
}
.jdb-content > .container > .imgtexte > div > div:not(.images) > strong {
    font-size: 16px !important;
    line-height: 28px !important;
}

/* FEUILLE DE PERSO */
.jdbmelo .feuilleperso {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    border-radius: 8px;
    overflow: hidden;
}
.jdbmelo .feuilleperso > .section {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--bg2_transp_5);
}
.jdbmelo .feuilleperso > .section > bg1 { 
    width: fit-content;
    background-color: var(--co2);
    padding: 0px 6px;
    width: fit-content;
    border-radius: 4px;
    color: var(--light_1);
    text-transform: uppercase;
    font-size: 12px !important;
    line-height: 24px !important;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.jdbmelo .feuilleperso > .section > .skills {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.jdbmelo .feuilleperso > .section > .skills > p {
    margin: 0;
    display: grid;
    grid-template-columns: 144px auto 88px;
    gap: 16px;
    align-content: center;
    align-items: center;
}
.jdbmelo .feuilleperso > .section > .skills > p > span {
    font-size: 14px;
    line-height: 28px;
}
.jdbmelo .feuilleperso > .section > .skills > p > span:first-of-type {
    font-weight: 500;
    color: var(--text-contrast);
}
.jdbmelo .feuilleperso > .section > .skills > p > span:last-of-type {
    display: block;
    text-align: right;
}
.jdbmelo .feuilleperso > .section > .skills > p > level {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1px;
    border-radius: 8px;
    overflow: hidden;
    height: 8px;
}
.jdbmelo .feuilleperso > .section > .skills > p > level > n {
    display: block;
    background: var(--bg3);
    opacity: 0.5;
    height: 8px;
    width: auto;
}

.lv0 > n:nth-child(-n + 0), .lv1 > n:nth-child(-n + 1),
.lv2 > n:nth-child(-n + 2), .lv3 > n:nth-child(-n + 3),
.lv4 > n:nth-child(-n + 4), .lv5 > n:nth-child(-n + 5),
.lv6 > n:nth-child(-n + 6), .lv7 > n:nth-child(-n + 7),
.lv8 > n:nth-child(-n + 8), .lv9 > n:nth-child(-n + 9),
.lv10 > n:nth-child(-n + 10) {
    background-color: var(--co1) !important;
    opacity: 1 !important;
}
.bo1 > n:nth-child(1), .bo2 > n:nth-child(2),
.bo3 > n:nth-child(3), .bo4 > n:nth-child(4),
.bo5 > n:nth-child(5), .bo6 > n:nth-child(6),
.bo7 > n:nth-child(7), .bo8 > n:nth-child(8),
.bo9 > n:nth-child(9), .bo10 > n:nth-child(10) {
    background-color: var(--co2) !important;
    opacity: 1 !important;
}

.jdbmelo img.moodboard {
    border-radius: 8px;
}

/* CUSTOMISATION DES LIENS AUTO */
.jdbmelo div.tabs-onglets:not(.insta_nav):not(.story_nav) {
    grid-column-gap: 1px !important;
    border-radius: 8px !important;
    overflow: hidden;
}
.jdbmelo div.tabs-onglets:not(.insta_nav):not(.story_nav) > a.msg_ong {
    border-radius: 0px !important;
    background: var(--bg2_transp_5) !important;
    opacity: 1 !important;
    color: var(--text-contrast);
}
.jdbmelo div.tabs-onglets:not(.insta_nav):not(.story_nav) > a.msg_ong:not(.selected):hover {
    background: var(--bg2) !important;
}
.jdbmelo div.tabs-onglets:not(.insta_nav):not(.story_nav) > a.msg_ong.selected {
    background: linear-gradient(to right, var(--co1), var(--co2)) !important;
}

.jdbmelo div.imo-gesli > div {
    grid-template-columns: 1fr 1fr 1fr !important;
}
.jdbmelo div.imo-gesli > div > div:not(.lien-item) {
    grid-column: 1/4;
}
.jdbmelo div.imo-gesli div.lien-item {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.jdbmelo div.imo-gesli div.lien-item > img {
    max-width: unset;
    width: 100% !important;
}
.jdbmelo div.imo-gesli div.lien-item > span.lien-nom {
    line-height: 32px;
    font-size: 20px;
}
.jdbmelo div.imo-gesli div.lien-item > span.desc-short {
    top: 0px;
    margin: 0px !important;
}
.jdbmelo div.imo-gesli div.lien-item > span.desc-long br { display: initial !important; }
.jdbmelo div.imo-gesli div.lien-item > span.desc-long::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--co1), var(--co3), var(--co2));
}

.jdbmelo div.imo-geschro div.chrono-item > span.desc {
    max-height: unset !important;
}