/* ------ MK MESSENGER -------- */
#FAM, #FAM .FAM-inputbox, #FAM-msg { font-family: var(--main-font)!important; }
#modernbb #FAM i.fa, #modernbb #FAM-button i.fa, #modernbb #FAM-send{ color: var(--tx_content)!important; }
#FAM-msg{
  color: var(--tx_content)!important;
  font-size: 12px!important;
  line-height: 28px!important;
}

#FAM {
  font-family: var(--main-font)!important;
  color: var(--tx_content)!important;
  font-size: 12px!important;
  background: var(--neutral_1)!important;
  border: 0px!important;
  border-radius: var(--radiusmid_top)!important;
  right: 128px!important;
  transition-property: bottom,height,width;
  transition-duration: 500ms;
  height: 500px;
}

#FAM-button {
  color: var(--blanc)!important;
  background: var(--co1_light)!important;
  width: 24px!important;
  height: 24px!important;
  right: 32px!important;
  top: calc((100% - 256px)/2 + 56px);
  border-radius: 4px!important;
}
#FAM-button ion-icon {
  padding: 4px!important;
  font-size: 16px!important;
  color: white!important;
}
.FAM-toolbar-button i {
  line-height: 24px!important;
}
#FAM-new-topic {
  right: 8px!important;
  bottom: 24px!important;
  transition: var(--transi);
  filter: brightness(1);
}
#FAM-new-topic.fa-stack {
  width: 32px!important;
  height: 32px!important;
  line-height: 32px!important;
}
#FAM-new-topic .fa-circle {
  color: var(--co2)!important;
}
#FAM-new-topic:hover{
  filter: brightness(0.8);
}
#FAM-new-topic .fa-stack-2x {
  font-size: 32px!important;
}
#FAM-new-topic .fa-plus {
  line-height: 32px!important;
  font-size: 16px!important;
}

.FAM-tab.FAM-tab-active {
  font-weight: 700;
  background: var(--neutral_2)!important;
  cursor: default;
}
.FAM-tab{ border: 1px solid var(--neutral_2)!important; }

#FAM-toolbar {
  color: var(--blanc)!important;
  background: var(--co3)!important;
  border: none!important;
  height: 24px!important;
  line-height: 24px!important;
  font-family: var(--main-font)!important;
  border-radius: var(--radiusmid_top)!important;
}
.FAM-toolbar-button {
  color: va(--blanc)!important;
  font-size: 12px!important;
  height: 24px!important;
}
#FAM-back {
  left: 8px!important;
}
.FAM-maintitle {
  color: var(--blanc)!important;
  font-size: 9px!important;
  text-transform: uppercase!important;
  letter-spacing: 0.5px!important;
}
#FAM-menu-toggle.FAM-toolbar-button {
  color: var(--blanc)!important;
  font-size: 16px!important;
  height: 24px!important;
}

.FAM-tab.FAM-tab-active:after {
  background: var(--co2)!important;
  height: 1px!important;
}

.FAM-msg-content:not(.FAM-my-msg .FAM-msg-content) {
  color: var(--tx_content) !important;
  background: var(--neutral_4)!important;
}
#FAM-actions>button {
  color: var(--tx_content)!important;
  background: var(--neutral_4)!important;
  border-left: 1px solid var(--neutral_4)!important;
}

.FAM-cadre_titre titre {
  font-size: 0.6rem !important;
  line-height: 0.7rem !important;
}

.FAM-chat {
  padding: 8px!important;
  height: 48px!important;
  border-bottom: 1px solid var(--neutral_4)!important;
}
.FAM-chat-icon.fa-stack {
  width: 24px!important;
  height: 24px!important;
  line-height: 24px!important;
}
.FAM-chat-icon .fa-inverse{
  font-size: 12px!important;
}
.FAM-chat-avatar {
  left: 8px!important;
  margin-top: -16px!important;
  height: 32px!important;
  width: 32px!important;
}
.FAM-chat-title {
  font-size: 14px!important;
  font-weight: 600!important;
  color: var(--tx_content)!important;
  top: 16px!important;
  padding: 0 16px 0 56px!important;
}

/* ---- CONVERSATIONS BULLES ----- */
.FAM-button {
  font-size: 9px!important;
  font-weight: 600!important;
  border: none;
  border-radius: 4px;
  display: block;
  color: var(--co2)!important;
  background-color: transparent!important;
  border: 1px solid!important;
  height: 20px!important;
  padding: 0px 8px!important;
  margin: 8px auto 4px!important;
  outline: 0;
  transition: var(--transi);
}
.FAM-button:hover{
  color: white!important;
  background-color: var(--co2)!important;
}

/* AVATARS PARTICIPANTS */
.FAM-msg-avatar img {
  object-fit: cover!important;
}

.FAM-my-msg .FAM-msg-content {
  color: #FFF;
  background-image: linear-gradient(to right, var(--co2_light), var(--co2))!important;
}
#FAM .FAM-my-msg .FAM-msg-actions{ background: var(--co2);}
#FAM .FAM-msg:hover .FAM-msg-actions { bottom: -30px; }

.FAM-msg-text jr{
  font-size: 9px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 4px;
  font-weight: 600;
  letter-spacing: 0.5px;
  opacity: 0.5;
}
.FAM-msg-text i{ color: unset; opacity: 0.7; }

.FAM-msg-date{
  font-size: 9px!important;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
#FAM .FAM-msg-actions{ z-index: 2; }
.FAM-msg-button i{ color: var(--tx_content); }
.FAM-my-msg .FAM-msg-button i{ color: white; }

/* planquer le premier post qui revient au bout wlh casse burnes mdr */
.FAM-msg:last-of-type{ display: none; }

.FAM-tab-close{
  font-size: 14px;
  position: absolute;
  top: 50%;
  margin-top: -13px !important;
  right: 0px !important;
  cursor: pointer;
}
.FAM-tab-name{
  line-height: 23px !important;
}
