/* ------ CATEGORIES -------- */
.linklist{
  list-style: none;
  margin: var(--spacing-md) 0;
  border-width: 0;
  padding-bottom: var(--spacing-xs);
  border-color: var(--co3_fond);
}
.linklist li {
  float: left;
  margin: 0 var(--spacing-s) 0 0;
}
.linklist li a{
  font-size: var(--fontsize-xs);
  line-height: var(--lineheight-xs);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

div.nav{ font-size: 0px; }
div.nav a.nav{
  color: rgba(var(--blanc_rgb),1);
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 10px;
  transition: var(--transi);
}
div.nav a nu,
div.nav a span.jp{display: none;}
div.nav h1:last-child a b{
  font-weight: normal;
}
div.nav a:before {
  font-weight: normal;
  color: rgba(var(--blanc_rgb),0.5);
  content: " › "; /* Symbole de séparation */
}
div.nav > a:empty:before,
div.nav > a:first-child:before {
  content: "";
}

/* -- TITRES DES CATEGORIES --*/
.cate_header{
  width: 100%;
  position: relative;
  z-index: 0;
}
/* -- NOM CATEGORIE DECO --*/
.cate_header cat1,
.za-titre cat1{
  position: absolute;
  top: var(--spacing);
  left: -32px;
  color: var(--blanc);
  opacity: 0.2;
  font-family: var(--special-font);
  font-weight: normal;
  font-size: 56px;
  line-height: 24px;
}
body.dark .cate_header cat1,
body.dark .za-titre cat1{opacity: 0.1;}
/* -- PETIT TITRE --*/
.cate_header cat2,
.za-titre cat2{
  display: block;
  width: fit-content;
  margin: 64px auto var(--spacing) auto;
  padding: var(--spacing-xs) var(--spacing);
  border-radius: var(--spacing-xs);
  background: var(--transp_1);
  backdrop-filter: blur(4px);
  color: var(--tx_content);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 10px;
  line-height: 18px;
}
/* -- TITRE SOUSFORUM --*/
.cate_header h2 nu,
.cate_header h2 span.jp{ display: none; }
.cate_header h2 b{ 
  display: block;
  width: fit-content;
  margin: var(--spacing) auto;
  padding: var(--spacing-xs) var(--spacing);
  border-radius: var(--spacing-xs);
  background: rgba(var(--co3_rgb),0.2);
  color: var(--blanc);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 10px;
  line-height: 16px;
}

/* -- STYLE DE CATEGORIE --*/
.cate_forum_block{
  display: grid;
  grid-row-gap: var(--spacing-md);
  margin-bottom: var(--spacing-l);
}
.cate_forum{
  max-width: 1000px;
  display: grid;
  grid-template-columns: 96px calc(100% - 96px - 236px) 236px;
  background: var(--bgcat);
  backdrop-filter: blur(6px);
  box-shadow: var(--boxshadow);
  border-radius: var(--spacing);
  position: relative;
  z-index: 1;
}

/* -- COLONNES --*/
.cate_forum_col2{
  display: grid;
  padding: var(--spacing);
  grid-row-gap: var(--spacing-s);
}

/* -- IMAGES NOUVEAUX SUJETS --*/
.cate_forum_col1 img{
  position: absolute;
  z-index: 3;
  width: 48px;
  height: 48px;
  top: calc(50% - 24px);
  left: -var(--spacing-md);
  transition: var(--transi);
}


/* -- DESCRIPTIONS BLOCK --*/
.cate_forum_desc{ 
  max-height: 108px; 
  height: 108px;
  min-height: 108px;
}
/* -- IMAGE --*/
.cate_forum_desc img{
  position: absolute;
  border-radius: var(--radiuscat_right);
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 216px;
  width: 96px;
  object-fit: cover;
  filter: grayscale(1);
  transition: var(--transi);
}
body.dark .cate_forum_desc img{ filter: brightness(0.7) grayscale(1); }

/* -- FORUM SOUS TITRE --*/
.cate_forum_desc neutral_1{
  color: var(--blanc);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 10px;
  display: block;
  line-height: 16px;
  position: absolute;
  top: var(--spacing);
  background-color: transparent;
}
/* -- DESCRIPTION BOX --*/
.cate_forum_desc div{
  text-align: justify;
  width: 100%;
  color: rgba(var(--blanc_rgb),0.7);
  height: 64px;
  overflow: auto;
  position: relative;
  top: var(--spacing-s);
  font-size: var(--fontsize);
  padding: var(--spacing-s);
  border-radius: var(--spacing-s);
  background: rgba(var(--tx_content_rgb),0.1);
}
.cate_forum_desc div::-webkit-scrollbar{display: none!important;}

.cate_forum_desc bb1, 
.cate_forum_desc bb2,
.cate_forum_desc i, 
.cate_forum_desc em,
.cate_forum_desc ba1, 
.cate_forum_desc ba2{
  color: var(--tx_content)!important;
  font-size: 12px!important;
}
.cate_forum_desc i3{
  color: var(--tx_content)!important;
  font-family: var(--secondary-font)!important;
}
.cate_forum_desc a{ color: var(--tx_content)!important; transition: var(--transi);}
.cate_forum_desc a:hover{ color: var(--co2)!important;}

/* -- LAST POST --*/
.cate_forum_lastpost{
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  padding: var(--spacing-s);
  height: 35px;
  background: rgba(var(--co3_rgb),0.2);
  border-radius: var(--spacing-s);
  line-height: 10px;
}

/* -- LIEN DU TOPIC ET AUTEUR --*/
.cate_forum_lastpost .topic{
  color: rgba(var(--blanc_rgb),0);
  font-size: 0px;
  display: grid;
  width: 100%;
  grid-template-columns: 12px auto;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--spacing-xs);
}
.cate_forum_lastpost ion-icon{
  color: var(--blanc);
  font-size: 12px;
}
.cate_forum_lastpost .topic span a:first-child,
.cate_forum_lastpost .topic span > span.color-groups{
  transition: var(--transi);
  display: inline-block;
  opacity: 1;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  margin-right: var(--spacing-s);
}

.cate_forum_lastpost .topic span a:first-child{
  color: var(--blanc);
}

.cate_forum_lastpost .topic strong:first-child:before {
  display: inline-block;
  content: "par";
  padding-right: var(--spacing-xs);
  font-weight: normal;
  color: var(--blanc)!important;
}
.cate_forum_lastpost .topic span a:first-child:hover{ opacity: 0.7; }
.cate_forum_lastpost .topic a.last-post-icon{ position: relative; left: -4px; margin-right: -4px; display: inline-block; }
.cate_forum_col2 .topic span a:nth-child(3) > img,
.cate_forum_lastpost .topic a.last-post-icon img{
  height: 10px;
  position: relative;
  left: -2px;
  top: 1px;
}

/* -- HEURE DU POST --*/
.cate_forum_lastpost .time{
  text-align: right;
  color: var(--blanc);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 10px;
  
  display: grid;
  grid-template-columns: 12px max-content;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: var(--spacing-xs);
}
.cate_forum_lastpost .time strong,
.cate_forum_lastpost .time span strong,
.cate_forum_lastpost .time span a{
  display: none;
}
/* -- SOUS-FORUMS BLOCK --*/
.cate_forum_col3{
  display: grid;
  grid-template-rows: auto 20px 132px;
  padding: var(--spacing) var(--spacing) var(--spacing) 0px;
  grid-row-gap: var(--spacing-s);
}
.cate_forum_col3 .gensmall{
  display: block;
  color: rgba(var(--blanc_rgb),0.5);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 10px;
  display: block;
  line-height: 16px;
  text-align: right;
}
.cate_forum_col3 .sousforum_header{
  color: var(--blanc);
  font-size: 20px;
  font-family: var(--special-font);
  order: 2;
}
.cate_forum_sousforums{
  order: 3;
  text-align: left;
  grid-row-gap: var(--spacing-xs);
  grid-auto-rows: 20px;
  display: grid;
  align-items: flex-start;
  padding-right: var(--spacing-s);
  max-height: 132px;
  overflow: auto;
}
.cate_forum_sousforums:empty ~ .sousforum_header{ display: none; }
.cate_forum_sousforums a.gensmall span.jp{ display: none; }

/* -- PETITS LIENS ET CTA --*/
.forum_links{ 
  height: 16px; 
  text-align: right; 
  position: relative; 
  top: -16px;
  margin-bottom: var(--spacing-l);
}
.forum_links span.gensmall.left{
  height: 16px;
  top: 0px;
  display: grid;
  grid-template-columns: max-content 1px max-content;
  grid-column-gap: var(--spacing);
  align-items: center;
  justify-content: flex-start;
}
.forum_links span a.gensmall,
.forum_links.stats a{
  color: rgba(var(--blanc_rgb),1);
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 10px;
  transition: var(--transi);
}
.forum_links span a.gensmall:hover,
.forum_links.stats a:hover{ color: rgba(var(--blanc_rgb),0.5); }

.forum_links.stats{ 
  margin-bottom: 0px;
  height: 16px;
  top: 0px;
  display: grid;
  grid-template-columns: max-content 1px max-content 1px max-content;
  grid-column-gap: var(--spacing);
  align-items: center;
  justify-content: flex-end;
}
.forum_links .spacer_vert{ background: rgba(var(--blanc_rgb),0.5); height: 16px; }

/* ------- QEEL ---------- */
div.cate_liens{
  text-align: right;
  position: relative;
  top: -16px;
}
a.markread,
.qeel.links a{
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 16px;
  font-weight: 600;
  color: white;
}
.qeel.links a:hover{ opacity: 0.5; }

.qeel{
  margin: 112px 0px var(--spacing-l) 0px;
  font-size: var(--fontsize);
}
.qeel cat1{
  top: var(--spacing)!important;
}

.qeel.links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc((16px *2) + 1px);
  margin: var(--spacing) 0px;
}
.qeel.links a{ display: inline-block; height: 16px; position: relative; }
.qeel.links a:after{
  display: inline-block;
  content: " ";
  background-color: var(--blanc);
  opacity: 0.5;
  width: 1px;
  height: 16px;
  margin-left: var(--spacing);
  position: absolute; 
  top: 0px;
}
.qeel.links a:last-child:after{ display: none; }

div.qeel .container{
  background: transparent;
  padding: 0;
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 25% 75%;
  grid-column-gap: 1px;
  color: var(--tx_content);
  border-radius: var(--spacing);
  overflow: hidden;
  box-shadow: var(--boxshadow);
}
div.qeel div.col_1,
div.qeel div.col_2{
  backdrop-filter: blur(6px);
  padding: var(--spacing);
}
div.qeel div.col_1{
  display: grid;
  justify-content: space-between;
  background: var(--neutral_1);
  color: var(--tx_content);
}
div.qeel div.col_1 div.stats{
  align-self: end;
}
div.qeel div.col_1 .newest,
div.qeel div.col_1 .newest > strong > a > span > strong,
div.qeel div.col_1 .messages{
  align-self: end;
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  text-transform: initial!important;
  margin-bottom: var(--spacing-s); 
  color: var(--tx_content)!important;
}
div.qeel div.col_1 .newest,
div.qeel div.col_1 .newest > strong > a > span > strong{ font-family: var(--special-font); align-self: start; font-size: 24px;}
div.qeel div.col_1 .messages{ font-family: var(--special-font); color: var(--tx_content); }
div.qeel div.col_1 .newest > strong > a,
div.qeel div.col_1 .newest > strong > a > span > strong{ 
  font-weight: normal!important; 
  color: var(--tx_content)!important;
}

div.qeel div.col_1 .newest > span,
div.qeel div.col_1 .messages span{
  display: block;
  width: fit-content;
  font-family: var(--main-font);
  font-size: 10px;
  font-style: normal; 
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: var(--spacing-s);
  background: linear-gradient(to right,var(--co2),var(--co1_light));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 #00000000;
}
div.qeel div.col_1 .messages > strong{ font-weight: 400!important; }

div.qeel div.col_2{
  display: grid;
  grid-row-gap: var(--spacing);
  background-color: var(--transp_1);
}

div.qeel div.col_2 .maisons{
  display: grid;
  justify-content: space-between;
  grid-column-gap: var(--spacing);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 32px;
}
div.qeel div.col_2 .maisons a{
  background-color: var(--neutral_1);
  height: 32px;
  border-radius: var(--spacing-s);
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: var(--spacing-xs);
  line-height: 24px;
  display: grid;
  grid-template-columns: var(--spacing-md) auto;
  grid-column-gap: var(--spacing-s);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  color: var(--tx_content);
}

div.qeel div.col_2 .maisons a span{
  position: relative;
  z-index: 2; 
}

div.qeel div.col_2 .maisons a span.icon-maisons{
  border-radius: var(--spacing-s);
  color: white!important;
  position: relative;
  z-index: 2;
  line-height: 16px;
  font-size: 16px;
  padding: var(--spacing-xs);
  width: 24px;
  height: 24px;
  text-align: center;
  transition: all 0.3s ease;
  transform: rotate(0deg);
}
div.qeel div.col_2 .maisons a:hover span.icon-maisons{ animation: btq-hover 1s infinite; }

div.qeel div.col_2 .maisons a.dojin span.icon-maisons,
div.qeel div.col_2 .maisons a.dojin:after{ background-color: var(--doj); }
div.qeel div.col_2 .maisons a.raiyo span.icon-maisons,
div.qeel div.col_2 .maisons a.raiyo:after{ background-color: var(--rai); }
div.qeel div.col_2 .maisons a.hiisa span.icon-maisons,
div.qeel div.col_2 .maisons a.hiisa:after{ background-color: var(--hii); }
div.qeel div.col_2 .maisons a.suisei span.icon-maisons,
div.qeel div.col_2 .maisons a.suisei:after{ background-color: var(--sui); }
div.qeel div.col_2 .maisons a.fugi span.icon-maisons,
div.qeel div.col_2 .maisons a.fugi:after{ background-color: var(--fug); }

div.qeel div.col_2 .maisons a:hover{ font-weight: 600; color: white!important; }
div.qeel div.col_2 .maisons a:after{
  display: inline-block;
  content: " ";
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 12px;
  transition: var(--transi);
  transform-origin: center center;
  z-index:1;
  border-radius: 50%;
}
div.qeel div.col_2 .maisons a:hover:after{ transform: scaleX(25000%) scaleY(25000%); }


div.qeel div.col_2 .listes{
  display: grid;
  grid-column-gap: var(--spacing);
  grid-template-columns: 1fr 1fr;
}

div.liste_enligne,
div.liste_48h{
  border-radius: var(--spacing-s);
  overflow: hidden!Important;
  display: grid;
  grid-template-rows: var(--spacing-md) 88px;
  grid-gap: 1px;
}

div.qeel div.col_2 .listes .titre{
  display: flex;
  align-items: center;
  height: 24px;
  gap: var(--spacing-xs);
  padding: var(--spacing-s);
  background: var(--neutral_1);
  width: 100%;
  text-align: left;
  font-family: var(--main-font);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: var(--spacing-xs);
}
div.qeel div.col_2 .listes .titre ion-icon{
  padding: 2px;
  background: var(--co2);
  color: white;
  font-size: 8px;
  line-height: 16px;
  border-radius: 2px;
}
div.qeel div.col_2 .listes .titre span{
  display: inline-block;
  background: linear-gradient(to right,var(--co2),var(--co1_light));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 #00000000;
}

div.qeel div.col_2 .listes div.liste_container{
  position: relative;
}
div.qeel div.col_2 .listes div.liste_container:before {
   z-index: -1;
   display: none;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   border-radius: var(--spacing-s);
   padding: 1px;
   background: linear-gradient(to left,var(--co1),var(--co2),var(--co3));
   -webkit-mask: linear-gradient(var(--blanc) 0 0) content-box,linear-gradient(var(--blanc) 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
}

div.liste_container#pif div,
div.liste_container#kaboum div{
  vertical-align: top;
  width: 100%;
  border-radius: 0px 0px var(--spacing-s) var(--spacing-s);
  padding: var(--spacing-s);
  height: 88px;
  max-height: 88px;
  overflow: auto;
  background-color: var(--neutral_1);
}
div.liste_container#pif br{ display: none; }

div.liste_container#pif div i,
div.liste_container#kaboum div i,
div.liste_container#pif div em,
div.liste_container#kaboum div em{
  color: var(--blanc);
}
div.liste_container#pif div a,
div.liste_container#kaboum div a{
  color: var(--tx_content)!important;
}

div.qeel div.credits,
div.qeel div.record{
  opacity: 0.5;
  font-size: 10px;
  line-height: 16px;
}

/* ------ BOUTONS HAUT BAS -------- */
.boutonhautbas {
  bottom: 23px;
  right: 35px;
  position: fixed;
  z-index: 999;
}
.nav_ancres_bg{
  padding: 2px 5px 3px;
  line-height: 0.56rem;
  text-shadow: var(--rgb_shadow);
}
.nav_ancres_bg span {
  text-transform: uppercase;
  font-family: var(--font);
  font-size: 0.56rem;
  letter-spacing: 2px;
}
.go_up_down {
  font-size: 1rem;
  padding: 0 5px;
}
a.go_up_down:last-child {
  border-left: 1px solid var(--co1);
  padding-left: var(--spacing-s);
}
.nav_ancres_bg i{
  color: white!important;
  font-size: 1rem;
}
/* ------ BLOCNOTES -------- */
div.blocnotes{
  position: fixed;
  bottom: 0px;
  right: 128px;
  z-index: 999;
  box-shadow: var(--boxshadow);
  transition: var(--transi);
}
div.blocnotes .blocnotes_header{
  line-height: 16px;
  color: var(--blanc);
  font-family: var(--main-font);
  font-size: 10px;
  text-transform: uppercase;
  padding: var(--spacing-xs) var(--spacing-s);
  letter-spacing: 0.5px;
  font-weight: bold;
  border-radius: var(--radiusmid_top);
}
body.dark div.blocnotes .blocnotes_header{ background: var(--co1_dark); }
body.light div.blocnotes .blocnotes_header{ background: var(--co1); }

textarea#fa_notepad{
  border: none;
  width: 200px;
  height: 200px;
  padding: var(--spacing-s);
  font-family: var(--main-font);
  color: var(--tx_content);
  background-color: var(--neutral_1);
  background-size: 100% var(--spacing);
  background-repeat: repeat-y;
  background-position: 0px var(--spacing-s);
  font-size: 10px;
  line-height: 16px;
}
body.light textarea#fa_notepad{ background-image: linear-gradient(to bottom, rgba(var(--co1_rgb),0.5) 1px, transparent 1px); }
body.dark textarea#fa_notepad{ background-image: linear-gradient(to bottom, rgba(var(--co1_rgb),0.2) 1px, transparent 1px); }


textarea#fa_notepad:focus-visible { outline: -webkit-focus-ring-color auto 0px; }


/* ------ TOOLBAR -------- */
#fa_toolbar{ 
  background: transparent;
  position: fixed!important;
  top: 34px;
  right: calc((100% - 950px)/2);
  left: auto;
  color: black;
  min-width: 200px!important;
  width: 200px!important;
  float: right;
  z-index: 5!important;
}
#fa_toolbar #fa_menu,
#fa_toolbar #fa_hide,
#fa_toolbar #fa_left,
#fa_toolbar #fa_search,
#fa_toolbar #fa_share{
  display: none!important;
}
#fa_toolbar #fa_right{ position: relative; }
a#fa_notifications,
#fa_right a.rightHeaderLink{
  font-size: 0px;
}

/* ------ BOUTON NOTIFICATIONS -------- */
#fa_toolbar > #fa_right.notification > #fa_notifications{
  line-height: 30px;
  padding: 0 5px;
  color: var(--co2)!important;
  background-color: transparent!important;
}
#fa_toolbar > #fa_right.notification > #fa_notifications:before{
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f0f3";
  color: var(--co2)!important;
  font-size: 12px;
  line-height: 12px;
  background-color: var(--neutral_1)!important;
  border-radius: var(--spacing-xs);
  padding: var(--spacing-s);
  transition: var(--transi);
}
a#fa_notifications:before{
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f0f3";
  color: var(--tx_content)!important;
  font-size: 12px;
  line-height: 12px;
  background-color: rgba(var(--tx_content_rgb),0.1)!important;
  border-radius: var(--spacing-xs);
  padding: var(--spacing-s);
  transition: var(--transi);
}
a#fa_notifications:hover:before{ color: var(--co2)!important; }
#fa_toolbar #fa_right #fa_notifications #notif_unread {
  display: inline-block;
  margin-left: 0px;
  font-size: 8px;
  background: var(--co2);
  color: white!important;
  line-height: 16px;
  width: 16px;
  height: 16px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  right: -2px;
  top: -4px;
  transition: var(--transi);
  box-shadow: 0 0 0 0 rgba(var(--co2_rgb), 1);
  transform: scale(1);	
}
#fa_toolbar #fa_right #fa_notifications #notif_unread:empty{ display: none; }
#fa_toolbar #fa_right #fa_notifications:hover #notif_unread{ 
  animation: pulse 2s infinite;
}

#live_notif{
  width: 330px;
  position: fixed!important;
  right: var(--spacing-l)!important;
  bottom: 64px!important;
}
#fa_toolbar #live_notif .fa_notification {
  background-color: var(--neutral_1);
  border-radius: var(--spacing-s);
  padding: var(--spacing-s);
  box-shadow: var(--boxshadow);
}
#fa_toolbar #live_notif .fa_notification .content {
  padding-left: 40px;
  font-family: var(--font);
  display: inline-block;
  background-image: var(--icon_planet)!important;
  background-repeat: no-repeat;
  background-size: var(--spacing-md) var(--spacing-md);
  line-height: 16px;
  height: auto;
  font-size: 10px;
  color: var(--tx_content);
  overflow: hidden;
}
#fa_toolbar #live_notif .fa_notification a{
  text-decoration: none!important;
  color: var(--co2)!important;
  font-weight: 600!important;
}

/* ------ LISTE DES NOTIFICATIONS -------- */
#fa_toolbar #fa_right #notif_list {
  font-family: var(--main-font);
  font-size: 10px;
  background-color: var(--neutral_1);
  border: 0px;
  border-top: 0 solid #FFF;
  z-index: 999;
  width: 320px;
  position: absolute;
  right: var(--spacing-xs)!important;
  left: auto!important;
  top: 40px!important;
  border-radius: var(--radiusmid_bot);
  box-shadow: rgba(var(--co3_rgb),0.1) 0px 0px var(--spacing), inset rgba(var(--co3_rgb),0.1) 0px var(--spacing-s) var(--spacing)!important;
}
#fa_toolbar #fa_right #notif_list li{
  padding: 0 var(--spacing-s) var(--spacing-xs);
  font-size: 10px;
  color: var(--tx_content)!important;
}

#fa_toolbar #fa_right #notif_list li hr{ display: none; }
#fa_toolbar #fa_right #notif_list li:first-child { padding-top: var(--spacing-xs); }
#fa_toolbar #fa_right #notif_list li.unread {
  font-weight: 700;
  background-color: rgba(var(--co3_rgb),0.1);
}
#fa_toolbar #fa_right #notif_list li .content{
  width: 100%;
  display: grid;
  grid-template-columns: auto var(--spacing-md);
  justify-content: space-between;
  align-items: center;
}
#fa_toolbar #fa_right #notif_list li .contentText{
  width: auto;
  height: auto;
}
#fa_toolbar #fa_right #notif_list li .contentText a {
  color: var(--co2)!important;
  font-weight: 600;
  text-decoration: none!important;
  vertical-align: baseline;
}
#fa_toolbar #fa_right #notif_list li a.delete {
  color: var(--co2);
  text-align: right;
}
#fa_toolbar #fa_right #notif_list li.see_all{
  color: var(--blanc);
  background-color: var(--co3);
  padding: 2px var(--spacing-s)!important;
  line-height: 20px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.5px;
  font-weight: 600;
  transition: var(--transi);
  border-radius: var(--radiusmid_bot);
}
#fa_toolbar #fa_right #notif_list li.see_all:hover{ background-color: rgba(var(--co2_rgb),0.7); }

/* ------ MENU -------- */
div.menu_container{
  position: fixed;
  z-index: 4!important;
  max-width: 1000px;
  width: 100%;
  background: var(--neutral_1);
  margin: var(--spacing-l) calc((100% - 1000px)/2);
  padding: 14px var(--spacing) 14px var(--spacing-xxl);
  border-radius: var(--spacing-s);
  box-shadow: var(--boxshadow);
}
div.menu{
  position: relative;
  z-index: 5!important;
  display: flex;
  flex-wrap: wrap;
  font-size: 0px;
  height: 16px;
}
div.menu a.mainmenu[href^="/"] {
  display: inline-flex;
  font-size: 10px;
  line-height: 16px;
  font-weight: 600;
  width: max-content;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--tx_content);
  margin: 0px var(--spacing-s);
  transition: var(--transi);
}
div.menu a.mainmenu[href^="/"]:hover{ color: var(--co2); }
div.menu a.mainmenu img,
div.menu a.mainmenu[href^="/faq"],
div.menu a.mainmenu[href^="/search"]{ display: none; }
div.menu li:last-child{ min-width: 140px; }

/* BOUTON SEARCH */
a.icon_menu{
  position: absolute;
  left: var(--spacing-s);
  top: var(--spacing-s);
  display: inline-block;
  color: var(--tx_content);
  font-size: 12px;
  line-height: 12px;
  background-color: rgba(var(--co3_rgb),0.1)!important;
  border-radius: var(--spacing-xs);
  padding: var(--spacing-s);
  transition: var(--transi);
}
a.icon_menu:hover{ color: var(--co2); }

/* ------ BOUTON DARK MODE -------- */
div.dark_mode{
  position: fixed;
  right: calc((100% - 980px)/2);
  top: 40px;
  z-index: 20!important;
}
button.sun_moon{
  display: inline-block;
  color: white;
  font-size: 12px;
  line-height: 12px;
  border-radius: var(--spacing-xs);
  padding: var(--spacing-s);
  transition: var(--transi);
  border: none;
}
body.light button.sun_moon{ 
  background-color: var(--co3)!important;
  color: var(--blanc);
}
body.light button.sun_moon:hover{ background-color: var(--co2)!important; }
body.light button.sun_moon span.sun{ display: none; }
body.dark button.sun_moon{  background-color: var(--co2)!important; }
body.dark button.sun_moon:hover{ background-color: var(--co2_light)!important; }
body.dark button.sun_moon span.moon{ display: none; }


/* -- SWITCHEROO --*/
:root {
  --color-text: rgba(255, 255, 255, 0.87);
  --color-bg: #17141b;
  --color-delete: #e74c3c;
  --color-tooltip: #010203;
  --color-squircle: #201f2e;
  --color-accent: #b14255;
  --color-button: #aaa2f2;
  --color-pill: #ffffff;
  --gap-size: 16px;
  --ease: cubic-bezier(0.4, 0.0, 0.2, 1);
  --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}
.switcheroo_container{
  box-shadow: var(--boxshadow);
  position: relative;
  z-index: 100;
}
.switcheroo_container:before {
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  content: " ";
  width: 40px;
  height: 100%;
  background: var(--neutral_1);
}
.switcheroo {
  color: var(--blanc);
  font-size: 12px;
}
.switcheroo[position="static"] { position: relative; }
.switcheroo[position="top"] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.switcheroo[position="bottom"] {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.switcheroo[direction="vertical"] { height: 100%; }
.switcheroo__squircles {
  display: flex;
  margin: 0;
  list-style: none;
  padding: var(--spacing-s);
  gap: var(--spacing-s);
  margin-top: var(--spacing-s);
}
.switcheroo[direction="vertical"] .switcheroo__squircles { flex-direction: column; }

/* squircle */
.switcheroo[theme="discord"] .switcheroo__squircle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--co3_rgb), 0.1);
  width: 24px;
  height: 24px;
  border-radius: var(--spacing-xs);
  cursor: pointer;
  transition: border-radius 128ms var(--ease);
}
body.dark .switcheroo[theme="discord"] .switcheroo__squircle{ background-color: rgba(255,255,255,0.1); }
  
.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--co2);
  position: absolute;
  border-radius: var(--spacing-xs);
  top: 50%;
  transform: translate(-100%, -50%) scale(0);
  transition: transform 128ms, opacity 64ms;
  pointer-events: none;
  opacity: 0;
}
.switcheroo[theme="discord"] .switcheroo__squircle.active {
  border-radius: 50%;
  cursor: default;
  position: relative;
  left: -1px;
  width: 40px;
  height: 40px;
  border: var(--spacing-s) var(--neutral_1) solid;
  margin: -4px 0px;
}
.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle:hover:before { opacity: 1; transform: translate(-100%, -50%) scale(0.5); }
.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle.active:before {
  opacity: 1;
  transform: translate(-85%, -50%) scale(0.2);
  border-radius: 50%;
}

/* tooltip */
.switcheroo__popper {
  background-color: var(--co2_light);
  padding: 2px var(--spacing-s);
  position: absolute;
  width: -webkit-max-content;
  width: max-content;
  border-radius: var(--spacing-xs);
  z-index: 0;
  opacity: 0;
  transition: opacity 64ms var(--ease), transform 128ms var(--ease-bounce);
  pointer-events: none;
  color: white;
  font-family: var(--main-font);
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.switcheroo[direction="vertical"] .switcheroo__popper {
  left: 155%;
  top: 50%;
  transform-origin: left;
  transform: translateY(-50%) scale(0.98);
}
.switcheroo[direction="vertical"] .switcheroo__squircle:hover .switcheroo__popper { opacity: 1; transform: translateY(-50%) scale(1); }
.switcheroo__squircle:hover:before {
  opacity: 1;
  transform: translate(-100%, -50%) scale(0.5);
}

/* avatar */
.switcheroo[theme="discord"] .switcheroo__avatar {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}
.switcheroo[theme="discord"] .switcheroo__avatar img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* divider */
.switcheroo[theme="discord"][direction="vertical"] .switcheroo__divider {
  width: 100%;
  height: 2px;
  background-color: var(--color-pill);
  border-radius: 1px;
  opacity: 0.06;
  transform: scale(0.8);
}
/* delete button */
.switcheroo[theme="discord"] .switcheroo__delete {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 16px;
  line-height: 14px;
  height: 16px;
  top: -4px;
  right: -4px;
  border-radius: 50%;
  background-color: var(--co2);
  transform: scale(0);
  opacity: 1;
  transition: transform 128ms var(--ease), opacity 64ms var(--ease);
  cursor: pointer;
  font-size: 13px;
}
.switcheroo[theme="discord"] .switcheroo__squircle:hover .switcheroo__delete {
  opacity: 1;
  transform: scale(1);
}
/* logo */
.switcheroo[theme="discord"] .switcheroo__logo img { width: 24px; }
.switcheroo[theme="discord"] .switcheroo__logo:hover { background-color: var(--color-accent); }
/* buttons */
.switcheroo[theme="discord"] .switcheroo__squircle--button {
  transition: border-radius 128ms var(--ease);
  color: var(--tx_content);
}
.switcheroo[theme="discord"] .switcheroo__squircle--button:hover { color: var(--co2); background: transparent; }
/* modal */
.switcheroo__form {
  padding: var(--spacing-md);
  padding-top: 0px;
}
.monomer-modal__content:before{
  content: "Isekai Monogatari";
  font-family: var(--special-font);
  color: var(--blanc);
  display: block;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  margin: var(--spacing-l) 0px var(--spacing-s) 0px;
}
.switcheroo__form:before{
  content: "Connecter un nouveau compte";
  font-family: var(--main-font);
  color: var(--blanc);
  display: block;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.5px;
  margin: 0px 0px var(--spacing-md) 0px;
}
.switcheroo__form-row {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: var(--spacing);
}
.switcheroo__form-row input[name="username"], 
.switcheroo__form-row input[name="password"]{ width: 100%!important; }
.switcheroo__form-label {
  margin-bottom: var(--spacing-s);
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--blanc) !important;
}
.switcheroo__form-input {
  padding: var(--spacing-s) !important;
  font-size: 12px !important;
  border-radius: var(--spacing-xs) !important;
  width: calc(100% - 16px)!important;
  background-color: rgba(255,255,255,0.1)!important;
  color: var(--blanc)!important;
  border: 0px!important;
  cursor: text!important;
}
.switcheroo__form-button {
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: var(--spacing-xs);
  padding: var(--spacing-s);
  border: none;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 10px;
  align-self: flex-start;
  color: var(--blanc);
  background-color: var(--co2);
  margin: auto;
}
.monomer-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
  background: rgba(var(--co3_rgb), 0.6);
  backdrop-filter: blur(4px);
}
.monomer-modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 94%;
  transition: 0.2s opacity ease;
  transform: translate(-50%, -50%);
  border-radius: var(--spacing-s);
  background: var(--co3);
  color: var(--blanc);
}
.monomer-modal.monomer-open.monomer-anchored { top: 20px; transform: translate(-50%, 0); }
.monomer-modal.monomer-open { opacity: 1; }
.monomer-overlay.monomer-open { opacity: 1; }
.monomer-close {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: var(--spacing-xs);
  right: var(--spacing-xs);
  padding: 5px;
  cursor: pointer;
  color: var(--blanc);
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 50%;
  padding: 0;
}
.monomer-close:hover { opacity: 0.8; }


/* ZONE ADMIN FORUM */
.zone-admin{ margin-bottom: var(--spacing-l); }
.zone-admin .cate_forum_desc img{ height: 156px; }
.zone-admin .cate_forum_desc { height: 0px; }
.zone-admin .cate_forum_col3 { grid-template-rows: auto 20px 72px; }
.za-titre h2{ display: none; }
.za-titre { height: 40px; }
.titre-admin{ display: inline-block; }






/* ----- NOUVELLES CATEGORES ----- */
.cate_forum_block {
  display: grid;
  grid-row-gap: 1px;
  margin-bottom: var(--spacing-l);
  border-radius: var(--spacing);
  overflow: hidden;
}
.cate_forum {
  grid-template-columns: 300px auto;
  background: var(--transp_1);
  border-radius: 0px;
  padding: var(--spacing);
  grid-gap: var(--spacing);
}

.cate_forum_col1 {
  width: 100%;
  display: grid;
  grid-gap: var(--spacing-s);
}

.col1_top{
  display: grid;
  grid-template-columns: auto var(--spacing-xxl);
}

.col1_top a.forumlink{
  display: grid;
  grid-template-rows: var(--spacing-l) 18px;
  color: var(--cat_forumlink);
  font-family: var(--special-font);
  font-size: 24px;
  line-height: 32px;
  transition: var(--transi);
}
.col1_top a.forumlink b{
  display: inline-block;
  width: fit-content;
  font-family: var(--special-font);
  font-size: 20px;
  line-height: 24px;
  color: var(--cat_forumlink);
  transition: var(--transi);
  opacity: 1;
}
.col1_top a.forumlink b:after{
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f178";
  line-height: 24px;
  position: relative;
  padding: 0px 6px;
  top: -2px;
  font-size: 12px;
  left: -24px;
  opacity: 0;
  transform: scaleX(0%);
  transform-origin: center right;
  transition: var(--transi);
}
body.light .col1_top a.forumlink b:after{ color: var(--co2); }
body.dark .col1_top a.forumlink b:after{ color: white; }
.cate_forum:hover .col1_top a.forumlink b:after{
  left: 0px;
  opacity: 1;
  transform: scaleX(100%);
}

.col1_top a.forumlink span.jp{
  display: inline-block;
  width: fit-content;
  line-height: 18px;
  font-family: var(--jp-font);
  font-size: 12px;
  background: linear-gradient(to right,var(--co1),var(--co2_light),var(--co1));
  background-size: 200% 200%;
  background-position: center right;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 #00000000;
  transition: var(--transi);
}
span.jp n{ display: none; }

.col1_top img{
  width: 48px!important;
  height: 48px!important;
}

.col1_bot{
  display: grid;
  grid-template-rows: 50px var(--spacing-l);
  grid-gap: 1px;
  border-radius: var(--spacing-s);
  overflow: hidden;
}

.cate_forum_lastpost{
  background: var(--neutral_1);
  color: var(--tx_content);
  font-size: 12px;
  line-height: 18px;
  height: 100%;
  border-radius: 0px;
}
/* VUE INVITÉS */
.col1_bot > div.cate_forum_lastpost.gensmall .color-groups{ display: none!important; }
div.col1_bot > div.cate_forum_lastpost.auteur > span.lastpost-auteur > span > span { color: var(--tx_content); }

/* CACHER LE PSEUDO DES INVITES APRES LA DATE DU POST */
.cate_forum_lastpost.gensmall > span > span:nth-child(5) { display: none!important; }

/* AFFICHER LE PSEUDO DES INVITES */
span.lastpost-auteur > span > span:nth-child(5){ 
  display: inline-block; 
  font-size: 12px!important; 
  text-transform: lowercase;
}

.col1_bot > div.cate_forum_lastpost.gensmall:first-child > span{
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 10px;
}
.col1_bot > div.cate_forum_lastpost.gensmall:first-child > span > a{
  text-transform: initial;
  letter-spacing: 0;
  font-size: 12px;
}
.col1_bot > div.cate_forum_lastpost.gensmall:first-child > span img{ display: none; }
.col1_bot > div.cate_forum_lastpost.gensmall > span > br:nth-child(3){ display: none; }

body.light .col1_bot > div.cate_forum_lastpost.gensmall > span > a:nth-child(1){ 
  color: #1f292e;
  font-weight: normal;
}
body.dark .col1_bot > div.cate_forum_lastpost.gensmall > span > a:nth-child(1){ 
  color: #bfd5eb;
  font-weight: normal;
  transition: var(--transi);
}
.col1_bot > div.cate_forum_lastpost.gensmall > span > a:nth-child(1):hover{
  color: var(--co2_light);
}

.col1_bot > div.cate_forum_lastpost.gensmall > span > strong{ display: none; }
.col1_bot > div.cate_forum_lastpost.gensmall > span > a.last-post-icon{ display: none; }

.cate_forum_col1 img {
  position: initial;
  width: 16px;
  height: 16px;
  padding: 2px;
  top: 0;
  left: 0px;
  mix-blend-mode: difference;
}
.cate_forum_lastpost.auteur{
  background: var(--neutral_1);
  display: grid;
  grid-template-columns: var(--spacing) auto;
  grid-gap: var(--spacing-s);
  height: 100%;
}
.lastpost-avatar {
  float: initial;
  padding: 0;
  position: relative;
  display: inline-block;
}
.cate_forum_lastpost .lastpost-avatar img{
  max-width: 16px;
  max-height: 16px;
  width: 16px!important;
  height: 16px;
  position: initial!important;
  aspect-ratio: 1 / 1 !important;
  top: 0px;
  left: 0px;
  background-color: gray;
  object-fit: cover;
  border-radius: var(--spacing-xs)!important;
}
.auteur > span.lastpost-avatar > img{
  mix-blend-mode: initial!important;
}
.auteur > span.lastpost-avatar > img{ padding: 0px;}

.lastpost-auteur{
  color: rgba(0,0,0,0);
  font-size: 0px;
  position: relative;
  height: 16px;
}
.lastpost-auteur > span {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0px;
  align-items: center;
}
.lastpost-auteur br{ display: none; }
.lastpost-auteur strong {
  font-size: 12px;
  display: inline-block;
  margin-right: 2px;
  text-transform: initial;
}
.lastpost-auteur strong a.gensmall{
  color: var(--tx_content);
}


.cate_forum_col2{
  display: grid;
  padding: 0px!important;
  grid-row-gap: 1px;
  width: calc(100% - 89px);
  position: relative;
}

.cate_forum_col2 > span.gensmall{
  display: inline-block;
  text-align: right;
  position: absolute;
  right: var(--spacing-s);
  top: var(--spacing-s);
  font-size: 10px;
  text-transform: uppercase;
  line-height: 16px;
  border-radius: var(--spacing-xs);
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0px var(--spacing-xs);
  height: 16px;
  z-index: 3;
  color: var(--tx_content);
  background: var(--neutral_4);
}
  
.desc_infos {
  height: 16px!important;
  display: flex;
  gap: var(--spacing-s);
  align-items: center;
}
.desc_infos ion-icon{
  padding: 2px;
  background: var(--co2);
  color: white;
  font-size: 8px;
  line-height: 16px;
  border-radius: 2px;
}
  
.cate_forum_desc {
  display: grid;
  height: auto;
  background: var(--neutral_1);
  position: initial;
  z-index: 2;
  grid-gap: var(--spacing-s);
  padding: var(--spacing-s) var(--spacing-s) 0px var(--spacing-s);
  overflow: initial;
  border-radius: var(--spacing-s) 0px 0px 0px;
  color: var(--tx_content);
}
.cate_forum_desc > br{ display: none ;}
.cate_forum_desc bb1, .cate_forum_desc bb2, .cate_forum_desc i, .cate_forum_desc em, .cate_forum_desc ba1, .cate_forum_desc ba2 {
  color: var(--tx_content)!important;
  font-size: 12px!important;
}

.cate_forum_sousforums {
  display: flex;
  gap: var(--spacing-s);
  padding: var(--spacing-s);
  align-items: flex-start;
  overflow: auto;
  border-radius: 0px 0px 0px var(--spacing-s);
  background: var(--neutral_1);
  height: 32px;
}
.cate_forum_desc img {
  position: absolute;
  top: 0px;
  right: -88px;
  left: auto;
  z-index: 1;
  height: 100%;
  width: 88px;
  border-radius: 0px var(--spacing-s) var(--spacing-s) 0px;
  object-fit: cover;
  filter: grayscale(1);
  transition: var(--transi);
}
.cate_forum_desc bg1 {
  color: var(--co2);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 10px;
  display: inline-block;
  width: fit-content;
  line-height: 16px;
  position: initial;
  background: linear-gradient(to right,var(--co2),var(--co1_light));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 #00000000;
}
.cate_forum_desc div {
  text-align: justify;
  width: 100%;
  color: var(--tx_content);
  height: 76px;
  overflow: auto;
  position: initial;
  font-size: var(--fontsize);
  padding: 0;
  border-radius: 0;
  background: transparent;
}
.cate_forum_sousforums a.gensmall {
  display: block;
  text-align: left;
  padding: 0px var(--spacing-xs);
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 16px;
  color: white;
  background: var(--co2);
  border-radius: var(--spacing-xs);
  max-width: 212px;
  height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: var(--transi);
}
.cate_forum_sousforums a.gensmall:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f0da";
  margin-right: var(--spacing-xs);
}
.cate_forum_sousforums a.gensmall:nth-child(odd){background-color: var(--co2);}
.cate_forum_sousforums a.gensmall:nth-child(even){background-color: var(--co2_light);}
.cate_forum_sousforums a.gensmall b{ font-weight: 600!important; }


/* -- HOVER EFFECTS --*/
.cate_forum:hover .cate_forum_desc img{ filter: grayscale(0)!important; }
body.dark .cate_forum:hover .cate_forum_desc img{ filter: brightness(0.7) grayscale(0)!important; }

.cate_forum:hover .col1_top a.forumlink b,
.cate_forum:hover .col1_top a.forumlink{ color: var(--co2_light); }
.cate_forum:hover .col1_top a.forumlink span.jp{ background-position: center left; }

.col1_bot > div.cate_forum_lastpost.gensmall > span > a:nth-child(1):hover{
  color: var(--tx_content);
}

.cate_forum_sousforums a.gensmall:hover{background-color: var(--neutral_4);}


/* QUICK LOGIN */
.quicklogin{
  background: transparent;
  border-radius: var(--spacing)!important;
  overflow: hidden;
}
.quicklogin form{
  display: grid;
  grid-template-columns: 144px auto;
  grid-gap: 1px;
}
.quicklogin h1{
  color: var(--tx_content);
  font-family: var(--special-font);
  font-size: 16px;
  line-height: 32px;
  padding: var(--spacing);
  margin: 0;
  background: var(--neutral_1);
  text-align: left;
}

.user_login_form {
  font-size: 13px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: var(--spacing);
  background: var(--transp_1);
  width: 100%;
  padding: var(--spacing);
  margin: 0;
}
.user_login_form .fl_username, 
.user_login_form .fl_password {
  margin: 0;
  text-align: left;
  color: var(--tx_content);
  background-color: var(--neutral_1);
}
.user_login_form .fl_username{ margin-right: var(--spacing); }

.user_login_form label{
  color: var(--tx_content);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.5px;
  margin: var(--spacing) 0px 0px 0px;
  display: block;
  text-align: left;
}
.user_login_form input.mainoption{
  display: block;
  margin: 0;
  font-size: 10px!important;
  letter-spacing: 0.5px!important;
  text-transform: uppercase!important;
  font-weight: 600!important;
}
