@font-face {
    font-family: 'Bomiro';
    src: url('Bomiro_Regular.otf') format('otf'),
        url('Bomiro_Regular.ttf') format('ttf'),
        url('Bomiro_Regular.woff2') format('woff2'),
        url('Bomiro_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bomiro';
  src: url('Bomiro_Italic.otf') format('otf'),
        url('Bomiro_Italic.ttf') format('ttf'),
        url('Bomiro_Italic.woff2') format('woff2'),
        url('Bomiro_Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

