:root {
    --shine-brightness: 0.55;
    --red: #f80e35;
    --yellow: #eedf10;
    --green: #21e985;
    --blue: #0dbde9;
    --violet: #c929f1;
  }

.card-grid {
    margin: 64px auto;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    padding: 32px;
    max-width: 1048px;
    border-radius: 16px;
    background-color: var(--bg1_transp_5);
}

.card-item {
    border-radius: 16px;
    width: 100%;
    height: 480px;
    position: relative;
    box-shadow: var(--boxshadow);
    overflow: hidden; /* Ensure content doesn't overflow */
    transform-style: preserve-3d;
    transition: var(--transi);
}
body.dark .card-item { background-color: transparent; }
body.light .card-item { background-color: rgba(0,0,0,0.5); }

.card-item.tilted {
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(var(--tilt-x, 0deg)) rotateX(var(--tilt-y, 0deg));
}

.card-item.air {
    --maison: var(--fug);
    --maison_rgb: var(--fug_rgb);
}
.card-item.eau {
    --maison: var(--sui);
    --maison_rgb: var(--sui_rgb);
}
.card-item.feu {
    --maison: var(--hii);
    --maison_rgb: var(--hii_rgb);
}
.card-item.foudre {
    --maison: var(--rai);
    --maison_rgb: var(--rai_rgb);
}
.card-item.plante {
    --maison: var(--doj);
    --maison_rgb: var(--doj_rgb);
}
.card-item.air {
    --maison: var(--fug);
    --maison_rgb: var(--fug_rgb);
}
.card-item.neutre {
    --maison: rgb(233,233,233;1);
    --maison_rgb: 233,233,233;
    --transp_4: var(--bg1_transp_5);
}

.card-item .container {
    z-index: 3;
    background: radial-gradient(rgb(var(--maison_rgb),0.1) 40%, rgb(var(--maison_rgb),0.8) 100%), var(--bg2_transp_5);
    display: grid;
    grid-gap: 8px;
    grid-template-rows: auto 1.6fr 2fr 0.1fr;
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: rotateX(0deg) rotateY(0deg);
    padding: 24px;
}
.card-item:not(.five-stars) span.container:before {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px solid var(--bg1_transp_5);
    border-radius: 16px;
    opacity: 0.5;
}
.card-item span.header {
    display: grid;
    grid-template-columns: auto 40px;
    grid-gap: 8px 16px;
}
.card-item span.nom {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    font-family: var(--font-titre);
    color: var(--light_1);
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}
.card-item span.rating {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 10px;
    color: white;
}
.five-stars .container {
    background: radial-gradient(rgb(var(--maison_rgb),0.2) 40%, rgb(var(--maison_rgb),1) 100%), var(--bg1_transp_5);
}
.card-item.five-stars span.nom {
    text-shadow: white 0px 0px 8px;
}

.card-item span.header .icon {
    grid-row: 1/3;
    grid-column: 2/3;
    margin-left: auto;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
body.dark .card-item span.header .icon { background-color: var(--bg1_transp_7); }
body.light .card-item span.header .icon { background-color: rgba(0,0,0,0.1); }

.card-item span.header .icon > ion-icon {
    font-size: 24px;
}
body.dark .card-item span.header .icon > ion-icon {
    color: var(--maison);
}
.card-item.five-stars span.header .icon > ion-icon,
body.light .card-item span.header .icon > ion-icon {
    color: white !important;
}

.card-item .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    object-position: center;
    aspect-ratio: 165/83;
}
.card-item div.desc-container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg1_transp_5);
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    position: relative;
    z-index: 6;
}
.card-item div.desc-container .type {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: 24px;
    background: var(--bg1_transp_5);
    padding: 0 8px;
    border-radius: 4px;
    color: var(--text-contrast);
}
.card-item div.desc-container .description {
    overflow: auto;
    max-height: 147px;
    padding: 0 8px;
}
.card-item div.desc-container .description::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, white, var(--maison));
}
.card-item div.desc-container .description p {
    text-align: left;
    line-height: 21px;
    font-size: 13px;
    color: var(--text);
}

.card-item span.footer {
    line-height: 16px;
    display: grid;
    grid-template-columns: auto max-content;
    grid-gap: 4px;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.card-item span.footer .stats {
    display: flex;
    gap: 8px;
}
.card-item.five-stars span.footer .stats { 
    color: white !important;
    text-shadow: white 0px 0px 8px;
}
.card-item span.footer .number {
    padding: 0 4px;
    border-radius: 2px;
}
body.dark .card-item span.footer .number { background-color: var(--bg1_transp_5); color: var(--maison); }
body.light .card-item span.footer .number { background-color: rgba(0,0,0,0.1); color: white; }

.shine {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.4) 10%, transparent 50%);
    background-size: 200% 200%;
    background-position: center center;
    pointer-events: none;
    opacity: 0;
    border-radius: 16px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
    mix-blend-mode: overlay;
    z-index: 3;
}
.card-item:hover .shine {
    background-position: var(--mouse-enter-x, 0) var(--mouse-enter-y, 0);
    opacity: 1;
}

  /* ---- CARTES 5 ETOILES ---- */
.card-item.five-stars span.container:before {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px solid white;
    border-radius: 16px;
    z-index: 3;
    opacity: 0.3;
}
.five-stars .shine {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.8) 10%, transparent 50%);
}
.five-stars .holo {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    display: block;
    content: " ";
    -webkit-mask-image: url(https://i.imgur.com/uxYCkm1.png);
    mask-image: url(https://i.imgur.com/uxYCkm1.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: center center;
    mask-position: center center;
    background-image: repeating-radial-gradient(circle, var(--violet), var(--blue), var(--green), var(--yellow), var(--red), var(--violet), var(--blue), var(--green), var(--yellow), var(--red), var(--violet), var(--blue), var(--green), var(--yellow), var(--red) ), url(https://i.imgur.com/uxYCkm1.png);
    background-size: 200% 200%, cover;
    background-position: var(--mouse-enter-x, 0) var(--mouse-enter-y, 0), center center;
    background-blend-mode: overlay;
    filter: brightness(1.1) contrast(1.1) saturate(1.2);
    mix-blend-mode: color-dodge;
    opacity: 0.8;
    z-index: 2;
}
.five-stars:hover .holo { background-position: var(--mouse-enter-x, 0) var(--mouse-enter-y, 0), center; }


/* --- CARD COUNTER --- */
div#card-uid-inputs {
    width: fit-content;
    padding: 16px;
    background: var(--bg1);
    border-radius: 0 0px 16px 0;
    position: fixed;
    left: -158px;
    top: calc((100% - 296px - 32px)/2);
    z-index: 4;
    transition: var(--transi);
}
div#card-uid-inputs.shifted {
    left: 0px;
}

span.list-title {
    color: var(--text-contrast);
    text-transform: uppercase;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    display: block;
    position: absolute;
    transform: rotate(90deg);
    right: -50px;
    top: 30.5px;
    background: var(--bg1);
    padding: 8px 12px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}
.list-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
    height: 296px;
    padding-right: 8px;
}
.card-container {
    display: grid;
    grid-template-columns: 32px 22px max-content 22px;
    height: 32px;
    grid-gap: 8px;
    align-items: center;
}
.card-info {
    display: flex;
    color: var(--text-contrast);
    flex-direction: column;
    gap: 0px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: 16px;
}
button.decrement-button,
button.increment-button {
    color: var(--text-contrast);
    background: var(--bg2);
    border-radius: 4px;
    height: 22px;
    width: 22px;
    margin-left: 0;
}

input.card-number-input::-webkit-outer-spin-button,
input.card-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.card-number-input[type=number] {
  -moz-appearance: textfield;
}
input.card-number-input {
    width: 32px;
    padding: 0 4px!important;
    font-size: 12px;
    background: var(--bg1);
    border: 1px solid var(--bg2);
    color: var(--text-contrast);
    border-radius: 4px;
    line-height: 24px;
    height: 24px;
    text-align: center;
}
