div.form_container {
    display: grid;
    grid-template-columns: auto 440px;
    margin: 48px;
    grid-gap: 1px;
    border-radius: 16px;
    overflow: hidden;
    width: calc(100% - 96px);
}
div.form_container h2 {
    font-size: 24px;
    font-family: var(--special-font);
    color: var(--tx_contrast);
    line-height: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}
div.form_container h2:after {
    width: 48px;
    height: 1px;
    display: block;
    background: var(--gradient);
    content: " ";
}
div.form_container h3 {
    font-size: 16px;
    font-family: var(--special-font);
    text-transform: uppercase;
    color: var(--tx_contrast);
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 0px;
    border: 0;
}
div.form_container h3:after {
    width: 48px;
    height: 1px;
    display: block;
    background: var(--gradient);
    content: " ";
}
div.form_container div.formsection h3 {
    grid-column: 1/7;
}

div.form_container > form#myForm {
    max-width: none !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    background: var(--transp_1);
}

div.form_container > div.form_code {
    padding: 24px;
    display: flex;
    background: var(--neutral_1);
    flex-direction: column;
    gap: 16px;
}
div.form_container > div.form_code > span {
    font-size: 10px;
    line-height: 16px;
    color: var(--tx_content);
    opacity: 0.7;
}
div.form_container > div.form_code > span a {
    color: var(--co2);
    transition: var(--transi);
}
div.form_container > div.form_code > span a:hover { color: var(--co1); }

div.code_box {
    background: var(--neutral_2);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
}
div.code_box  button#copyButton {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--co2);
    display: flex;
    gap: 4px;
}
div.code_box pre#jsonOutput {
    width: 100%;
    font-size: 12px;
    text-wrap: wrap;
    padding: 12px;
    background: var(--neutral_1);
    border-radius: 4px;
    overflow-x: auto;
    color: var(--tx_content);
}
div.code_box pre#jsonOutput::-webkit-scrollbar{ height: 1px; }
div.code_box pre#jsonOutput::-webkit-scrollbar-thumb{ background: var(--gradient); }


div.form_container form#myForm input[type="text"], 
div.form_container form#myForm input[type="number"],
div.form_container form#myForm input[type="url"],
div.form_container form#myForm .inputbox, 
div.form_container form#myForm select {
    background-color: var(--neutral_1);
    color: var(--tx_content);
    border-bottom: 0px;
    cursor: text;
    font-size: 14px;
    line-height: 24px;
    height: 40px;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--neutral_1);
  margin: 0;
  font: inherit;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(var(--tx_content_rgb), 0.3);
  border-radius: 4px;
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  border-radius: 2px;
  transition: var(--transi);
  background-color: var(--co2);
  transform-origin: center;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
div.form_container form#myForm label,
div.form_container form#myForm legend {
    color: var(--tx_contrast);
    font-size: 10px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: uppercase;
}

div.formsection {
    padding: 16px;
    background: var(--transp_1);
    border-radius: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 1fr);
}

div.formsection > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

div.formsection.info { font-style: normal !important;}
.info > div:nth-of-type(1) { grid-column: 1/4; }
.info > div:nth-of-type(2) { grid-column: 4/5; }
.info > div:nth-of-type(3) { grid-column: 5/7; }
.info > div:nth-of-type(4) { 
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
}
.info > div:nth-of-type(4) > input[type="url"] {
    grid-column: 2/7;
}
.info > div:nth-of-type(4) > span.hint {
    grid-column: 2/7;
    margin-bottom: 8px;
}

.etatcivil > div:nth-of-type(1) { grid-column: 1/3; }
.etatcivil > div:nth-of-type(2) { grid-column: 3/5; }
.etatcivil > div:nth-of-type(2) > span.hint {
    margin-bottom: 8px;
}
.etatcivil > div:nth-of-type(3) { grid-column: 5/7; }
.etatcivil > div:nth-of-type(4) { grid-column: 1/3; }
.etatcivil > div:nth-of-type(5) { grid-column: 3/7; }
.etatcivil fieldset > div {
    height: 40px;
    display: flex;
    align-items: end;
    gap: 16px;
}
.etatcivil fieldset > div > label {
    font-weight: normal !important;
    font-size: 13px !important;
    color: var(--tx_content) !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    display: flex;
    line-height: 24px !important;
    gap: 8px;
    align-items: center !important;
}

.parti > div:nth-of-type(1) { grid-column: 1/4; margin-top: 8px; }
.parti > div:nth-of-type(2) { grid-column: 4/7; margin-top: 8px; }
.parti > div:nth-of-type(3) {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 1/7;
    gap: 16px;
    margin-bottom: -16px;
}
.parti > div:nth-of-type(3) > div#ronin_pouvoir {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.parti > div:nth-of-type(3) > div:nth-child(2) { 
    width: 100%;
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
.parti > div:nth-of-type(3) > div > div#animal_forme,
.parti > div:nth-of-type(3) > div > div#mangetsuki_role { 
    width: calc((100% - 16px)/2);
    flex-direction: column;
    gap: 8px;
}


div.formsection.scolarite {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
}
div.form_container div.formsection.scolarite h3 {
    grid-column: 1/5 !important;
}


div.formsection.occupation h4 {
    grid-column: 1/3;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--tx_contrast);
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 4px;
}
div.formsection.occupation h4:after {
    width: 100%;
    height: 1px;
    display: block;
    background: var(--gradient);
    content: " ";
}
div.formsection.occupation .occup1,
div.formsection.occupation .occup2{
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
    border: 1px solid var(--neutral_1);
    border-radius: 16px;
    background: rgba(var(--neutral_1_rgb),0.3);
}
div.formsection.occupation .occup1 div,
div.formsection.occupation .occup2 div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
div.formsection.occupation .occup1 div:nth-of-type(3),
div.formsection.occupation .occup2 div:nth-of-type(3) {
    grid-column: 1/3;
}
div.formsection.occupation div:nth-of-type(3) {
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
}
div.formsection.occupation span.hint { margin-bottom: 0px!important; }
div.formsection.occupation span.hint a {
    color: var(--co2);
    transition: var(--transi);
}
div.formsection.occupation span.hint a:hover {
    color: var(--co1);
}

div.formsection.etudiant .etudes1,
div.formsection.etudiant .etudes2,
div.formsection.etudiant .options,
div.formsection.etudiant .cosmo{
    grid-column: 1/7;
    display: grid;
    grid-gap: 16px;
    padding: 16px;
    border: 1px solid var(--neutral_1);
    border-radius: 16px;
    background: rgba(var(--neutral_1_rgb),0.3);
}
div.formsection.etudiant .etudes1,
div.formsection.etudiant .etudes2 {
    grid-template-columns: 2fr 1fr;
}
div.formsection.etudiant .options { grid-template-columns: 1fr 1fr; }
div.formsection.etudiant .cosmo { grid-template-columns: 1fr; }
div.formsection.etudiant > div div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
div.formsection.etudiant .cosmo #cosmo_options {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 16px;
}
div.formsection.etudiant .cosmo #cosmo_options label[for="cosmo_cap"] {
    display: flex;
    gap: 8px;
    font-weight: normal !important;
    font-size: 13px !important;
    color: var(--tx_content) !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    line-height: 24px !important;
    align-items: center !important;
}

div.formsection.logement > div:nth-of-type(1) { grid-column: 1/3; }
div.formsection.logement > div:nth-of-type(2) { grid-column: 3/5; }
div.formsection.logement > div:nth-of-type(3) { grid-column: 5/7; }
div.formsection.logement > div:nth-of-type(4) { grid-column: 1/7; }

div.formsection.autres {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}
div.form_container div.formsection.autres h3 {
    grid-column: 1/3 !important;
}
div.formsection.autres > div {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    grid-column: 1/3;
}
div.formsection.autres > div:nth-of-type(1),
div.formsection.autres > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}
div.formsection.autres > div:nth-of-type(1) { grid-column: 1/2; }
div.formsection.autres > div:nth-of-type(2) { grid-column: 2/3; }

div.form_container form#myForm button, 
div.form_container form#myForm button:visited, 
div.form_container form#myForm button:active {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white!important;
    line-height: var(--spacing-md);
    padding: var(--spacing-xs) var(--spacing);
    border-radius: var(--spacing-xs);
    margin: var(--spacing) auto 0px auto;
    transition: var(--transi);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background-image: linear-gradient(90deg, var(--co1), var(--co2), var(--co1));
    background-size: 200% 100%;
    background-position: 0% 0%;
    box-shadow: none;
    transform: scale(1);
    transform-origin: center;
}
div.form_container form#myForm button:hover {
    color: white!important;
    background-position: 100% 0%;
    box-shadow: var(--boxshadow);
    transform: scale(1.025);
}
div#charCountMessage {
    font-size: 12px;
    color: red;
}
div#charCountMessage:empty{ display: none; }

span.hint {
    font-size: 10px;
    line-height: 16px;
    color: var(--tx_content);
    opacity: 0.5;
    margin-bottom: 8px;
}

xmp {
    display: inline-block;
    background: var(--bg2);
    padding: 0 4px;
    border-radius: 4px;
}
