@font-face {
  font-family: 'Gabriela';
  src: url("Gabriela_Alt_Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gabriela';
  src: url("Gabriela_Alt_Medium_It.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gabriela';
  src: url("Gabriela_Alt_SemiBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gabriela';
  src: url("Gabriela_Alt_SemiBold_It.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
