@font-face {
    font-family: 'Geyster';
    src: url('Geyster.otf') format('otf'),
         url('Geyster.ttf') format('ttf'),
         url('Geyster.woff2') format('woff2'),
         url('Geyster.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-feature-settings: 'ordn' on, 'salt' on;
}
