div.edit-profil {
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: 654px auto;
  grid-gap: 16px 0px;
}
div.edit-profil.no-preview {
  grid-template-rows: auto;
}

div#registre-preview {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  height: fit-content;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
div#registre-preview.fixed {
  position: sticky;
  top: 56px;
  left: 0;
  width: 280px;
}
div#registre-preview > span {
  color: var(--text-contrast);
  background: var(--bg1);
  display: inline-block;
  width: fit-content;
  padding: 2px 6px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 8px;
}
div.grid-item.Dojin { --co2: var(--doj); }
div.grid-item.Fugi { --co2: var(--fug); }
div.grid-item.Hiisa { --co2: var(--hii); }
div.grid-item.Raiyo { --co2: var(--rai); }
div.grid-item.Suisei { --co2: var(--sui); }

div#registre-preview > div.grid-item {
  float: left;
  display: flex;
  height: auto !important;
}

div#registre-preview > div.grid-item > .container {
  background: var(--bg1);
  padding: 8px;
  position: relative;
  border-radius: 16px;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  font-size: 13px;
  z-index: 4;
  color: var(--text);
  width: 100% !important;
  max-width: initial !important;
}
div#registre-preview > div.grid-item > .container:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: 1;
  padding: 1px;
  background: linear-gradient(130deg, var(--co2), var(--bg1) 30%, var(--bg1) 70%, var(--co2));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
div#registre-preview > div.grid-item > .container > .avatar {
  cursor: pointer;
  position: relative;
  display: block;
  border-radius: 8px;
  background: transparent;
  border: none;
  box-shadow: none;
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}
div#registre-preview > div.grid-item > .container > .avatar > img.image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);
  border-radius: 8px;
  transition: var(--transi);
  position: relative;
  z-index: 1;
}
div#registre-preview > div.grid-item:hover > .container > .avatar > img.image { filter: grayscale(0); }
div#registre-preview > div.grid-item > .container > .avatar > .credits {
  position: absolute;
  transition: var(--transi);
  z-index: 1;
  bottom: -20px;
  right: 4px;
  display: inline-block;
  background: var(--bg1);
  padding: 2px 6px;
  border-radius: 4px 4px 0 0;
  color: var(--text-contrast);
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
}
div#registre-preview > div.grid-item > .container > .avatar:hover > .credits { bottom: 0px; }
div#registre-preview > div.grid-item > .container > span.nom {
  padding: 0 4px;
}
div#registre-preview > div.grid-item > .container > span.nom > span:first-child {
  font-size: 16px;
  font-family: var(--font-titre);
  font-feature-settings: 'ss02' on;
  color: var(--text-contrast);
  line-height: 24px;
}
div#registre-preview > div.grid-item > .container > span.nom > span:last-child {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}
div#registre-preview > div.grid-item > .container > span.tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 4px;
  padding: 0 4px;
  margin: 4px 0 8px;
}
div#registre-preview > div.grid-item > .container > span.tags > span {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  position: relative;
}
div#registre-preview > div.grid-item > .container > span.tags > span.location,
div#registre-preview > div.grid-item > .container > span.tags > span.promo {
  width: fit-content;
  font-size: 10px;
  gap: 4px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
  background: var(--bg2);
  border-radius: 4px;
  padding: 2px 6px;
}
div#registre-preview > div.grid-item > .container > span.tags > span.job,
div#registre-preview > div.grid-item > .container > span.tags > span.parti {
  font-size: 13px;
  line-height: 20px;
  opacity: 0.8;
  align-items: flex-start;
  width: 100%;
  padding: 4px 0;
  display: grid !important;
  grid-template-columns: 16px auto !important;
}
div#registre-preview > div.grid-item > .container > span.tags > span.job ion-icon,
div#registre-preview > div.grid-item > .container > span.tags > span.parti ion-icon {
  width: 16px;
  height: 12px;
  margin: 4px 0;
  color: var(--text-contrast);
}
div#registre-preview > div.grid-item > .container > span.tags > span.parti:not(:empty):after, 
div#registre-preview > div.grid-item > .container > span.tags > span.job:after {
  display: block;
  width: 100%;
  height: 1px;
  content: " ";
  background: var(--bg2);
  position: absolute;
  bottom: -4px;
}
div#registre-preview > div.grid-item > .container > span.tags > span.parti:empty { display: none !important; }
div#registre-preview > div.grid-item > .container > span.tags > span.job {
  margin-top: 4px;
}
div#registre-preview > div.grid-item > .container > span.liens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 4;
  margin-top: 4px;
}
div#registre-preview > div.grid-item > .container > span.liens > a {
  width: -webkit-fill-available;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px;
  background-color: var(--bg2);
  font-size: 14px;
  line-height: 20px;
  transition: var(--transi);
  cursor: pointer;
}
div#registre-preview > div.grid-item > .container > span.liens > a:hover { background-color: var(--co2); }
div#registre-preview > div.grid-item > .container > span.liens > a > span {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-weight: 500;
}


div.form_container {
  display: none;
  flex-direction: column;
  gap: 24px;
  transition: all 0.3s ease;
  overflow: hidden;
  align-items: center;

  width: 100%;
  max-width: 100% !important;
  border-radius: 0;
  position: fixed;
  z-index: 9999999;
  top: 42px;
  left: 0;
  background: rgba(0,0,0,0.2);
  backdrop-filter: blur(6px);
  padding: 96px;

  height: calc(100vh - 42px);
}
div.form_container.show {
  display: flex !important;
}

button#closeForm {
  margin: auto;
  align-self: center;
  line-height: 24px;
  padding: 4px;
  background: var(--bg1);
  border-radius: 36px;
  height: 40px !important;
  width: 40px;
  min-height: 40px !important;
  color: var(--text-contrast);
  display: block;
  font-size: 24px;
}

div.form_container h2 {
  font-size: 32px;
  font-family: var(--font-titre);
  color: var(--text-contrast);
  line-height: 56px;
  background: var(--bg1);
  padding: 8px 24px;
  width: 100%;
}

div.form_container h3 {
  font-size: 20px;
  font-family: var(--font-titre);
  color: var(--text-contrast);
  letter-spacing: 0px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 0px;
  border: 0;
}
div.form_container h3:after {
  width: 48px;
  height: 1px;
  display: block;
  background: var(--gradient);
  content: " ";
}
div.form_container div.formsection h3 {
  grid-column: 1/7;
}

div.edit-profil div.form_container h3 {
  background: var(--bg1);
  padding: 8px 24px;
  width: calc(100% + 48px);
  position: relative;
  left: -24px;
}
div.edit-profil div.form_container h3:before {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  top: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  visibility: visible !important;
}
div.edit-profil div.form_container h3:after {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  bottom: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  transform: rotate(90deg);
  visibility: visible !important;
  background: transparent !important;
}

div#formBox,
div#registreConf {
  background: var(--bg2);
  border-radius: 16px;
  height: calc(100vh - 42px - 24px - 40px);
  max-height: calc(100vh - 42px - 24px - 40px);
  max-width: 1048px !important;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

div.form_container > div#formBox > form#registreForm {
  max-width: none !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  overflow: auto;
  padding-top: 24px;
}
div.edit-profil div.form_container > div#formBox > form#registreForm {
  gap: 32px;
}
div.form_container > div#formBox > form#registreForm::-webkit-scrollbar-button:end:decrement {
  height: 72px;
  display: block;
  background: var(--bg1);
}

div.form_container form#registreForm input[type="text"], 
div.form_container form#registreForm input[type="number"],
div.form_container form#registreForm input[type="url"],
div.form_container form#registreForm input[type="date"],
div.form_container form#registreForm .inputbox, 
div.form_container form#registreForm select {
  background-color: var(--bg1);
  color: var(--text);
  border-bottom: 0px;
  cursor: text;
  font-size: 14px;
  line-height: 24px;
  height: 40px;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}
div.form_container form#registreForm label,
div.form_container form#registreForm legend {
  color: var(--text-contrast);
  font-size: 14px;
}

div.formsection {
  padding: 24px;
  margin: 0 24px;
  background: var(--bg1_transp_5);
  border-radius: 16px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(6, 1fr);
}
div.edit-profil div.formsection {
  padding: 0;
  background: transparent;
  border-radius: 0px;
}

div.formsection > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

div.formsection.info { 
  grid-template-columns: repeat(5, 1fr);
  font-style: normal !important;
}
.info > div:nth-of-type(1) { grid-column: 1/3; }
.info > div:nth-of-type(2) { grid-column: 3/4; }
.info > div:nth-of-type(3) { grid-column: 4/7; }
.info > div:nth-of-type(4) { 
  grid-column: 1/7;
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
}
.info > div:nth-of-type(4) > input[type="url"] {
  grid-column: 2/7;
}
.info > div:nth-of-type(4) > span.hint {
  grid-column: 2/7;
  margin-bottom: 8px;
}

.etatcivil > div:nth-of-type(1) { grid-column: 1/3; }
.etatcivil > div:nth-of-type(2) { grid-column: 3/5; }
.etatcivil > div:nth-of-type(2) > span.hint {
  margin-bottom: 8px;
}
.etatcivil > div:nth-of-type(3) { grid-column: 5/7; }
.etatcivil > div:nth-of-type(4) { grid-column: 1/3; }
.etatcivil > div:nth-of-type(5) { grid-column: 3/7; }
.etatcivil fieldset > div {
  height: 40px;
  display: flex;
  align-items: end;
  gap: 16px;
}
.etatcivil fieldset > div > label {
  font-weight: normal !important;
  font-size: 13px !important;
  color: var(--text) !important;
  text-transform: none !important;
  letter-spacing: 0 !important;
  display: flex;
  line-height: 24px !important;
  gap: 8px;
  align-items: center !important;
}

.parti > div:nth-of-type(1) { grid-column: 1/4; }
.parti > div:nth-of-type(2) { grid-column: 4/7; }
.parti > div:nth-of-type(3) {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-column: 1/7;
  gap: 16px;
  margin-bottom: -16px;
}
.parti > div:nth-of-type(3) > div#ronin_pouvoir {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.parti > div:nth-of-type(3) > div:nth-child(2) { 
  width: 100%;
  display: flex;
  gap: 16px;
}
.parti > div:nth-of-type(3) > div > div#animal_forme,
.parti > div:nth-of-type(3) > div > div#mangetsuki_role { 
  width: calc((100% - 16px)/2);
  flex-direction: column;
  gap: 8px;
}


div.formsection.scolarite {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}
div.form_container div.formsection.scolarite h3 {
  grid-column: 1/5 !important;
}


div.formsection.occupation h4 {
  grid-column: 1/3;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-contrast);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 4px;
}
div.formsection.occupation h4:after {
  width: 100%;
  height: 1px;
  display: block;
  background: var(--gradient);
  content: " ";
}
div.formsection.occupation .occup1,
div.formsection.occupation .occup2{
  grid-column: 1/7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  border: 1px solid var(--bg2);
  border-radius: 16px;
  background: var(--bg1_transp_7);
}
div.formsection.occupation .occup1 div,
div.formsection.occupation .occup2 div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
div.formsection.occupation .occup1 div:nth-of-type(3),
div.formsection.occupation .occup2 div:nth-of-type(3) {
  grid-column: 1/3;
}
div.formsection.occupation div:nth-of-type(3) {
  grid-column: 1/7;
  display: flex;
  flex-direction: column;
}
div.formsection.occupation span.hint { margin-bottom: 0px!important; }
div.formsection.occupation span.hint a {
  color: var(--co2);
  transition: var(--transi);
}
div.formsection.occupation span.hint a:hover {
  color: var(--co1);
}

div.formsection.etudiant .etudes1,
div.formsection.etudiant .etudes2,
div.formsection.etudiant .options,
div.formsection.etudiant .cosmo{
  grid-column: 1/7;
  display: grid;
  grid-gap: 16px;
  padding: 16px;
  border: 1px solid var(--bg2);
  border-radius: 16px;
  background: var(--bg1_transp_7);
}
div.formsection.etudiant .etudes1,
div.formsection.etudiant .etudes2 {
  grid-template-columns: 2fr 1fr;
}
div.formsection.etudiant .options { grid-template-columns: 1fr 1fr; }
div.formsection.etudiant .cosmo { grid-template-columns: 1fr; }
div.formsection.etudiant > div div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
div.formsection.etudiant .cosmo #cosmo_options {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 16px;
}
div.formsection.etudiant .cosmo #cosmo_options label[for="cosmo_cap"] {
  display: flex;
  gap: 8px;
  font-weight: normal !important;
  font-size: 13px !important;
  color: var(--text) !important;
  text-transform: none !important;
  letter-spacing: 0 !important;
  line-height: 24px !important;
  align-items: center !important;
}

div.formsection.logement > div:nth-of-type(1) { grid-column: 1/3; }
div.formsection.logement > div:nth-of-type(2) { grid-column: 3/5; }
div.formsection.logement > div:nth-of-type(3) { grid-column: 5/7; }
div.formsection.logement > div:nth-of-type(4) { grid-column: 1/7; }

div.formsection.autres {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 96px;
}
div.form_container div.formsection.autres h3 {
  grid-column: 1/3 !important;
}
div.formsection.autres > div {
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
  grid-column: 1/3;
}
div.formsection.autres > div:nth-of-type(2) {
  display: block;
}

div.formsection.autres > div:nth-of-type(1),
div.formsection.autres > div:nth-of-type(2) > div,
div.formsection.autres > div:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
div.formsection.autres > div:nth-of-type(1) { grid-column: 1/2; }
div.formsection.autres > div:nth-of-type(2) { grid-column: 1/2; }
div.formsection.autres > div:nth-of-type(3) { grid-column: 2/3; }

div.form_container form#registreForm button, 
div.form_container form#registreForm button:visited, 
div.form_container form#registreForm button:active {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white!important;
  transition: var(--transi);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background-image: linear-gradient(90deg, var(--co1), var(--co2), var(--co1));
  background-size: 200% 100%;
  background-position: 0% 0%;
  box-shadow: none;
  transform: scale(1);
  transform-origin: center;
  margin: 8px auto 24px auto;
  line-height: 20px;
  padding: 4px 16px;
  height: 40px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  font-family: var(--font-texte);
}
div.form_container form#registreForm button:hover {
  color: white!important;
  background-position: 100% 0%;
  box-shadow: var(--boxshadow);
  transform: scale(1.025);
}
div#charCountMessage {
  font-size: 12px;
  color: red;
}
div#charCountMessage:empty{ display: none; }

span.hint {
  font-size: 12px;
  line-height: 20px;
  color: var(--text);
  opacity: 0.7;
  margin-bottom: 8px;
}

xmp {
  display: inline-block;
  background: var(--bg2);
  padding: 0 4px;
  border-radius: 4px;
}

div.form_container form#registreForm label span {
  font-size: 9px;
  font-weight: bold;
}

div.formFooter {
  position: absolute;
  bottom: 0px;
  background: var(--bg1);
  display: flex;
  width: 100%;
  padding: 16px;
  align-items: center;
  justify-content: center;
}
div.formFooter button {
  margin: 0 !important;
}


div.form_container.editRegistre {
  z-index: 10;
  border-radius: 0 16px 16px 16px !important;
  position: initial;
  background: transparent;
  backdrop-filter: none;
  padding: 0;
  margin: 0 !important;
  display: flex;
  height: auto !important;
  max-height: none !important;
  grid-column: 2/3 !important;
  grid-row: 1 / 3;
}
div.form_container.editRegistre div#formBox {
  border-radius: 0 16px 16px 16px !important;
  min-height: 700px !important;
}
div.edit-profil.no-preview div.editRegistre {
  grid-row: auto !important;
}

div.form_container.editRegistre div#formBox h2 {
  padding: 0px 16px 8px 16px;
  margin: 0;
  background: var(--bg1);
  padding: 8px 16px;
  font-size: 24px;
  font-family: var(--font-titre);
  font-weight: 500;
  line-height: 48px;
  color: var(--text-contrast);
  position: relative;
}
div.form_container.editRegistre div#formBox h2:after {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  bottom: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  transform: rotate(90deg);
  visibility: visible !important;
}

div.form_container.editRegistre div#formBox,
div.form_container.editRegistre > div#formBox > form#registreForm{
  margin: auto;
  max-height: none !important;
  height: auto !important;
}

  div#message-new, div#message-edit, div #message-joueur {
    margin: 24px 24px 0px 24px;
    padding: 16px;
    background: var(--bg1);
    border-radius: 16px;
    display: grid;
    grid-template-columns: 32px auto;
    font-size: 14px;
    grid-gap: 24px;
    align-items: center;
    color: var(--text);
  }
  div#message-new > ion-icon,
  div#message-joueur > ion-icon,
  div#message-edit > ion-icon {
    font-size: 24px;
    padding: 4px 8px;
    border-radius: 50%;
    width: 24px;
    height: 32px;
    display: flex;
    line-height: 32px;
  }
  div#message-new > ion-icon,
  div#message-joueur > ion-icon {
    color: orange;
    background-color: rgba(255,165,0,0.1);
  }
  div#message-edit > ion-icon {
    color: var(--co1);
    background-color: rgba(var(--co1_rgb),0.1);
  }
  div#message-new > div,
  div#message-joueur > div,
  div#message-edit > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  div#message-new > div > strong,
  div#message-joueur > div > strong {
    color: orange;
    line-height: 24px;
  }
  div#message-new > div > p,
  div#message-joueur > div > p,
  div#message-edit > div > p {
    font-size: 14px;
    line-height: 21px;
  }
