div.edit-profil {
  display: grid;
  grid-template-columns: 280px auto;
  grid-gap: 16px 0px;
}

div.editRegistre {
  display: block;
  position: initial;
}

div.form_container {
  display: none;

  flex-direction: column;
  gap: 24px;
  transition: all 0.3s ease;
  overflow: hidden;
  align-items: center;

  width: 100%;
  max-width: 100% !important;
  border-radius: 0;
  position: fixed;
  z-index: 9999999;
  top: 42px;
  left: 0;
  background: rgba(0,0,0,0.2);
  backdrop-filter: blur(6px);
  padding: 96px;

  height: calc(100vh - 42px);
}
div.form_container.show {
  display: flex !important;
}

button#closeForm {
  margin: auto;
  align-self: center;
  line-height: 24px;
  padding: 4px;
  background: var(--bg1);
  border-radius: 36px;
  height: 40px !important;
  width: 40px;
  min-height: 40px !important;
  color: var(--text-contrast);
  display: block;
  font-size: 24px;
}

div.form_container h2 {
  font-size: 32px;
  font-family: var(--font-titre);
  color: var(--text-contrast);
  line-height: 56px;
  background: var(--bg1);
  padding: 8px 24px;
  width: 100%;
}

div.form_container h3 {
  font-size: 20px;
  font-family: var(--font-titre);
  color: var(--text-contrast);
  letter-spacing: 0px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 0px;
  border: 0;
}
div.form_container h3:after {
  width: 48px;
  height: 1px;
  display: block;
  background: var(--gradient);
  content: " ";
}
div.form_container div.formsection h3 {
  grid-column: 1/7;
}

div.edit-profil div.form_container h3 {
  background: var(--bg1);
  padding: 8px 24px;
  width: calc(100% + 48px);
  position: relative;
  left: -24px;
}
div.edit-profil div.form_container h3:before {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  top: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  visibility: visible !important;
}
div.edit-profil div.form_container h3:after {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  bottom: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  transform: rotate(90deg);
  visibility: visible !important;
  background: transparent !important;
}

div#formBox,
div#registreConf {
  background: var(--bg2);
  border-radius: 16px;
  height: calc(100vh - 42px - 24px - 40px);
  max-height: calc(100vh - 42px - 24px - 40px);
  max-width: 1048px !important;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}


div.form_container > div#formBox > form#joueurForm {
  max-width: none !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  overflow: auto;
  padding-top: 24px;
}
div.edit-profil div.form_container > div#formBox > form#joueurForm {
  gap: 32px;
}
div.form_container > div#formBox > form#joueurForm::-webkit-scrollbar-button:end:decrement {
  height: 72px;
  display: block;
  background: var(--bg1);
}

div.form_container form#joueurForm input[type="text"], 
div.form_container form#joueurForm input[type="number"],
div.form_container form#joueurForm input[type="url"],
div.form_container form#joueurForm input[type="date"],
div.form_container form#joueurForm .inputbox, 
div.form_container form#joueurForm select {
  background-color: var(--bg1);
  color: var(--text);
  border-bottom: 0px;
  cursor: text;
  font-size: 14px;
  line-height: 24px;
  height: 40px;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}
div.form_container form#joueurForm label,
div.form_container form#joueurForm legend {
  color: var(--text-contrast);
  font-size: 14px;
}

div.formsection {
  padding: 24px;
  margin: 0 24px;
  background: var(--bg1_transp_5);
  border-radius: 16px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(6, 1fr);
}
div.edit-profil div.formsection {
  padding: 0;
  background: transparent;
  border-radius: 0px;
}
div.edit-profil div.formsection#new-entry {
  grid-template-columns: 1fr 1fr;
}

div.formsection > div,
.info > div:nth-of-type(1) div,
div.edit-profil div.formsection#new-entry > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

div.formsection.info { 
  grid-template-columns: repeat(6, 1fr);
  font-style: normal !important;
}
.info > div:nth-of-type(1) { grid-column: 1/3; }
.info > div:nth-of-type(2) { grid-column: 3/5; }
.info > div:nth-of-type(3) { grid-column: 5/7; }
.info > div:nth-of-type(4) { grid-column: 1/4; }
.info > div:nth-of-type(5) { grid-column: 4/7; }

.comptes-info > div:nth-of-type(1) { grid-column: 1/3; }
.comptes-info > div:nth-of-type(2) { grid-column: 3/7; }
.comptes-info > div:nth-of-type(3) { grid-column: 1/7; }

#multicomptes-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}
#multicomptes-list > a {
  width: 100%;
  padding: 8px;
  background: var(--bg1);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}
#multicomptes-list > a:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: 1;
  padding: 2px;
  background: linear-gradient(130deg, var(--co2), var(--bg1) 30%, var(--bg1) 70%, var(--co2));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
#multicomptes-list > a.Dojin { --co2: var(--doj); }
#multicomptes-list > a.Fugi { --co2: var(--fug); }
#multicomptes-list > a.Hiisa { --co2: var(--hii); }
#multicomptes-list > a.Raiyo { --co2: var(--rai); }
#multicomptes-list > a.Suisei { --co2: var(--sui); }

#multicomptes-list > a > img {
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
  transition: var(--transi);
}
#multicomptes-list > a:hover > img {
  filter: grayscale(0%);
}
#multicomptes-list > a > p {
  color: var(--co2);
  font-family: var(--font-titre);
  line-height: 24px;
  font-size: 16px;
}

div.form_container form#joueurForm button, 
div.form_container form#joueurForm button:visited, 
div.form_container form#joueurForm button:active {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white!important;
  transition: var(--transi);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background-image: linear-gradient(90deg, var(--co1), var(--co2), var(--co1));
  background-size: 200% 100%;
  background-position: 0% 0%;
  box-shadow: none;
  transform: scale(1);
  transform-origin: center;
  margin: 8px auto 24px auto;
  line-height: 20px;
  padding: 4px 16px;
  height: 40px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  font-family: var(--font-texte);
}
div.form_container form#joueurForm button:hover {
  color: white!important;
  background-position: 100% 0%;
  box-shadow: var(--boxshadow);
  transform: scale(1.025);
}
div#charCountMessage {
  font-size: 12px;
  color: red;
}
div#charCountMessage:empty{ display: none; }

span.hint {
  font-size: 12px;
  line-height: 20px;
  color: var(--text);
  opacity: 0.7;
  margin-bottom: 8px;
}

xmp {
  display: inline-block;
  background: var(--bg2);
  padding: 0 4px;
  border-radius: 4px;
}

div.form_container form#joueurForm label span {
  font-size: 9px;
  font-weight: bold;
}

div.formFooter {
  background: var(--bg1);
  display: flex;
  width: 100%;
  padding: 16px;
  align-items: center;
  justify-content: center;
}
div.formFooter button {
  margin: 0 !important;
}


div.form_container.editRegistre {
  z-index: 10;
  border-radius: 0 16px 16px 16px !important;
  position: initial;
  background: transparent;
  backdrop-filter: none;
  padding: 0;
  margin: 0 !important;
  display: flex;
  height: auto !important;
  max-height: none !important;
}
div.form_container.editRegistre div#formBox {
  border-radius: 0 16px 16px 16px !important;
}

div.form_container.editRegistre div#formBox h2 {
  padding: 0px 16px 8px 16px;
  margin: 0;
  background: var(--bg1);
  padding: 8px 16px;
  font-size: 24px;
  font-family: var(--font-titre);
  font-weight: 500;
  line-height: 48px;
  color: var(--text-contrast);
  position: relative;
}
div.form_container.editRegistre div#formBox h2:after {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  bottom: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  transform: rotate(90deg);
  visibility: visible !important;
}

div.form_container.editRegistre div#formBox,
div.form_container.editRegistre > div#formBox > form#joueurForm{
  margin: auto;
  max-height: none !important;
  height: auto !important;
}

  div#message-new, div#message-edit {
    margin: 24px 24px 0px 24px;
    padding: 16px;
    background: var(--bg1);
    border-radius: 16px;
    display: grid;
    grid-template-columns: 32px auto;
    font-size: 14px;
    grid-gap: 24px;
    align-items: center;
    color: var(--text);
  }
  div#message-new > ion-icon,
  div#message-edit > ion-icon {
    font-size: 24px;
    padding: 4px 8px;
    border-radius: 50%;
    width: 24px;
    height: 32px;
    display: flex;
    line-height: 32px;
  }
  div#message-new > ion-icon {
    color: orange;
    background-color: rgba(255,165,0,0.1);
  }
  div#message-edit > ion-icon {
    color: var(--co1);
    background-color: rgba(var(--co1_rgb),0.1);
  }
  div#message-new > div,
  div#message-edit > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  div#message-new > div > strong {
    color: orange;
    line-height: 24px;
  }
  div#message-new > div > p,
  div#message-edit > div > p {
    font-size: 14px;
    line-height: 21px;
  }
