@font-face {
  font-family: 'Maisons';
  src:  url('maisons.eot');
  src:  url('maisons.eot') format('embedded-opentype'),
    url('maisons.ttf') format('truetype'),
    url('maisons.woff') format('woff'),
    url('maisons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Maisons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Su:before {
  content: "\53";
}
.icon-Ra:before {
  content: "\52";
}
.icon-Hi:before {
  content: "\48";
}
.icon-Fu:before {
  content: "\46";
}
.icon-Do:before {
  content: "\44";
}
