/* --- PAGE DE GROUPES --- */
div.group-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 24px;
  position: relative;
  background: var(--bg1_transp_7);
  backdrop-filter: blur(4px);
  border-radius: 16px;
}
div.group-container:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: 0;
  padding: 2px;
  background: linear-gradient(145deg, var(--co2), var(--bg1_transp_7) 30%, var(--bg1_transp_7) 70%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
div.group-container > h1.page-title {
  color: var(--text-contrast);
  font-family: var(--font-titre);
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  line-height: 56px;
}
div.group-container > div.subtitle {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  color: var(--text);
}
div.group-container > div.subtitle::after {
  content: '';
  display: block;
  height: 1px;
  width: 240px;
  background: linear-gradient(45deg, transparent, var(--co2), transparent);
  margin: 24px auto 0 auto;
}

div#group-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  width: 100%;
}
div#group-list > div.member {
  background: var(--bg1);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}
div#group-list > div.member:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: 0;
  bottom: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 16px;
  z-index: 0;
  padding: 2px;
  background: linear-gradient(135deg, var(--co2), var(--bg1_transp_5) 30%, var(--bg1_transp_5) 70%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
div#group-list > div.member > a {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
  overflow: auto;
  background-color: var(--bg2);
}
div#group-list > div.member > a > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}
div#group-list > div.member > div.nom {
  text-align: center;
  font-size: 1.6rem;
  position: relative;
  font-family: var(--font-titre);
  line-height: 32px;
}
div#group-list > div.member > div.nom::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: linear-gradient(45deg, transparent, var(--co2), transparent);
  margin-top: 4px;
}
div#group-list > div.member > div.delete {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-top: 8px;
}
div.group-options > p.left-box {
  display: flex;
  gap: 16px;
  align-items: center;
}

/* --- GROUPLIST --- */
div.groupes > div.group_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  padding: 24px !important;
  background: var(--bg1_transp_7);
  backdrop-filter: blur(4px);
  border-radius: 16px;
  margin: 48px 0 16px 0;
  position: relative;
}
div.groupes > div.group_list:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: 0;
  padding: 2px;
  background: linear-gradient(145deg, var(--co2), var(--bg1_transp_7) 30%, var(--bg1_transp_7) 70%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

div.groupes > div.group_list > h1,
div.groupes > div.group_list > h2 {
  grid-column: 1 / 4;
  text-align: center;
  border: 0;
  padding: 0;
}
div.groupes > div.group_list > h2.h3{
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  margin-bottom: 32px;
  color: var(--text);
}
div.groupes > div.group_list > h2.h3::after {
  content: '';
  display: block;
  height: 1px;
  width: 240px;
  background: linear-gradient(45deg, transparent, var(--co2), transparent);
  margin: 24px auto 0 auto;
}

div.groupes > div.group_list > a.groupe {
  border-radius: 16px;
  padding: 16px;
  color: var(--text);
  position: relative;
  background: radial-gradient(43.21% 114.22% at 0% 0%, var(--co2) 0%, var(--bg1_transp_7) 100%), var(--bg1_transp_7);
  display: grid;
  grid-template-columns: 80px auto;
  grid-gap: 16px;
}
div.groupes > div.group_list > a.groupe:before {
  content: "";
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 80px;
  height: 100%;
  border-radius: 8px;
  background: url(https://images2.imgbox.com/4b/d0/n4s14l6n_o.png); 
  background-size: cover;
  background-position: center;
  font-size: 24px;
  color: white;
  text-align: center;
  filter: grayscale(100%);
  transition: var(--transi);
}
div.groupes > div.group_list > a.groupe:hover:before { 
  filter: grayscale(0%);
  font-size: 20px;
}

div.groupes > div.group_list > a.groupe[href*="dojin"]:before { content: "土仁"; background: url(https://images2.imgbox.com/ce/84/32G6hqDv_o.png); background-size: cover; }
div.groupes > div.group_list > a.groupe[href*="hiisa"]:before { content: "火勇"; background: url(https://images2.imgbox.com/2a/49/D5IQMcNE_o.png); background-size: cover; }
div.groupes > div.group_list > a.groupe[href*="fugi"]:before { content: "風義"; background: url(https://images2.imgbox.com/36/32/VE8IF6Co_o.png); background-size: cover; }
div.groupes > div.group_list > a.groupe[href*="raiyo"]:before { content: "雷誉"; background: url(https://images2.imgbox.com/96/42/SQH8M6Hp_o.png); background-size: cover; }
div.groupes > div.group_list > a.groupe[href*="suisei"]:before { content: "水誠"; background: url(https://images2.imgbox.com/e3/5b/GZY045zG_o.png); background-size: cover; }
div.groupes > div.group_list > a.groupe[href*="administrateurs"]:before { background: url(https://images2.imgbox.com/df/b3/LRWAmjSd_o.png); background-size: cover; }


div.groupes > div.group_list > a.groupe:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: 0;
  bottom: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 16px;
  z-index: 0;
  padding: 2px;
  background: linear-gradient(135deg, var(--co2), var(--bg1_transp_5) 30%, var(--bg1_transp_5) 70%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
div.groupes > div.group_list > a.groupe[href*="dojin"] { --co2: var(--doj); }
div.groupes > div.group_list > a.groupe[href*="hiisa"] { --co2: var(--hii); }
div.groupes > div.group_list > a.groupe[href*="fugi"] { --co2: var(--fug); }
div.groupes > div.group_list > a.groupe[href*="raiyo"] { --co2: var(--rai); }
div.groupes > div.group_list > a.groupe[href*="suisei"] { --co2: var(--sui); }

div.groupes > div.group_list > a.groupe > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  z-index: 1;
}
div.groupes > div.group_list > a.groupe > div > span.tag {
  background-color: var(--bg2);
  color: var(--text-contrast);
}
div.groupes > div.group_list > a.groupe > div > span.group-name {
  font-family: var(--font-titre);
  font-size: 24px;
  line-height: 32px;
  color: var(--co2);
  padding-bottom: 4px;
  position: relative;
}
div.groupes > div.group_list > a.groupe > div > span.group-name:after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-image: linear-gradient(to right, var(--co2), transparent 50%);
  margin-bottom: 4px;
  position: relative;
  top: 4px;
}
div.groupes > div.group_list > a.groupe > div > p {
  margin: 0 !important;
  font-size: 14px;
}


/* --- MEMBERLIST --- */
div.forumbg-table {
  margin: 48px auto !important;
}

div.inner.memberlist-container {
  padding: 24px;
  position: relative;
  background: var(--bg1_transp_5);
  backdrop-filter: blur(4px);
  border-radius: 16px;
}

div.inner.memberlist-container:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: 0;
  bottom: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 16px;
  z-index: 0;
  padding: 2px;
  background: linear-gradient(145deg, var(--co2), var(--bg1_transp_5) 30%, var(--bg1_transp_5) 70%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

div.inner.memberlist-container > h1.page-title {
  text-align: center;
  font-weight: 400 !important;
  margin-bottom: 8px !important;
  line-height: 48px;
}

div.inner.memberlist-container > h2.h3 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 32px;
  color: var(--text);
  border: none;
}

div.inner.memberlist-container > h2.h3::after {
  content: '';
  display: block;
  height: 1px;
  width: 240px;
  background: linear-gradient(45deg, transparent, var(--co2), transparent);
  margin: 24px auto 0 auto;
}

div.inner.memberlist-container form {
  text-align: center;
  position: relative;
  z-index: 2!important;
  margin: 24px auto;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

div.inner.memberlist-container form > span {
  color: var(--text-contrast);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 0;
}

div.inner.memberlist-container form > span > input, div.inner.memberlist-container form > span > select {
  margin-left: 8px;  
  width: 150px;
  font-size: 1.3rem;
  border-radius: 8px!important;
}

div.inner.memberlist-container form > .button2 {
  border-radius: 8px !important;
  border: 1px solid var(--co2) !important;
  background: rgb(var(--co2_rgb), 0.4) !important;
  color: var(--contrast);
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 4px 8px !important;
}

div.inner.memberlist-container form > .button2:hover {
  background: rgb(var(--co2_rgb),1)!important;
}

div#memberlist {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 32px !important;
}
@media only screen and (max-width: 1024px) {
  div#memberlist {
  	grid-template-columns: repeat(3, 1fr);
  }
}

div.member-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background: var(--bg1);
  border-radius: 16px;
  position: relative;
}

div.member-card:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: 0;
  bottom: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 16px;
  z-index: 0;
  padding: 2px;
  background: linear-gradient(135deg, var(--co2), var(--bg1_transp_5) 30%, var(--bg1_transp_5) 70%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

div.member-card > div.member-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

div.member-card > div.member-avatar {
  aspect-ratio: 1;
  width: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
div.member-card > div.member-avatar > a > img {
  max-width: unset !important;
  max-height: unset !important;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

div.member-card > div.member-avatar > span.member-pseudo {
  position: absolute;
  bottom: -24px;
  right: 8px;
  background-color: var(--bg1);
  border-radius: 4px 4px 0px 0px;
  padding: 2px 4px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--text-contrast);  
  transition: var(--transi);
  opacity: 0;
}

div.member-card:hover > div.member-avatar > span.member-pseudo {
  bottom: 0px;
  opacity: 1;
}

div.member-card span.member-name {
  font-family: var(--font3);
  text-align: center;
  font-size: 1.6rem;
  position: relative;
}

div.member-card span.member-name strong {
  font-weight: 400!important;
}

div.member-card span.member-name::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: linear-gradient(45deg, transparent, var(--co2), transparent);
  margin-top: 4px;
}

div.member-card span.member-lastvisit {
  text-align: center;
  font-size: 14px;
  line-height: 32px;
} 

div.member-card span.member-joined {
  background-color: var(--bg2_transp_5);
  border-radius: 4px;
  padding: 4px 4px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text-contrast);
  transition: var(--transi);
  text-align: center;
  width: 100%;
} 
