/* ------ CSS REVEAL ON SCROLL ------- */
.reveal{
position: relative;
transform: scale(0%,0%);
transform-origin: 50% 50%;
opacity: 0;
transition: var(--transi);
}
.reveal.active{
transform: scale(100%,100%);
opacity: 1;
}

/* ------ CONVERSATION PARTICIPANTS ------- */
span#conversation {
  display: flex;
  flex-direction: column-reverse;
  font-size: 0;
  line-height: 0;
  align-items: center;
  gap: 8px;
}
span#conversation > .names {
  font-size: 20px !important;
  line-height: 2;
  font-family: var(--font-titre);
}
.postbody span#conversation > .names strong {
  color: inherit !important;
  font-weight: normal !important;
}
span#conversation > .avatars {
  display: flex;
  gap: 0;
  justify-content: center;
}
span#conversation > .avatars > img {
  height: 72px;
  width: 72px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--bg1);
  position: relative;
  z-index: 2;
}
span#conversation > .avatars > img:not(:first-child) {
  position: relative;
  left: -16px;
  z-index: 1;
  margin-right: -18px;
}
span#conversation + br {
    display: none;
}
div.conv-name {
  display: flex;
  gap: 4px;
  align-items: center;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 20px;
  width: fit-content;
  margin: 8px auto;
  padding: 0px 8px;
  background: var(--co2);
  border-radius: 8px;
  color: var(--light_1);
}
div.conv-name > img {
  height: 13px;
  width: 13px;
}

/* ------ CONVERSATION ------- */
.forumbg ul.topiclist > li.row div.topic-bottom div.topic-auteur.chat-name {
  justify-content: flex-start;
  font-size: 0px;
  line-height: 0px;
}
.forumbg ul.topiclist > li.row div.topic-bottom div.topic-auteur.chat-name .topic-author {
  font-size: 14px !important;
  line-height: 20px !important;
}
.forumbg ul.topiclist > li.row div.topic-bottom div.topic-auteur.chat-name .conv-name {
  display: flex;
  gap: 2px;
  margin: 0;
  margin-right: 2px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  color: inherit;
  background: transparent;
  text-transform: inherit;
  letter-spacing: 0;
  line-height: 20px;
}
.forumbg ul.topiclist > li.row div.topic-bottom div.topic-auteur.chat-name .conv-name > img {
  margin: 0 2px;
}
.forumbg ul.topiclist > li.row div.topic-bottom div.topic-auteur.chat-name .conv-name:after {
  display: block;
  content: "・";
  font-size: 12px;
}
.forumbg ul.topiclist > li.row div.topic-bottom div.topic-auteur.chat-name > div:not(.conv-name),
.forumbg ul.topiclist > li.row div.topic-bottom div.topic-auteur.chat-name > dl,
.forumbg ul.topiclist > li.row div.topic-bottom div.topic-auteur.chat-name > span:not(.topic-author),
.forumbg ul.topiclist > li.row div.topic-bottom div.topic-auteur.chat-name > p,
.forumbg ul.topiclist > li.row div.topic-bottom div.topic-auteur.chat-name > br {
  display: none;
}

/* ---- MESSENGER STYLES ---- */
#blog_comments {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: var(--bg1_transp_7);
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 16px;
}
.online:before { display: none; }
.comment {
  width: 100%;
  max-width: 560px !important;
  margin: 0 auto;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}
.comment.myself {
  justify-content: flex-end;
}
.comment div.menu-options {
  transition: var(--transi);
  position: absolute;
  top: 32px;
  right: 8px;
  opacity: 0;
  z-index: 2;
}
.comment.myself div.menu-options { 
  top: 8px;
}
.comment:hover div.menu-options {
  opacity: 1;
}
.comment div.menu-options ul.profile-icons {
  float: unset !important;
  padding: 0px !important;
  margin: 0px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.comment div.menu-options ul.profile-icons > li {
  float: unset;
  margin: 0;
}
.comment div.menu-options ul.profile-icons > li > a {
  height: auto;
  line-height: 16px;
  font-size: 12px;
  transition: var(--transi);
  color: var(--text);
  background: var(--bg1);
  padding: 2px 4px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0;
  border: 0px;
  box-shadow: none !important;
}
.comment div.menu-options ul.profile-icons > li > a iconify-icon {
  line-height: 16px;
  height: 16px;
}
.comment div.menu-options ul.profile-icons > li > a:hover {
  color: var(--text-contrast);
}

.comment .fa_like_div {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  gap: 8px;
  position: absolute;
  right: 16px;
  bottom: 14px;
}
.comment .fa_like_div > button,
.comment .fa_like_div > a {
  transition: var(--transi);
  background: var(--bg1);
  border: 1px solid var(--bg2);
  border-radius: 16px;
  padding: 2px 4px;
  display: inline-flex;
  align-items: center;
  margin: 0;
  gap: 4px;
  position: relative;
  height: 24px;
  color: var(--text);
  z-index: 4;
}
.comment .fa_like_div > a:hover {
  color: var(--text-contrast);
}
.comment .fa_like_div > button.fa_liked,
.comment .fa_like_div > button.fa_disliked {
  background: var(--co2);
  border: 1px solid var(--co2);
}
.comment .fa_like_div > button > span.rep-nb {
  display: none;
  position: absolute;
  background: var(--co1);
  padding: 1px 2px;
  border-radius: 50%;
  text-align: center;
  width: 12px;
  height: 12px;
  font-size: 8px;
  line-height: 10px;
  z-index: 2;
  top: -4px;
  right: -4px;
}
.comment .fa_like_div > button.fa_liked > span.rep-nb,
.comment .fa_like_div > button.fa_disliked > span.rep-nb {
  display: inline-block;
  color: var(--light_1);
  font-weight: bold;
}

.comment .comment-body {
  width: 80%;
  background: transparent;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  margin: 0;
  font-size: 14px;
  color: var(--text);
  position: relative;
}

.comment .comment-body .content {
  color: var(--text);
  line-height: 24px;
  background: var(--bg1);
  padding: 16px;
  border-radius: 16px;
  position: relative;
  margin-top: 26px;
}
.comment.myself .comment-body .content {
  margin-top: 0px;
}
body.dark .comment.myself .comment-body .content {
  background-image: linear-gradient(-45deg, rgba(var(--co2_rgb),0.25), transparent);
}
body.light .comment.myself .comment-body .content {
  background-image: linear-gradient(-45deg, rgba(var(--co2_rgb),0.4), transparent);
}
.comment.myself .comment-body .content:before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 2px 0px 0px 2px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  background: linear-gradient(130deg, var(--co2), transparent 10%, transparent 100%);
}

.comment .comment-body span.comment-author {
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: calc(100% - 16px);
  position: absolute;
}
.comment .comment-body span.comment-author > span.time {
  font-size: 12px;
  opacity: 0;
  transition: var(--transi);
}
.comment:hover .comment-body span.comment-author > span.time { opacity: 0.5; }

.comment.myself .comment-body span.comment-author {
  display: none;
}
.comment .comment-body span.comment-time {
  font-size: 12px;
  margin-left: 16px;
  min-height: 20px;
  line-height: 20px;
  margin-top: 4px;
  display: block;
}

.comment .comment-avatar {
  display: flex;
  float: unset;
  flex-wrap: wrap;
  align-content: flex-end;
  width: auto;
  padding: 20px 0px;
}
.comment.myself .comment-avatar { display: none; }

.comment .comment-avatar:after,
.comment .comment-body:before {
  display: none !important;
}
.comment .comment-avatar img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
}
.comment .comment-avatar .comment-author {
  display: none;
  visibility: hidden;
  margin-left: 0;
}

.comment.quotereply:not(.myself),
.comment.quotereply:first-child:not(.myself) {
  margin-top: 36px;
  overflow: visible;
}
.comment.quotereply.myself {
  margin-top: 48px;
  overflow: visible;
}

.comment.quotereply .comment-body .content {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 16px !important;
}
.comment.quotereply:not(.myself) .comment-body > span.comment-author {
  display: none;
}
.comment blockquote.citation {
  padding: 8px 16px;
  border: 0px;
  height: 36px;
  position: relative;
  top: -52px;
  left: -1px;
  margin-bottom: -36px;
  border-radius: 16px 16px 0 0;
  background: var(--bg1);
  opacity: 0.6;
  overflow: visible;
  width: calc(100% + 8px);
}
.comment.quotereply:not(.myself) blockquote.citation {
  left: -16px;
}
.comment.quotereply:not(.myself) .comment-body .content {
  border-top-right-radius: 16px !important;
  border-top-left-radius: 0px !important;
}
.comment blockquote.citation:before { display: none; }
.comment blockquote.citation > div {
  max-width: 100%;
  overflow: hidden;
  text-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  height: 24px;
}
.comment blockquote.citation cite {
  position: absolute;
  top: -24px;
  margin-bottom: -24px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}
/* .comment blockquote.citation + br { display: none; } */
.comment blockquote.citation cite span.comment-author {
  position: relative;
  font-size: 12px;
  margin: 0;
  color: var(--text);
}

/* ----- ELEMENTS SMS ----- */
.comment nd, .comment deleted, .comment ur, .comment lock {
  display: flex;
  align-items: center;
  opacity: 0.6;
  gap: 8px;
  margin: 8px 0px;
  background: var(--bg2_transp_7);
  padding: 4px 8px;
  border-radius: 8px;
}
.comment nd:after {
  display: block;
  content: "Une erreur d'envoi est survenue";
  font-size: 12px;
}
.comment deleted:after {
  display: block;
  content: "Message supprimé";
  font-size: 12px;
}
.comment ur:after {
  display: block;
  content: "Message distribué";
  font-size: 12px;
}
.comment lock:before {
  display: inline-block;
  width: 16px;
  opacity: 0.7;
  height: 16px;
  line-height: 16px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' fill-rule='evenodd' d='M7 10V7a5 5 0 1 1 10 0v3h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2zm-1 2v8h12v-8zm3-2h6V7a3 3 0 0 0-6 0zm5 4h2v4h-2z'/%3E%3C/svg%3E");
}
.comment lock:after {
  display: block;
  content: "Conversation cryptée";
  font-size: 12px;
}
.comment nd ion-icon, .comment ur ion-icon {
  color: var(--bg1);
  width: 12px;
  height: 12px;
  background: var(--bg4);
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  padding: 2px;
}
.comment deleted ion-icon {
  color: var(--bg1);
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  padding: 2px;
}


/* ------ ANCIEN CSS - SMS - PREMIER POST ----- */
div.sms-intro{
  width: 360px;
  margin: auto;
  position: relative;
  top: -16px;
}
div.sms-intro:before {
  display: block;
  content: " ";
  background: var(--bg2_transp_7);
  width: 392px;
  height: 136px;
  position: absolute;
  bottom: -16px;
  left: -16px;
  border-radius: 24px;
  box-shadow: var(--boxshadow);
  z-index: 1;
}

div.sms-intro .sms-img{
  text-align: center;
  position: relative;
  top: 12px;
  z-index: 3;
}
div.sms-intro .sms-img img{     
  display: inline;
  height: 64px;
  width: 64px;
  object-fit: cover;
  border-radius: 50%;
}
div.sms-intro .sms-img img:not(:first-child){     
  position: relative;
  left: -24px;
  margin-right: -24px;
  box-shadow: var(--boxshadow);
}

div.sms-intro .sms-content{
  padding: 24px 16px 16px 16px;
  text-align: center;
  background: var(--bg1_transp_5);
  border-radius: 16px;
  z-index: 2;
  position: relative;
}
div.sms-intro .sms-content .sms-titre{
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 8px;
  border-bottom: 1px var(--co2) solid;
}
div.sms-intro .sms-titre a{
  background: transparent;
  display: inline;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  color: var(--text);
}
div.sms-intro .sms-texte{ margin-top: 16px; }

