/* ----- TOPIC ----- */
.headerbar.topic {
  height: auto !important;
}
#header-topic {
  padding: 48px;
  background: var(--bg1_transp_7);
}
#header-topic > #header-topic-content {
  padding: 16px 24px 24px 24px;
  background: var(--bg1);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  gap: 8px;
  max-width: 1048px !important;
  margin: auto;
}
#header-topic h1.page-title a {
  color: var(--text-contrast) !important;
  background: linear-gradient(45deg, var(--co1), var(--co3), var(--co2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/* ----- TITRE ET HEADER ----- */
div.sub-header {
  margin-bottom: 24px;
}
div.sub-header > .sub-header-info {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: auto max-content;
  grid-gap: 0 16px;
}
div.topic-actions.topic {
  margin-top: 48px !important;
}
div.topic-actions > div.sub-header-buttons {
  display: flex;
  gap: 16px;
}
div.topic-actions > div.sub-header-buttons > a {
  margin: 0;
}
.accessibility-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

button#toggleReadMode {
  --width-text: 112px;
  transition: var(--transi);
  background: var(--bg1);
  border-radius: 24px;
  display: flex;
  position: relative;
  padding: 8px 16px 8px 44px;
}
button#toggleReadMode ion-icon {
  transition: var(--transi);
  position: absolute;
  top: 4px;
  left: 4px;
  right: auto;
  width: 16px;
  height: 16px;
  padding: 8px;
  border-radius: 24px;
  background: var(--bg2);
  color: var(--text-contrast);
  transform: translateX(0%);
}
button#toggleReadMode span {
  transition: var(--transi);
  height: 24px;
  line-height: 24px;
  width: var(--width-text);
  color: var(--text);
  font-weight: normal !important;
}
button#toggleReadMode.read-on {
  padding: 8px 44px 8px 16px;
}
button#toggleReadMode.read-on ion-icon {
  background: var(--co2);
  color: white;
  transform: translateX(calc(20px + var(--width-text)));
}
button#toggleReadMode.read-on span {
  color: var(--text-contrast);
}

/* ---- MODERATION ---- */
div.moderation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
}
div.moderation fieldset.quickmod {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
div.moderation fieldset.quickmod label {
  color: var(--text);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin: 0;
}
div.moderation fieldset.quickmod select {
  background-color: var(--bg1_transp_7);
  background-size: 16px 16px;
  background-position: right 4px center;
  background-repeat: no-repeat;
  
  padding: 4px 8px;
  border: 1px solid var(--bg2);
  border-radius: 4px;
  color: var(--text);
  -webkit-appearance: none;
  appearance: none;
  position: relative;
}
body.dark div.moderation fieldset.quickmod select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='m112 184l144 144l144-144'/%3E%3C/svg%3E");
}
body.light div.moderation fieldset.quickmod select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23212121' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='m112 184l144 144l144-144'/%3E%3C/svg%3E");
}

/* ----- TOPIC POSTS ----- */
.post-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0 16px 0;
}
/* RESET STYLES FA */
.post {
  border: 0;
  background: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.row2 {
  background: transparent;
}
.postprofile {
  color: var(--text);
  float: initial !important;
  font-size: 14px;
  padding: 0;
}
.postprofile-name {
  text-align: left;
  line-height: 32px;
}
.postprofile-avatar {
  margin: 0;
  text-align: left;
}
.postprofile-avatar img {
  border: 0px;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  height: auto;
}
.post-head {
  background: transparent;
  border: 0;
  padding: 0;
}
.postprofile-rank {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* ---- TOPIC CONTAINER ---- */
.post {
  transition: var(--transi);
  position: relative;
  display: grid;
  grid-template-columns: 248px auto;
  grid-template-rows: 96px auto;
}
.gp-dojin { --co2: var(--doj); }
.post > div:first-of-type {
  position: absolute !important;
  top: 0;
  width: 0px;
}
.post.readmode,
.post.readmode-forced {
  grid-template-columns: 96px auto;
}

/* ---- SIDE PROFIL ---- */
.post > div.postprofile {
  transition: var(--transi);
  height: 100%;
  overflow: hidden;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 16px;
  background: var(--bg1);
  border-radius: 16px 0 0 16px;
  position: relative;
  z-index: 1;
}
.post.readmode > div.postprofile,
.post.readmode-forced > div.postprofile {
  grid-row: 1/2;
  border-radius: 16px 0 0 0;
  height: 96px;
  overflow: initial;
}
.post > div.postprofile dt {
  position: relative;
}
.post.readmode > div.postprofile dt,
.post.readmode-forced > div.postprofile dt {
  height: 80px;
}
.post > div.postprofile dt:before {
  z-index: 0;
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  width: calc(100% + 16px);
  height: 100%;
  border-radius: 16px;
  padding: 2px 0px 0px 2px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  background: linear-gradient(130deg, var(--co2), var(--bg1) 15%, var(--bg1) 85%, var(--co2));
}
.post.readmode > div.postprofile dt:before,
.post.readmode-forced > div.postprofile dt:before {
  background: linear-gradient(130deg, var(--co2), var(--bg1) 35%, var(--bg1) 85%, var(--co2));
}

.post > div.postprofile > dl {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  height: auto;
}
.post.readmode > div.postprofile > dl,
.post.readmode > div.postprofile > dt,
.post.readmode-forced > div.postprofile > dl,
.post.readmode-forced > div.postprofile > dt {
  height: 60px;
}
.post > div.postprofile > dl div.icone {
  transition: var(--transi);
  font-size: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
  top: 0px;
}
.post.readmode > div.postprofile > dl div.icone,
.post.readmode-forced > div.postprofile > dl div.icone {
  z-index: 2;
  opacity: 1;
  top: 0px;
}
.post.readmode > div.postprofile > dl div.icone:empty {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: var(--co3);
  border-radius: 12px;
}
.post.readmode > div.postprofile > dl div.icone div.profil-champ:not(.champ_),
.post.readmode > div.postprofile > dl div.icone span.label,
.post.readmode-forced > div.postprofile > dl div.icone div.profil-champ:not(.champ_),
.post.readmode-foreced > div.postprofile > dl div.icone span.label {
  display: none;
}
.post > div.postprofile > dl div.icone img {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  object-fit: cover;
  border: 1px solid var(--bg2);
}
.post > div.postprofile > dl dd {
  transition: var(--transi);
  opacity: 1;
}
.post.readmode > div.postprofile > dl dd,
.post.readmode-forced > div.postprofile > dl dd {
  opacity: 0;
}
.post > div.postprofile > dl > dd.postprofile-info {
  display: none !important;
}

.post > div.postprofile div.postprofile-avatar {
  transition: var(--transi);
  position: relative;
  top: 0px;
  height: 345px;
  border-radius: 12px;
  overflow: hidden;
}
.post.readmode > div.postprofile div.postprofile-avatar,
.post.readmode-forced > div.postprofile div.postprofile-avatar {
  top: 3px;
}
.post > div.postprofile div.postprofile-avatar > .profile-hover {
  transition: var(--transi);
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  bottom: -100%;
  opacity: 0;
  width: 100%;
  padding: 12px 12px 13px 12px;
  background: var(--bg1_transp_7);
  backdrop-filter: blur(2px);
  border-radius: 12px;
  overflow: hidden;
}
.post > div.postprofile div.postprofile-avatar > .profile-hover > ion-icon,
.post > div.postprofile div.postprofile-avatar > .profile-hover > i,
.post > div.postprofile div.postprofile-avatar > .profile-hover > iconify-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: var(--co2);
}
.post > div.postprofile div.postprofile-avatar:hover > .profile-hover {
  bottom: -1px;
  opacity: 1;
}
.post.readmode > div.postprofile div.postprofile-avatar > .profile-hover,
.post.readmode-forced > div.postprofile div.postprofile-avatar > .profile-hover {
  display: none;
}
.post > div.postprofile div.postprofile-avatar > .profile-hover > .irl {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.post > div.postprofile div.postprofile-avatar > .profile-hover > .irl > .pseudo-irl {
  font-family: var(--font-titre);
  font-size: 16px;
  line-height: 24px;
  color: var(--text-contrast);
  display: block;
}
.post > div.postprofile div.postprofile-avatar > .profile-hover > .irl > .pronoms {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.5px;
}
.post > div.postprofile div.postprofile-avatar > .profile-hover > .tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.post div.statut,
.post > div.postprofile div.postprofile-avatar > .profile-hover > .tags > div.couleur-dia {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 2px 8px 2px 8px;
  border: 0px !important;
  border-radius: 16px;
  width: fit-content;
  font-size: 12px;
  background: var(--bg1);
}
.post .profile-hover div.statut,
.post > div.postprofile div.postprofile-avatar > .profile-hover > .tags > div.couleur-dia {
  padding: 2px 8px 2px 6px;
}
.post div.statut:before,
.post div.statut.pres:before {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #009b54;
  content: " ";
}
.post > div.post-head > div.head-left div.postprofile-name div.statut:before,
.post > div.post-head > div.head-left div.postprofile-name div.statut.pres:before {
  width: 12px;
  height: 12px;
}

.post div.statut.presred:before {
  background-color: #ff3940;
}
.post div.statut.presred:after {
  width: 4px;
  height: 2px;
  background: var(--bg1);
  display: block;
  content: " ";
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 1px;
}
.post > div.post-head > div.head-left div.postprofile-name div.statut.presred:after {
  width: 6px;
  top: 10px;
  left: 11px;
}
.post div.statut.abs:before {
  background-color: #f6a93e;
}
.post div.statut.abs:after {
  width: 5px;
  height: 6px;
  background: var(--bg1);
  display: block;
  content: " ";
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 8px;
}
.post > div.post-head > div.head-left div.postprofile-name div.statut.abs:after {
  width: 8px;
  height: 8px;
  top: 6px;
  left: 7px;
}
.post > div.postprofile div.postprofile-avatar > .profile-hover > .faceclaim,
.post > div.postprofile div.postprofile-avatar > .profile-hover > .credits {
  background: var(--bg1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
}
.post > div.postprofile div.postprofile-avatar > .profile-hover > .faceclaim > strong,
.post > div.postprofile div.postprofile-avatar > .profile-hover > .credits > strong {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--text-contrast);
  letter-spacing: 0.5px;
}

.post > div.postprofile div.postprofile-avatar > a,
.post > div.postprofile div.postprofile-avatar > img{
  display: block;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.post > div.postprofile div.postprofile-avatar > a > img,
.post > div.postprofile div.postprofile-avatar > img {
  transition: var(--transi);
  max-width: 216px !important;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 345px;
  border-radius: 12px;
  position: relative;
  opacity: 1;
  filter: grayscale(0%);
}
.post > div.postprofile div.postprofile-avatar:hover > a > img,
.post > div.postprofile div.postprofile-avatar:hover > img {
  filter: grayscale(100%);
}
.post.readmode > div.postprofile div.postprofile-avatar > a > img,
.post.readmode > div.postprofile div.postprofile-avatar > img,
.post.readmode-forced > div.postprofile div.postprofile-avatar > a > img,
.post.readmode-forced > div.postprofile div.postprofile-avatar > img {
  width: 60px;
  height: 60px;
  opacity: 0 !important;
}

.post > div.postprofile > dl > .postprofile-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(39px, 1fr));
  max-width: 216px;
  grid-column-gap: 1px;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  min-width: 216px;
  position: relative;
  transition: var(--transi);
}
.post > div.postprofile > dl > .postprofile-contact > a {
  text-align: center!important;
  background: var(--bg2)!important;
  padding: 4px!important;
  margin: 0!important;
  overflow: hidden;
  position: relative;
  color: var(--text-contrast);
  transition: var(--transi);
  position: relative;
}
.post > div.postprofile > dl > .postprofile-contact > a > ion-icon {
  position: relative;
  z-index: 2;
}
.post > div.postprofile > dl > .postprofile-contact > a:after {
  display: inline-block;
  content: " ";
  opacity: 0;
  width: 1px;
  height: 1px;
  background: linear-gradient(90deg, var(--co3), var(--co2));
  position: absolute;
  top: 50%;
  left: 50%;
  transition: var(--transi);
  transform-origin: center center;
  z-index: 1;
  border-radius: 50%;
}
.post > div.postprofile > dl > .postprofile-contact > a:hover {
  color: var(--light_1);
}
.post > div.postprofile > dl > .postprofile-contact > a:hover img {
  position: relative;
  z-index: 6;
  filter: brightness(100);
}
.post > div.postprofile > dl > .postprofile-contact > a:hover:after {
  transform: scaleX(5000%) scaleY(5000%);
  opacity: 1;
}

/* ---- TOP BAR ---- */
.post > div.post-head {
  padding: 16px 24px 16px 0px;
  background: var(--bg1);
  display: grid;
  grid-template-columns: auto max-content;
  grid-gap: 24px;
  border-radius: 0 16px 0 0;
  position: relative;
  z-index: 1;
}
.post.readmode > div.post-head,
.post.readmode-forced > div.post-head {
  z-index: 0;
}
.post > div.post-head a, .post > div.post-head a:link, .post > div.post-head a:active, .post > div.post-head a:visited {
  color: var(--co2);
}
.post > div.post-head > div.head-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.post > div.post-head > div.head-left div.postprofile-name {
  display: flex;
  font-size: 24px;
  color: var(--text-contrast);
  font-family: var(--font-titre);
  font-weight: normal !important;
  text-align: left !important;
  align-items: center;
}
.post > div.post-head > div.head-left div.postprofile-name > a.mention {
  font-size: 16px;
  color: var(--text);
  margin-right: 4px !important;
}
.post > div.post-head > div.head-left div.postprofile-name strong {
  font-weight: normal !important;
  font-size: 24px;
}
.post > div.post-head > div.head-left div.postprofile-name .statut {
  display: none;
  margin-left: 16px;
  height: 24px !important;
  font-family: var(--font-texte);
  color: var(--text);
  border: 1px solid var(--bg2) !important;
}
.post.readmode > div.post-head > div.head-left div.postprofile-name .statut,
.post.readmode-forced > div.post-head > div.head-left div.postprofile-name .statut {
  display: flex;
}

.post > div.post-head > div.head-left div.postprofile-rank {
  font-size: 14px;
  line-height: 21px;
  width: fit-content;
  padding: 2px 8px;
  border: 1px solid var(--bg2);
  border-radius: 16px;
}
.post > div.post-head > div.head-left div.postprofile-rank:empty:before {
  content: "Invité.e";
  color: var(--co2);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
  display: inline;
}
.post > div.post-head > div.head-left div.postprofile-rank:empty:after {
  content: "⟡ come to the dark side...";
  color: var(--text);
  display: inline;
  margin-left: 4px;
}
.post > div.post-head > div.head-left div.postprofile-rank bb2 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
}
.post > div.post-head > div.menu-wrap {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  gap: 8px;
  flex-wrap: wrap;
  align-self: center;
  height: 100%;
  justify-content: space-between;
}
.post > div.post-head > div.menu-wrap .profile-icons {
  float: initial !important;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.post > div.post-head > div.menu-wrap .profile-icons li {
  float: initial !important;
  margin: 0;
}
.post > div.post-head > div.menu-wrap .profile-icons a, 
.post > div.post-head > div.menu-wrap .profile-icons span {
  height: auto;
  padding: 2px 6px;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: var(--letter-space);
  font-weight: 600;
  transition: var(--transi);
  background: rgba(var(--co1_rgb),0.5);
  color: var(--light_1);
  box-shadow: none !important;
}
.post > div.post-head > div.menu-wrap .profile-icons a:hover, 
.post > div.post-head > div.menu-wrap .profile-icons span:hover {
  background: rgba(var(--co1_rgb),1);
}
.post > div.post-head > div.menu-wrap .metadata {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 24px;
  padding: 1px 0;
}
.post > div.post-head > div.menu-wrap .metadata:after {
  display: block;
  width: 1px;
  height: 16px;
  content: " ";
  background: var(--bg3);
  order: 1;
}
.post > div.post-head > div.menu-wrap .metadata div.topic-date {
  order: 1;
}
.post > div.post-head > div.menu-wrap .metadata a {
  order: 3;
  display: inline-block;
  max-width: 188px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  border-bottom: 1px solid;
}
/* ---- CONTENU ---- */
.post > div.postbody {
  grid-column: 2/3;
  overflow: hidden;
  transition: var(--transi);
  margin: 0;
  border-radius: 0 0 16px 0;
  padding: 24px 32px 24px 24px;
  background: var(--bg1_transp_7);
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: fit-content;
  min-height: 100%;
  position: relative;
}
.post > div.postbody:before {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-top: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  top: -16px;
  left: calc(-1*16px);
  border-radius: calc(16px*2) 0 0 0;
}
.post > div.postbody:after {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  bottom: -16px;
  left: calc(-1*16px);
  border-radius: 0 0 0 calc(16px*2);
}
.post.readmode > div.postbody,
.post.readmode-forced > div.postbody {
  grid-column: 1/3;
  border-radius: 0 0 16px 16px;
}
.post.readmode > div.postbody:before,
.post.readmode > div.postbody:after,
.post.readmode-forced > div.postbody:before,
.post.readmode-forced > div.postbody:after {
  opacity: 0;
}

.post > div.postbody .content {
  font-size: 16px;
  color: var(--text);
  line-height: 28px;
  background-color: var(--bg1);
  padding: 24px;
  border-radius: 12px;
  overflow: hidden;
  min-height: 100%;
}
.post.post-admin > div.postbody .content {
  padding: 0px !important;
}
/* ---- REACTIONS ---- */
.post > div.fa_like_div {
  position: absolute;
  right: -12px;
  top: 120px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 24px;
  margin: 0px;
  padding: 0px;
}
.post > div.fa_like_div > button.rep-button {
  transition: var(--transi);
  display: flex;
  gap: 4px;
  width: 24px;
  flex-direction: column;
  align-items: center;
  padding: 6px;
  border-radius: 16px;
  margin: 0;
  background: var(--bg1);
  border: 1px solid var(--bg1);
  color: var(--text-contrast);
}
.post > div.fa_like_div > button.rep-button:hover {
  background: var(--bg2);
  border: 1px solid var(--bg2);
}
.post > div.fa_like_div > button.rep-button.fa_liked,
.post > div.fa_like_div > button.rep-button.fa_disliked{
  background-color: var(--co2);
  border: 1px solid var(--co2);
  color: var(--light_1);
}
.post > div.fa_like_div .rep-nb {
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 12px;
  border-radius: 0;
}

.post div.likes-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.post div.likes-list > p.fa_like_list,
.post div.likes-list > p.fa_dislike_list {
  background: var(--bg1_transp_5);
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px !important;
  line-height: 28px;
  border: 0px;
  color: var(--text);
  margin: 0;
}
.post div.likes-list > p.fa_like_list a,
.post div.likes-list > p.fa_dislike_list a {
  color: var(--text-contrast);
}
.post div.likes-list > p.fa_like_list:before,
.post div.likes-list > p.fa_dislike_list:before {
  display: inline-block;
  content: " ";
  width: 12px;
  height: 12px;
  background-size: 12px auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 8px;
  position: relative;
  top: 1px;
}
.post div.likes-list > p.fa_like_list:before {
  background-image: url(https://isekai-monogatari.forumactif.com/users/4115/48/33/86/smiles/3275399733.png);
}
.post div.likes-list > p.fa_dislike_list:before {
  background-image: url(https://isekai-monogatari.forumactif.com/users/4115/48/33/86/smiles/3803110270.png);
}


/* ---- COULEUR DE DIALOGUE --- */
.post > div.postprofile div.couleur-dia {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 2px 8px;
  border: 1px solid var(--bg2);
  border-radius: 16px;
  width: fit-content;
  font-size: 12px;
}
.post > div.postprofile > dl > div.couleur-dia {
  display: none !important;
}
.post.readmode > div.postprofile > dl > div.couleur-dia,
.post.readmode-forced > div.postprofile > dl > div.couleur-dia {
  display: flex !important;
}
.post > div.postprofile div.couleur-dia:before {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--co3);
  content: " ";
}
.post.readmode > div.postprofile div.couleur-dia,
.post.readmode-forced > div.postprofile div.couleur-dia {
  position: absolute;
  left: 50px;
  z-index: 2;
  top: -2px;
  padding: 2px;
  background: var(--bg1);
}
.post.readmode > div.postprofile div.couleur-dia > span,
.post.readmode-forced > div.postprofile div.couleur-dia > span {
  visibility: hidden;
  position: absolute;
  top: -22px;
  left: 5px;
  z-index: 2;
  display: flex;
  padding: 0px 4px;
  background: var(--bg2);
  border-radius: 4px;
  color: var(--text);
  width: fit-content;
  min-width: 61px;
  justify-content: center;
  text-wrap: nowrap;
}
.post.readmode > div.postprofile div.couleur-dia:hover > span,
.post.readmode-forced > div.postprofile div.couleur-dia:hover > span {
  visibility: visible;
}


/* ---- CHAMPS DE PROFIL ---- */
.post div.postprofile > dl > div.profile-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  background: var(--bg2);
  padding: 8px;
  border-radius: 12px;
  position: relative;
}
.post div.postprofile > dl > div.profile-stats:before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 1px;
  background: linear-gradient(130deg, var(--co2), var(--bg1) 30%, var(--bg1) 70%, var(--co2));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.post div.postprofile > dl > div.profile-stats > .messages,
.post div.postprofile > dl > div.profile-stats > .points {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 4px;
  z-index: 2;
  position: relative;
  background: var(--bg1);
  border-radius: 8px;
  padding: 8px 0;
}
.post div.postprofile > dl > div.profile-stats > .messages > span,
.post div.postprofile > dl > div.profile-stats > .points > span {
  font-family: var(--font-titre);
  font-size: 21px;
  line-height: 24px;
  color: var(--co2);
  font-weight: normal;
}
.post div.postprofile > dl > div.profile-stats > .messages > strong,
.post div.postprofile > dl > div.profile-stats > .points > strong {
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: normal;
}

.post div.postprofile > dl > div.aesthetic {
  display: block;
  background: var(--bg2);
  padding: 8px;
  border-radius: 12px;
}
.post div.postprofile > dl > div.aesthetic:has(span:empty) {
  display: none !important;
}
.post div.postprofile > dl > div.aesthetic > span {
  display: block;
  max-height: 88px;
  overflow: auto;
}

.post div.postprofile > dl > div.aesthetic > span::-webkit-scrollbar {
  background: var(--bg1) !important;
}
.post div.postprofile > dl > div.aesthetic > span::-webkit-scrollbar-thumb {
  border: 2px solid var(--bg2) !important;
  background-image: linear-gradient(to bottom, var(--co1), var(--co2), var(--co3)) !important;
}
.post div.postprofile > dl > div.aesthetic > span::-webkit-scrollbar-track {
  border: 3px solid var(--bg2) !important;
}
.post div.postprofile > dl > div.aesthetic > span > span {
  display: block; 
  height: 144px;
  padding-right: 4px;
}
.post div.postprofile > dl > div.aesthetic > span > span img { max-width: 189px !important; }

.post.readmode div.postprofile > dl > div.profile-stats,
.post.readmode div.postprofile > dl > div.aesthetic,
.post.readmode-forced div.postprofile > dl > div.profile-stats,
.post.readmode-forced div.postprofile > dl > div.aesthetic {
  display: none !important;
}

.post div.multicomptes {
  transition: height 0.3s ease;
  position: absolute;
  top: 64px;
  left: -32px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  background: var(--bg1);
  border-radius: 16px 0 0 16px;
  width: 32px;
  height: 32px;
  z-index: 1;
}
.post div.multicomptes.open {
  height: fit-content;
}
.post div.multicomptes:before {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-top: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  top: -15.5px;
  right: calc(-1*16px);
  border-radius: calc(16px*2) 0 0 0;
  transform: rotate(180deg);
}
.post div.multicomptes:after {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  bottom: -15.5px;
  right: calc(-1*16px);
  border-radius: 0 0 0 calc(16px*2);
  transform: rotate(180deg);
}
.post.readmode div.multicomptes:after,
.post.readmode-forced div.multicomptes:after { display: none; }

.post div.multicomptes > a {
  padding: 8px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  height: 32px;
  z-index: 1;
}
.post div.multicomptes.open > a {
  color: var(--co2);
}
.post div.multicomptes > span {
  transition: var(--transi);
  display: flex;
  padding: 0 4px 8px 4px;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  opacity: 0;
}
.post div.multicomptes.open > span {
  animation: opacityIn 0.3s ease forwards;
}
.post div.multicomptes > span > a {
  position: relative;
}
.post div.multicomptes > span > a > img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}
.post div.multicomptes > span > a > span {
  visibility: hidden;
  position: absolute;
  top: 0px;
  right: calc(100% + 4px);
  z-index: 2;
  display: flex;
  padding: 0px 4px;
  background: var(--bg2);
  border-radius: 4px;
  color: var(--text-contrast);
  font-size: 12px;
  width: fit-content;
  text-wrap: nowrap;
}
.post div.multicomptes.open > span > a:hover > span {
  visibility: visible;
}
@keyframes opacityIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* QUICK REPLY */
div.quickreply {
  margin: 48px 0 64px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
div.quickreply > a[name="quickreply"] {
  height: 0;
}
div.quickreply > div.h3 {
  font-size: 32px;
  font-family: var(--font-titre);
  color: var(--text-contrast);
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-weight: normal;
}
div.quickreply > br {
  display: none;
}
div.quickreply > form#quick_reply {
  background: var(--bg1_transp_5);
  color: var(--text);
  padding: 24px !important;
  border: 1px solid var(--bg2) !important;
  border-radius: 16px !important;
  position: relative;
  backdrop-filter: blur(4px);
  margin: 0 !important;
}
#quick_reply #textarea_content { 
  box-shadow: none !important;
  border: 1px solid var(--bg1);
  border-radius: 8px 8px 8px 0px;
}
div.quickreply > form#quick_reply div.sceditor-container {
  height: auto;
  border-radius: 6px 6px 6px 0px !important;
  overflow: hidden;
}
div.sceditor-container {
  background: var(--bg2) !important;
  color: var(--text) !important;
}
div.sceditor-toolbar {
  background: var(--bg1) !important;
  border-bottom: none !important;
}
.sceditor-container textarea {
  background: var(--bg1_transp_5) !important;
  border: 8px solid var(--bg1) !important;
  color: var(--text) !important;
  width: 100% !important;
  padding: 16px !important;
}
div.quickreply > form#quick_reply > div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 !important;
}

div.word-count {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  position: absolute;
  line-height: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--text);
  background: var(--bg1);
  padding: 0px 12px 4px 12px;
  margin-top: -4px;
  border-radius: 0 0 8px 8px;
  margin-left: -1px;
}
div.word-count:before {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(8px * 2);
  width: calc(8px * 2);
  border-top: 8px solid var(--bg1);
  border-left: 8px solid var(--bg1);
  top: -3px;
  right: calc(-1*8px);
  border-radius: calc(16px*2) 0 0 0;
}
div.word-count > span {
  position: relative;
  z-index: 1;
}
div.word-count > span > strong {
  color: var(--text-contrast);
  font-weight: normal;
}


/* --- POSTS INVITÉS --- */
.post.guest .postprofile-name {
  font-size: 24px !important;
}
.post.guest .multicomptes,
.post.guest .aesthetic,
.post.guest .profile-stats,
.post.guest .postprofile-contact,
.post.guest.readmode > div.postprofile > dl > div.couleur-dia,
.post.guest .profile-hover,
.post.guest .statut {
  display: none !important;
}
.post.guest.readmode > div.postprofile div.postprofile-avatar {
  top: 0px !important;
}
.post.guest > div.postprofile div.postprofile-avatar:hover > img {
  filter: grayscale(0) !important;
}
.post.guest.readmode > div.postprofile div.postprofile-avatar > img {
  opacity: 1 !important;
}
