/* --- AGREEMENT -- */
form#frmAgreement {
  backdrop-filter: blur(4px);
  background: var(--bg1_transp_7);
  border-radius: 16px;
  border: 1px solid var(--bg2);
  margin: 32px auto;
  overflow: hidden;
}
form#frmAgreement > div.panel > div.inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 0px !important;
}
form#frmAgreement > div.panel > div.inner > h2 {
  margin: 0;
  padding: 8px 24px;
  background: var(--bg1);
  border: 0;
  color: var(--text-contrast);
  font-family: var(--font-titre);
  font-size: 24px;
  line-height: 48px;
}
form#frmAgreement > div.panel > div.inner > p {
  color: var(--text);
  margin: 0px;
  padding: 0px 24px;
  font-size: 14px;
  line-height: 24px;
}
form#frmAgreement > div.panel > div.inner > br { display: none; }
form#frmAgreement > div.panel > div.inner > span {
  display: block;
  padding: 16px 24px;
  font-size: 14px;
  line-height: 24px;
  background: var(--bg1);
  margin: 0 24px;
  border-radius: 8px;
}
form#frmAgreement > div.panel > div.inner > div > div {
  display: flex !important;
  flex-direction: column;
  margin: auto;
  width: max-content;
  gap: 8px;
}
form#frmAgreement > div.panel > div.inner > div > div > p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0px !important;
}
form#frmAgreement > div.panel:last-child {
  margin: 24px 0 32px 0;
}
form#frmAgreement > div.panel:last-child p { margin: 0px !important; }

/* --- SIGN-UP FORM --- */
form.signup {
  background: var(--bg1_transp_7);
  border: 1px solid var(--bg2);
  border-radius: 16px;
  overflow: hidden;
  gap: 0px !important;
}
form.signup > h1.page-title {
  margin: 0 !important; 
  background: var(--bg1);
  color: var(--text-contrast) !important;
  padding: 8px 16px !important;
  font-size: 24px;
  line-height: 48px;
}
form.signup > div.panel {
  padding: 24px !important;
}
form.signup > div.panel > div.inner {
  margin-top: 0px !important;
}
form.signup > div.panel > div.inner > fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px 32px;
}
form.signup > div.panel > div.inner > fieldset > dl {
  display: flex;
  gap: 16px;
}
form.signup > div.panel > div.inner > fieldset > dl > dt {
  float: none;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  color: var(--text-contrast) !important;
}
form.signup > div.panel > div.inner > fieldset > dl > dt > span {
  color: var(--text-contrast) !important;
}
form.signup > div.panel > div.inner > fieldset > dl > dd {
  width: -webkit-fill-available !important;
  display: block;
}
form.signup > div.panel > div.inner > fieldset > dl > dd > span.italic {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
  display: block;
  color: var(--text);
  opacity: 0.7;
}
form.signup > div.panel:first-of-type > div.inner > fieldset > dl {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
form.signup > div.panel:first-of-type > div.inner > p {
  margin-bottom: 16px;
}
/* form.signup > div.panel:first-of-type > div.inner > fieldset > dl:first-child,
form.signup > div.panel:first-of-type > div.inner > fieldset > dl:last-child > dt { 
  display: none;
} */
form.signup > div.panel:first-of-type > div.inner > fieldset > dl:last-child,
form.signup > div.panel:last-of-type > div.inner > fieldset > dl {
  grid-column: 1/3;
}
form.signup > div.panel:first-of-type > div.inner > fieldset > dl:last-child > dd {
  display: flex;
  align-items: center;
  gap: 8px;
}
form.signup input[type="text"],
form.signup textarea,
form.signup input.inputbox {
  width: 100% !important;
}

div#preview.error {
  max-width: 1048px !important;
  box-shadow: none;
  border-radius: 16px;
  color: var(--text-contrast) !important;
  background: var(--bg1_transp_7) !important;
  margin-top: 32px !important;
}
div#preview.error span {
  color: red !important;
}
input.error, select.error {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  border-color: red !important;
}
#frmAgreement input[type="checkbox"].error {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  border-color: red !important;
  position: relative;
  width: 16px;
  padding: 0 !important;
  height: 16px;
  border-radius: 4px;
}
span.help-block.form-error {
  background: var(--bg1);
  color: red !important;
  font-size: 14px;
  display: block;
  border: 1px solid var(--bg1);
  border-radius: 4px;
  padding: 2px 8px;
  margin: 0;
}
/* --- CONFRIMATION --- */
#form_confirm > .panel > .inner > div.content > h1.page-title {
  margin: 0 !important; 
  background: var(--bg1);
  color: var(--text-contrast) !important;
  padding: 8px 16px !important;
  font-size: 24px;
  line-height: 48px;
  border: 0px;
}
#form_confirm > .panel > .inner > div.content {
  padding: 0;
  overflow: hidden;
}
#form_confirm > .panel > .inner > div.content > fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px 24px 24px;
} 
#form_confirm > .panel > .inner > div.content > fieldset > dl:last-of-type {
  text-align: center;
}
#form_confirm > .panel > .inner > div.content > fieldset > dl:last-of-type > dt { display: none; }
#form_confirm > .panel > .inner > div.content > fieldset > dl:last-of-type > dd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* --- PAGE DE CONFIRMATION /register?step=2&agreement=1&privacy=1 --*/
.formConfirmation.msgdie-panel .inner {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.formConfirmation.msgdie-panel .inner > p {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 28px;
}
.formConfirmation.msgdie-panel .inner > p > a.sl_gmail_button {
  text-align: center;
  align-self: center;
}

/* --- LOGIN ACCUEIL --- */
.panel > form[name="form_login"] {
  padding: 48px 0 24px 0;
}
.panel > form[name="form_login"] > .user_login_form center {
  margin: 0;
}

/* --- LOGIN PAGE --- */
#main-content > p:first-child {
  max-width: 1048px;
  margin-right: auto !important;
  margin-left: auto !important;
  font-size: 12px;
}
form[name="form_login"] > .panel div.content,
.panel > .inner > div.content {
  padding: 24px;
  background: var(--bg1_transp_5);
  backdrop-filter: blur(4px);
  border-radius: 16px;
  border: 1px solid var(--bg1);
}
.panel > .inner > div.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.panel > .inner > div.content > .h3 {
  color: var(--text-contrast);
  border: 0;
  font-family: var(--font-titre);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  padding: 0;
  margin: 0;
}
form[name="form_login"] > .panel div.content > .h3 {
  color: var(--text) !important;
  font-size: 14px !important;
  font-family: var(--font-texte) !important;
}
form[name="form_login"] > .panel div.content > fieldset {
  display: flex;
  width: 100%;
}
form[name="form_login"] > .panel div.content > fieldset > dl {
  display: flex;
  gap: 8px;
  align-items: center;
}
form[name="form_login"] > .panel div.content > fieldset > dl:last-of-type {
  margin-top: 16px !important;
}
form[name="form_login"] > .panel div.content > fieldset > dl:last-of-type > dt {
  display: none;
}
form[name="form_login"] > .panel div.content > div.social_btn {
  display: none !important;
}
.panel > .inner > div.content > p {
  font-size: 16px;
  line-height: 28px;
  color: var(--text);
  margin: 0 !important;
}
.panel > .inner > div.content > hr.dashed {
  display: none;
}

/* --- CONFIRMATION SCREEN --- */
.msgdie-panel {
  margin: 24px auto !important;
}
.msgdie-panel div.metadata > p {
  font-size: 12px;
}
.msgdie-panel h1.page-title {    
  border: 0;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 32px;
  line-height: 48px;
}
.msgdie-panel .inner {
  background: var(--bg1);
  padding: 16px;
  border-radius: 16px;
  color: var(--text);
}
.msgdie-panel .inner p:last-child {
  margin: 0;
}

/* --- FAQ --- */
h1.page-title.faq {
  color: var(--text-contrast);
  font-family: var(--font-titre);
  font-size: 3rem;
  font-weight: 500;
  max-width: 1048px;
  margin: 24px auto !important;
}
.block {
  color: var(--text);
  background: var(--bg1) !important;
  border-radius: 16px;
  box-shadow: none;
  font-size: 14px;
  margin-bottom: 24px;
  overflow: hidden;
  padding: 16px;
}
dl.faq dt {
    color: var(--text-contrast);
    font-size: 24px;
    font-family: var(--font-titre);
    line-height: 32px;
    margin: 0;
    margin-bottom: 8px;
}
span#faqCookies {
  color: var(--text-contrast);
  font-size: 24px;
  font-family: var(--font-titre);
  line-height: 32px;
  margin: 0;
}
dl.faq dd p {
  padding: 16px;
  margin: 8px 0 16px 0;
  border-radius: 16px;
  color: var(--text);
  background: var(--bg2);
  font-size: 14px;
  line-height: 21px;
}

/* ------ RESULTATS RECHERCHE ------- */
input[type="text"]:focus, .inputbox:focus {
  color: var(--text);
}
h1.page-title.results{ opacity: 1; }
h1.page-title.results > span:nth-child(1){
  display: block;
  opacity: 0.1;
  position: relative;
  top: -16px;
}
h1.page-title.results > span:nth-child(2){
  font-size: 9px;
  font-family: var(--font-texte);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: block;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(var(--bg1_rgb),0.3);
  width: fit-content;
  margin: 16px auto;
  backdrop-filter: blur(4px);
  margin-bottom: -32px;
  position: relative;
  top: -48px;
}
form[action="/search?search_id=watchsearch"] #memberlist{ display: none; }
form[action="/search?search_id=watchsearch"]#prof_sujets #memberlist{ 
  display: initial!important; 
  background: transparent!important;
}
#prof_sujets table1#memberlist thead th { color: var(--blanc)!important; }

form[action="/search?search_id=watchsearch"] .forabg{
  border-radius: 16px;
  background: transparent;
  box-shadow: var(--boxshadow);
  overflow: hidden;
  margin-top: 16px;
}
ul.search.topiclist {
  list-style-type: none;
  margin: 0;
  color: var(--blanc);
  display: grid;
  grid-gap: 8px;
  grid-auto-rows: auto;
  padding: 16px;
  background: var(--bg1_transp_5);
}
ul.search.topiclist li.row {
  color: var(--text);
  border-width: 0;
  margin: 0;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  transition: var(--transi);
}
ul.search.topiclist li.row dl{ grid-template-columns: auto 48px 160px; }
ul.search.topiclist li.row dd.dterm { padding: 8px !important; }

ul.search dd.posts, 
ul.search dd.topics, 
ul.search dd.views {
  font-size: 12px;
  text-align: center;
  width: 100%;
  background: var(--bg2_transp_5);
  padding: 0px;
  height: 100%;
  margin: 0px;
  padding: 8px;
}
ul.search dd.posts span, 
ul.search dd.topics span, 
ul.search dd.views span{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--text);
  opacity: 0.5;
  display: block;
}
ul.search.topiclist li.row dl dd.lastpost{
  font-size: 10px;
}
ul.topiclist.search dd.lastpost > span > a > img{
  mix-blend-mode: difference;
  height: 8px;
}
.search .postbody {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.search .postbody div.review-header > p > a:nth-child(2){
  float: right;
  color: var(--text-contrast);
}
.search .postbody .content{
  border-radius: 0px;
  box-shadow: none;
}

/*** CODES ***/
.hljs-strong,
.hljs-emphasis,
.hljs-quote,
.hljs-string,
.hljs-variable,
.hljs-template-variable {
    color: var(--co2)!important;
}

.hljs-type,
.hljs-title,
.hljs-attr,
.hljs-selector-tag,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-tag,
.hljs-keyword,
.hljs-selector-pseudo,
.hljs.xml {
    color: var(--tx_contrast)!important;
}

.hljs-section,
.hljs-name {
    color: var(--co1)!important;
}