/* --- TABS --- */
div.edit-profil {
  display: grid;
  grid-template-columns: 280px auto;
  grid-gap: 0px;
  margin: 64px 0;
}
div.edit-profil .panel > .inner {
  margin: 0 auto !important;
}
div.edit-profil > #tabs {
  background: var(--bg1);
  padding: 16px;
  border-radius: 16px 0px 0px 16px;
  position: relative;
  width: 280px;
  height: fit-content;
}
div.edit-profil > #tabs:after {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  bottom: -15.5px;
  right: calc(-1*16px);
  border-radius: 0 0 0 calc(16px*2);
  transform: rotate(180deg);
  visibility: visible !important;
}

div.edit-profil > #tabs ul {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  overflow: hidden;
}
div.edit-profil > #tabs ul > li {
  transition: var(--transi);
  background: transparent;
  border: 1px solid rgba(var(--bg2_rgb),0);
  color: var(--text);
  display: flex;
}
div.edit-profil > #tabs ul > li.activetab,
div.edit-profil > #tabs ul > li:hover {
  background: var(--bg2_transp_7);
  border: 1px solid var(--bg2);
  border-radius: 8px;
  color: var(--text-contrast);
}
div.edit-profil > #tabs ul > li > a {
  border: 0px;
  width: 100%;
  line-height: 24px;
  padding: 4px 8px;
}
div.edit-profil > #tabs ul > li > a > span {
  transition: var(--transi);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
  color: var(--text);
  line-height: 24px;
  padding: 0;
}
div.edit-profil > #tabs ul > li.activetab > a > span,
div.edit-profil > #tabs ul > li:hover > a > span {
  color: var(--text-contrast);
}

/* --- GENERAL --- */
div.edit-profil > div.panel {
  position: relative;
  background: var(--bg1_transp_7);
  color: var(--text) !important;
  padding: 0px;
  border-radius: 0 16px 16px 16px;
  z-index: 2;
  border: 16px solid var(--bg1);
  border-right: 0px;
  border-bottom: 0px;
  width: -webkit-fill-available;
  min-height: 728px !important;
  height: auto;
}
div.edit-profil > div.panel:after {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  bottom: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  visibility: visible !important;
}
div.edit-profil #cp-main {
  margin: 0px !important;
}
div.edit-profil #cp-main form {
  margin: 0px !important;
  gap: 0px !important;
}
div.edit-profil #cp-main form h1.page-title {
  margin: 0;
  background: var(--bg1);
  padding: 8px 16px;
  font-size: 24px;
  line-height: 48px;
  color: var(--text-contrast);
  position: relative;
}
div.edit-profil #cp-main form h1.page-title:after {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  bottom: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  transform: rotate(90deg);
  visibility: visible !important;
}
div.edit-profil #cp-main form h1.page-title:not(:first-of-type):before {
  opacity: 1;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  height: calc(16px * 2);
  width: calc(16px * 2);
  border-bottom: 16px solid var(--bg1);
  border-left: 16px solid var(--bg1);
  top: -16px;
  left: -16px;
  border-radius: 0 0 0 calc(16px*2);
  visibility: visible !important;
}
div.edit-profil #cp-main form:first-of-type h1.page-title:first-of-type {
  padding: 0px 16px 8px 16px;
}
div.edit-profil #cp-mainn .panel {
  border-radius: 0;
  padding: 16px;
  color: var(--text) !important;
  font-size: 14px;
}
div.edit-profil form[name="post"] > div.panel:last-of-type dt label,
div.edit-profil form[name="post"] > div.panel:last-of-type dd a {
  line-height: 24px;
}

div.edit-profil .panel > .inner > fieldset > dl {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 240px auto;
  align-items: flex-start;
}
div.edit-profil .panel > .inner > fieldset > dl > dt {
  height: 36px;
  line-height: 36px;
  width: 240px !important;
}
div.edit-profil .panel > .inner > fieldset > dl > dt > span {
  color: var(--text)!important;
}
div.edit-profil .panel > .inner > fieldset > dl > dd {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
div.edit-profil .panel > .inner > fieldset > dl > dd > br,
div.edit-profil .panel > .inner > fieldset > dl:after {
  display: none;
}
div.edit-profil .panel > .inner > fieldset > dl > dd > span.italic {
  font-style: normal;
  color: var(--text);
  font-size: 14px;
}
div.edit-profil .panel > .inner > fieldset > dl > dd > strong {
  color: var(--text-contrast);
  font-size: 16px;
}
div.edit-profil .panel > .inner > fieldset > dl > dd > strong, 
div.edit-profil .panel > .inner > fieldset > dl > dd > a {
  line-height: 36px;
}
div.edit-profil .panel > .inner > fieldset > dl > dd input,
div.edit-profil .panel > .inner > fieldset > dl > dd textarea {
  width: 100% !important;
}
div.edit-profil .panel > .inner > fieldset > dl > dd select {
  max-width: 240px;
}
div.edit-profil .panel > .inner > fieldset > dl > dt > span > img,
div.edit-profil .panel > .inner > fieldset > dl#Genre,
div.edit-profil .panel > .inner > fieldset > dl#Commentaires,
div.edit-profil .panel > .inner > fieldset > dl#Date_de_naissance,
div.edit-profil .panel > .inner > fieldset > dl#Facebook,
div.edit-profil .panel > .inner > fieldset > dl#Twitter,
div.edit-profil .panel > .inner > fieldset > dl#Pinterest,
div.edit-profil .panel > .inner > fieldset > dl#Skype {
  display: none;
}

/* --- PREFERENCES --- */
div.edit-profil .panel#preferences > .inner > fieldset {
  gap: 12px;
}
div.edit-profil .panel#preferences > .inner > fieldset > dl > dt {
  height: fit-content !important;
}
div.edit-profil .panel#preferences > .inner > fieldset > dl > dd {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
div.edit-profil .panel#preferences > .inner > fieldset > dl > dd#Langue_du_forum,
div.edit-profil .panel#preferences > .inner > fieldset > dl > dd#Fuseau_horaire,
div.edit-profil .panel#preferences > .inner > fieldset > dl > dd#Format_de_la_date {
  display: flex;
}

div.edit-profil .panel#preferences > .inner > fieldset > dl > dd > label {
  display: grid;
  grid-template-columns: 16px auto;
  grid-gap: 8px;
  align-items: center;
}
div.edit-profil .panel#preferences > .inner > fieldset > dl > dd > label:nth-of-type(2n + 3) {
  width: 100%;
  grid-column: 1/3;
}

div.edit-profil .panel#preferences > .inner > fieldset > dl > dd > label > input[type="radio"] {
  width: 16px !important;
}
div.edit-profil .panel#preferences > .inner > fieldset > dl > dd > span.italic {
  width: 100%;
  grid-column: 1/3;
}

/* --- AVATAR --- */
div.reglement_avatar {
  font-weight: normal;
  padding: 16px;
  background: var(--bg1);
  border-radius: 8px;
  height: fit-content;
}
div.reglement_avatar ul {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  margin: 8px 0px;
}
div.reglement_avatar ul li {
  margin-bottom: 8px;
}
div.reglement_avatar ul li:before {
  display: inline-block;
  margin-right: 4px;
  content: "・";
  font-weight: bold;
  color: var(--co2);
}

div.panel#avatar fieldset {
  display: grid;
  grid-template-columns: auto 248px;
  grid-gap: 16px;
  grid-template-rows: 193px auto;
}
div.panel#avatar div.avatar-container {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
div.panel#avatar div.avatar-container img {
  width: 248px;
  border-radius: 8px;
}
div.panel#avatar div.delete {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  margin-top: 16px;
}
div.panel#avatar div.delete > input {
  width: 16px !important;
}
div.panel#avatar fieldset > dl {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0px;
  padding: 0px;
  align-self: end;
}
div.panel#avatar fieldset > dl > dt,
div.panel#avatar fieldset > dl > dd {
  width: 100% !important;
}

/* --- SIGNATURE --- */
div.panel#signature #smiley-box,
div.panel#signature #parent_editor_simple > div.clear,
div.panel#signature #message-box > br {
  display: none !important;
}
div.panel#signature #message-box {
  margin: 0px !important;
}
#cp-main .panel.sig {
  background-color: transparent !important;
  margin: 0;
  padding: 16px;
}

/* --- NOTIFICATIONS --- */
#cp-main table.table1 {
  background-color: var(--bg1);
  margin-bottom: 0px;
  border-radius: 8px;
  overflow: hidden;
}
#cp-main table.table1 thead th {
  color: var(--text-contrast);
  font-weight: 600;
  padding: 8px 16px;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
}
table.table1 tbody td {
  border-color: var(--bg2);
  border-style: solid;
  border-width: 1px 0 0;
  padding: 4px 16px;
}
table.table1 td {
  color: var(--text);
  font-size: 14px;
}

#cp-main #prof_notif .panel {
  padding: 16px;
}
.panel p, .panel div.mes-txt {
  margin: 0px;
}
#prof_bloc_notif > h1 {
  padding: 8px 16px !important;
}
.row1 {
  background-color: var(--bg2_transp_7);
}
table.table1 tbody tr:hover, table.table1 tbody tr.hover {
  background-color: inherit !important;
  color: var(--text-contrast) !important;
}
#checkboxes > thead > tr > th:nth-child(2),
#checkboxes > thead > tr > th:nth-child(3) {
  font-size: 0px;
  postion: relative;
}
#checkboxes > thead > tr > th:nth-child(2):before {
  display: inline;
  font-size: 12px;
  content: "Email";
}
#checkboxes > thead > tr > th:nth-child(3):before {
  display: inline;
  font-size: 12px;
  content: "Toolbar";
}

#prof_sujets #memberlist > thead > tr > th,
#prof_sujets #memberlist > tbody > tr > td.posts,
#prof_sujets #memberlist > tbody > tr > td:nth-child(3),
#prof_sujets > p.right-box {
  display: none;
}
#prof_sujets #memberlist > tbody > tr > td.posts:last-child,
#prof_sujets #memberlist > thead > tr > th:nth-child(2),
#prof_sujets #memberlist > thead > tr > th:nth-child(7),
#prof_sujets #memberlist > thead > tr > th:nth-child(8) {
  display: table-cell !important;
}

#prof_sujets > p.pagination {
  margin: 0;
  padding: 0 16px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
p.pagination > a {
  font-size: 14px;
  margin: 0px;
}
#prof_sujets > p.pagination > span {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0px;
}
#prof_sujets > p.pagination > span > strong {
  width: 24px;
  height: 24px;
  font-size: 12px;
  margin: 0;
  line-height: 24px;
  box-shadow: none;
  background: transparent;
}
p.pagination > span > a:not(.pag-img) {
  transition: var(--transi);
  background: var(--bg1) !important;
  width: 24px !important;
  height: 24px;
  line-height: 24px !important;
  font-size: 12px;
  padding: 0 !important;
  margin: 0 !important;
  color: var(--text-contrast) !important;
  box-shadow: none;
}
p.pagination > span > a.pag-img {
  margin: 0;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
p.pagination span a.pag-img img {
  height: 8px;
  margin: 0;
}
body.dark p.pagination span a.pag-img img {
  filter: invert(1);
}

#main-content > div.edit-profil > div.panel.row3 > div > form[name="jumpbox"] {
  padding: 0 16px;
  margin-top: 16px;
}
#memberlist > tbody > tr > td > strong {
  margin-right: 4px;
}
#memberlist > tbody > tr > td > a.topictitle {
  font-size: 14px;
}
#memberlist > tbody > tr > td > a.topictitle:hover {
  color: var(--co1);
}

/* ---- BOITE DE MPS ---- */
div#main-content > div.inbox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1048px !important;
  background: transparent;
  margin: 40px auto;
  padding: 0;
}
ul#privmsgs-menu {
  float: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  background: var(--bg1_transp_5);
  border-radius: 16px;
  margin-bottom: 24px;
}
ul#privmsgs-menu > li {
  margin: 0;
  min-height: 0;
  min-width: 0;
  text-align: center;
  vertical-align: middle;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 8px !important;
  height: 72px;
  background: var(--bg1);
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
}
ul#privmsgs-menu > li > iconify-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  color: var(--text-contrast);
  transition: var(--transi);
}
ul#privmsgs-menu > li:has(a) > iconify-icon {
  color: var(--co1);
}
ul#privmsgs-menu > li > span {
  line-height: 24px;
  height: 24px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--text-contrast);
}
#privmsgs-menu a {
  display: inline-block;
  line-height: 24px;
  margin-top: 0px;
  padding-top: 0px;
  transition: var(--transi);
  color: var(--text);
}
ul#privmsgs-menu > li:has(a):hover > iconify-icon,
ul#privmsgs-menu > li:has(a):hover > span > a {
  color: var(--co2);
}

div#main-content > div.inbox .pm-actions {
  margin: 0;
}

div.mp-top {
  grid-column: 2/3;
  background: var(--bg1);
  border-top-right-radius: 16px;
}
#main-content > div > div.msg-review > div.post {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
#main-content > div > div.msg-review > div.post > div:first-of-type {
  position: relative !important;
  top: 0;
  width: 100%;
}

.curr_privmsg { border: 0px; }
div.review-posts.privmsg div.review-post .review-postbody p.author > span:first-child {
  display: flex;
  align-items: center;
  gap: 8px;
}
div.review-posts.privmsg div.review-post .review-postbody p.author > span > span.h3 {
  font-size: 12px;
  font-family: var(--font-texte);
  font-weight: 600;
  padding: 0;
  line-height: 20px;
}

div.inbox .post > div.postprofile dl,
div.inbox .post > div.postprofile dt,
div.inbox .post > div.postprofile div.postprofile-avatar {
  height: 100%;
}
div.inbox .post > div.postprofile div.postprofile-avatar > img {
  max-height: 345px !important;
  height: 100%;
}
div.inbox .post > div.postprofile dt:before {
  max-height: 345px;
  height: 100%;
}

div.mp-top {
  grid-column: 2/3;
  background: var(--bg1);
  border-top-right-radius: 16px;
  padding: 16px 24px 16px 0px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
div.mp-top > div.h3 {
  border: 0px;
  margin: 0;
  font-family: var(--font-titre);
  font-size: 28px;
  line-height: 35px;
  padding: 0;
  letter-spacing: 0;
  color: var(--text-contrast);
}
div.mp-top > div.mp-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.mp-top > div.mp-info ul.profile-icons {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0;
}
div.mp-top > div.mp-info ul.profile-icons fieldset.submit-buttons {
  margin: 0;
  display: flex;
  gap: 8px;
}
div.mp-top > div.mp-info ul.profile-icons fieldset.submit-buttons > input.button2 {
  height: auto;
  padding: 2px 6px !important;
  border-radius: 4px !important;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: var(--letter-space);
  font-weight: 600;
  transition: var(--transi);
  background: rgba(var(--co1_rgb),0.5) !important;
  color: var(--light_1) !important;
  box-shadow: none !important;
}
div.mp-top > div.mp-info ul.profile-icons fieldset.submit-buttons > input.button2:hover {
  background: rgba(var(--co1_rgb),1) !important;
}
div.mp-top > div.mp-info > .postprofile-name {
  text-align: left;
  display: flex;
  gap: 16px;
  line-height: 20px;
  align-items: center;
}
div.mp-top > div.mp-info > .postprofile-name > span.date {
  gap: 4px;
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
}
div.inbox .post {
  margin-bottom: 16px;
}

ul.pmlist {
  border-radius: 16px;
  overflow: hidden;
  padding: 16px;
  gap: 1px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bg2);
  background: var(--bg1_transp_5) !important;
}
ul.pmlist li.pm:first-child {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
ul.pmlist li.pm:last-child {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

ul.pmlist li.pm {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background: var(--bg1_transp_7);
  color: var(--text);
  border-radius: 0;
  border: 0;
  transition: var(--transi);
}
ul.pmlist li.pm:not(.oldmp) {
  background: var(--bg1);
}
ul.pmlist li.pm:hover {
  background: var(--bg1_transp_5);
}
ul.pmlist li.pm > dd.mark {
  float: none!important;
}
ul.pmlist li.pm > div.content {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  align-items: center;
}
ul.pmlist li.pm > div.content > a.topictitle {
  display: flex;
  align-items: center;
  gap: 16px;
}
ul.pmlist li.pm > div.content > a.topictitle > div.icons {
  display: block;
  background: var(--bg1);
  padding: 8px;
  border-radius: 50%;
  font-size: 20px;
  color: var(--co1);
  position: relative;
  width: 36px;
  border: 1px var(--bg2) solid;
}
ul.pmlist li.pm > div.content > a.topictitle > div.icons:not(.oldmp):after {
  display: block;
  height: 5.5px;
  width: 5.5px;
  content: " ";
  background: var(--co2);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 6.5px;
  animation: pulse 2s infinite;
}
ul.pmlist li.pm > div.content > a.topictitle > div.icons ion-icon.oldmp { display: none; }
ul.pmlist li.pm > div.content > a.topictitle > div.icons.oldmp ion-icon.nouveaump { display: none; }
ul.pmlist li.pm > div.content > a.topictitle > div.icons.oldmp ion-icon.oldmp { 
  display: inline !important;
  color: var(--co2);
}

ul.pmlist li.pm > div.content > a.topictitle > div.icons img.nouveau {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  right: -4px;
}

ul.pmlist li.pm > div.content > span {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  color: var(--text);
}
ul.pmlist li.pm > div.content > span > span.auteur {
  display: flex;
  gap: 4px;
  align-items: center;
}
ul.pmlist li.pm > div.content > span > span.auteur:after {
  display: block;
  width: 1px;
  height: 16px;
  content: " ";
  background: var(--text);
  margin-left: 4px;
}
ul.pmlist li.pm > div.content > span > span.date {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 4px;
}

ul.pmlist li.pm > div.content > a.topictitle > span {
  color: var(--text-contrast);
}

div.inbox div.topic-actions.bottom {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
div.inbox div.topic-actions.bottom > .topic-actions-buttons {
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: space-between;
}
div.inbox div.topic-actions.bottom > .buttons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}
div.inbox div.topic-actions.bottom > .topic-actions-buttons .left-box {
  display: flex;
  gap: 8px;
}
div.inbox .topic-actions-buttons > span {
  margin-bottom: 0;
}
div.inbox div.topic-actions.bottom > .buttons > .actions {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;
}
div.inbox div.topic-actions.bottom > .buttons > .actions > input.button2,
div.inbox div.topic-actions-buttons .left-box a {
  height: 24px;
  padding: 2px 6px !important;
  border-radius: 4px !important;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: var(--letter-space);
  font-weight: 600;
  transition: var(--transi);
  background: var(--bg1) !important;
  color: var(--text) !important;
  box-shadow: none !important;
  text-wrap: nowrap;
}
div.inbox div.topic-actions.bottom > .buttons > .actions > input.button2:hover,
div.inbox div.topic-actions-buttons .left-box a:hover {
  color: var(--text-contrast) !important;
}
div.inbox .button2 + .button2 { margin: 0 !important; }

/* --- SPINNER POUR LES FORMULAIRES --- */
#confirmButton:disabled {
  background-image: none;
  background-color: var(--bg3);
}
#confirmButton:disabled:after {
  display: inline-block;
  content: "Envoi de tes infos...";
}
#confirmButton:disabled ion-icon,
#confirmButton:disabled span { display: none; }
.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.spinner.hidden { display: none; }
@keyframes rotation { 0% { transform: rotate(0deg);} 100% { transform: rotate(360deg); } } 