/* ------ FORUM ----- */
div.sub-header {
  margin-top: 48px;
}
div.sub-header > div.sub-header-info > h1,
div.sub-header > div.sub-header-info > h1 a {
  color: var(--text-contrast);
  font-family: var(--font-titre);
  grid-column: 1/3;
}
.sub-header-path { 
  font-size: 12px;
  line-height: 20px;
  display: flex;
  gap: 4px;
  align-items: center;
  margin-top: 8px;
}
.sub-header-path > a.nav {
  float: initial !important;
  color: var(--text);
  font-size: 14px !important;
  transition: var(--transi);
  display: flex;
  align-items: center;
  gap: 4px;
}
.sub-header-path > a.nav > span {
  text-overflow: ellipsis;
  max-width: 185px;
  text-wrap: nowrap;
  overflow: hidden;
}
.sub-header-path > a.nav:hover {
  color: var(--text-contrast);
}

/* ------ DESCRIPTION BLOCK ----- */
#page-desc {
  background: var(--bg1_transp_5) !important;
  backdrop-filter: blur(4px);
  border: 1px solid var(--bg2);
  border-radius: 16px;
  box-shadow: none;
}
#page-desc div.page-desc-content div.icon,
#page-desc div.nom-jp,
#page-desc div.page-desc-content div.guidebooks_list {
  display: none;
}
#page-desc div.soustitre {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--text-contrast);
  padding: 16px;
  padding-bottom: 0px;
  background: var(--bg1);
  border-radius: 8px 8px 0 0;
}
#page-desc div.soustitre span {
  width: fit-content;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--text-contrast);
  background: var(--gradient) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-shadow: 0 0 #00000000 !important;
}
#page-desc div.description {
  color: var(--text);
  font-size: 14px;
  padding: 16px;
  background: var(--bg1);
  border-radius: 0 0 8px 8px;
  padding-top: 8px;
}
#page-desc div.description > span {
  max-height: 80px;
  overflow: auto;
  display: block;
  padding-right: 16px;
  color: var(--text);
}

/* ------ PAGINATION ----- */
div.topic-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 32px;
  width: 100%;
  margin: 0 !important;
}
div.topic-actions:after { display: none; }
div.pagination,
div.topic-bottom strong.pagination {
  float: initial;
  display: grid;
  justify-content: flex-end;
}
div.pagination > a { display: none !important; }
div.pagination > span {
  display: flex;
  align-items: center;
  gap: 4px;
}
div.pagination > span > strong {
  width: 24px;
  height: 24px;
  font-size: 12px;
  margin: 0;
  line-height: 24px;
  box-shadow: none;
  background: transparent;
}
div.pagination > span > a:not(.pag-img),
div.topic-bottom strong.pagination > span > a {
  transition: var(--transi);
  background: var(--bg1) !important;
  width: 24px !important;
  height: 24px;
  line-height: 24px !important;
  font-size: 12px;
  padding: 0 !important;
  margin: 0 !important;
  color: var(--text-contrast) !important;
  box-shadow: none;
}
div.topic-bottom strong.pagination > span > a {
  background: var(--bg2) !important;
}
div.pagination > span > a:not(.pag-img):hover,
div.topic-bottom strong.pagination > span > a:hover {
  background: var(--co2) !important;
  color: var(--light_1) !important;
}
div.pagination > span > a.pag-img {
  margin: 0;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  color: var(--text-contrast);
}
div.pagination > span > a.pag-img > img { margin: 0; }

div.topic-actions > div.actions-right {
  display: flex;
  gap: 16px;
}
div.topic-actions > div.actions-right > a {
  transition: var(--transi);
  display: flex;
  line-height: 20px;
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
  align-items: center;
  gap: 4px;
  color: var(--text);
}
div.topic-actions > div.actions-right > a:hover { color: var(--text-contrast); }

div.topic-actions a.button1 {
  border-radius: 24px;
  box-shadow: none;
  line-height: 24px;
  padding: 8px 16px;
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--text-contrast);
  overflow: hidden;
  background-color: transparent !important;
  background-size: 200% 100%;
  background-position: center left;
  background-image: linear-gradient(to right, var(--bg1) 50%, var(--co2) 100%);
}
div.topic-actions a.button1:hover {
  background-position: center right;
}
div.topic-actions a.button1 > ion-icon,
div.topic-actions a.button1 > span { 
  position: relative;
  z-index: 2;
  font-weight: normal !important;
}
div.topic-actions.bottom {
  align-items: center;
}
div.topic-actions.bottom > a:not(.button1) {
  transition: var(--transi);
  display: block;
  background: transparent;
  border: 1px solid var(--text);
  line-height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--text);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}
div.topic-actions.bottom > a:not(.button1):hover {
   border: 1px solid var(--text-contrast);
   color: var(--text-contrast);
}

div.permissions {
  margin-top: 32px;
}
div.permissions > p {
  font-size: 12px;
}
div.permissions a {
  color: var(--text-contrast);
  border-bottom: 1px solid;
  transition: var(--transi);
}
div.permissions a:hover {
  color: var(--co2);
}

/* --- LISTE DES SUJETS --- */
.forumbg {
  margin: 16px auto !important;
  background: var(--bg1_transp_5);
  border-radius: 16px;
  border: 1px solid var(--bg2);
  box-shadow: none !important;
}
/* --- RESET --- */
dd {
  float: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: auto !important;
}

.forumbg ul.topiclist {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.forumbg ul.topiclist > li.row {
  display: grid;
  grid-gap: 4px 12px;
  grid-template-columns: auto 240px;
  grid-template-rows: 24px auto;
  position: relative;
  padding: 16px;
  border-radius: 12px;
  background: var(--bg1);
  position: relative;
  border: 1px solid var(--bg2);
  transition: var(--transi);
}
.forumbg ul.topiclist > li.row:hover {
  background: var(--bg1_transp_5);
}
.forumbg ul.topiclist > li.row[title="Nouveaux messages"]::before {
  background: var(--gradient_vert);
  z-index: 0;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: 0;
  bottom: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 12px;
  padding: 0 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.forumbg ul.topiclist > li.row div.widget-pa {
  display: none;
}
.forumbg ul.topiclist > li.row div.tags {
  display: flex;
  gap: 4px;
}
.forumbg ul.topiclist > li.row div.tags > strong {
  width: fit-content;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 6px;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: var(--letter-space);
  font-weight: 600;
  transition: var(--transi);
}
.forumbg ul.topiclist > li.row div.tags > strong.annonce,
.forumbg ul.topiclist > li.row div.tags > strong.annonce-glo{
  background: rgba(var(--co1_rgb),0.5);
  color: var(--light_1);
  border: 0px !important;
}
.forumbg ul.topiclist > li.row div.tags > strong.note {
  background: rgba(var(--co4_rgb), 0.5);
  color: var(--light_1);
  max-height: unset !important;
  min-height: unset !important;
  border: 0px !important;
}
.forumbg ul.topiclist > li.row div.tags:empty {
  display: none;
}
.forumbg ul.topiclist > li.row div.topic-title-container {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  gap: 4px;
  align-items: center;
  z-index: 3;
}

.forumbg ul.topiclist > li.row div.topic-title-container ion-icon {
  color: var(--text);
  font-size: 12px;
  padding: 2px;
}
.forumbg ul.topiclist > li.row div.topic-title-container h2 {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
}
.forumbg ul.topiclist > li.row div.topic-title-container h2 a.topictitle {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  gap: 8px;
  color: var(--text-contrast);
  font-size: 16px;
  line-height: 24px;
  transition: var(--transi);
}
.forumbg ul.topiclist > li.row div.topic-title-container h2 a.topictitle span.coloradmin {
  color: var(--co1) !important;
}
.forumbg ul.topiclist > li.row div.topic-title-container h2 a.topictitle span.nouveaumsg {
  display: none;
  background: rgba(var(--co2_rgb), 0.4);
  border-radius: 4px;
  border: 1px solid var(--co2);
  color: var(--light_1);
}
.forumbg ul.topiclist > li.row[title="Nouveaux messages"] div.topic-title-container h2 a.topictitle span.nouveaumsg {
  display: flex !important;
}
.forumbg ul.topiclist > li.row div.topic-title-container h2 a.topictitle span.hover-icon {
  transition: var(--transi);
  overflow: hidden;
  transform-origin: center left;
  width: 16px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
}
.forumbg ul.topiclist > li.row div.topic-title-container h2 a.topictitle span.hover-icon ion-icon {
  transition: var(--transi);
  color: var(--text-contrast);
  font-size: 16px;
  line-height: 24px;
  position: relative;
  left: -16px;
  top: 2px;
}
.forumbg ul.topiclist > li.row:hover div.topic-title-container h2 a.topictitle span.hover-icon ion-icon {
  left: 0px;
}
.forumbg ul.topiclist > li.row[title="Pas de nouveaux messages"] div.topic-title-container h2 a.topictitle span.hover-icon { 
  position: relative;
  left: -4px;
  margin-right: -4px;
}

.forumbg ul.topiclist > li.row div.topic-title-container h2 div.stats {
  font-size: 10px;
  display: flex;
  text-wrap: nowrap;
  flex-direction: column;
  gap: 4px;
  color: var(--text);
  padding: 0px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 20px;
  justify-self: flex-end;
}
.forumbg ul.topiclist > li.row div.topic-bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
  width: 100%;
  gap: 8px;
  padding-top: 10px;
  border-top: 1px solid var(--bg2);
  margin-top: 8px;
  height: max-content;
  align-items: center;
  z-index: 3;
}
.forumbg ul.topiclist > li.row div.topic-bottom span.topic-description {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  text-wrap: nowrap;
  line-height: 24px;
  color: var(--text);
}
.forumbg ul.topiclist > li.row div.topic-bottom span.topic-description:not(:empty):after {
  display: block;
  width: 16px;
  height: 1px;
  content: " ";
  background: var(--bg3);
}
.forumbg ul.topiclist > li.row div.topic-bottom span.topic-description > span {
  text-wrap: nowrap;
}
.forumbg ul.topiclist > li.row div.topic-bottom span.topic-description:empty {
  display: none !important;
}
.forumbg ul.topiclist > li.row div.topic-bottom div.topic-auteur {
  color: var(--text);
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
}
.forumbg ul.topiclist > li.row dd.lastpost {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0 8px !important;
}
.forumbg ul.topiclist > li.row dd.lastpost > span.lastpost-avatar {
  padding: 0 !important;
}
.forumbg ul.topiclist > li.row dd.lastpost > span.lastpost-avatar img {
  border-radius: 8px;
  border: none;
  padding: 0px;
  width: 44px;
  height: 100%;
  object-fit: cover;
  box-shadow: none;
  transition: var(--transi);
}
body.dark .forumbg ul.topiclist > li.row dd.lastpost > span.lastpost-avatar img {
  filter: grayscale(1) brightness(0.8);
}
body.light .forumbg ul.topiclist > li.row dd.lastpost > span.lastpost-avatar img {
  filter: grayscale(1) brightness(1);
}
.forumbg ul.topiclist > li.row:hover dd.lastpost > span.lastpost-avatar img {
  filter: grayscale(0) brightness(1) !important;
}
.topics .lastpost-avatar:after { display: none; }
.forumbg ul.topiclist > li.row dd.lastpost > span.lastpost-infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
}
.forumbg ul.topiclist > li.row dd.lastpost > span.lastpost-infos > span.auteur {
  display: flex;
  align-items: center;
  gap: 4px;
}
.forumbg ul.topiclist > li.row dd.lastpost > span.lastpost-infos > span.auteur > strong > a,
.forumbg ul.topiclist > li.row dd.lastpost > span.lastpost-infos > span.auteur > strong > a > span > strong {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600 !important;
}
.forumbg ul.topiclist > li.row dd.lastpost > span.lastpost-infos > span.auteur > a ion-icon {
  font-size: 12px;
  color: var(--text);
  transition: var(--transi);
}
.forumbg ul.topiclist > li.row dd.lastpost > span.lastpost-infos > span.auteur > a:hover ion-icon {
  color: var(--text-contrast);
}
.forumbg ul.topiclist > li.row dd.lastpost > span.lastpost-infos > span.date {
  color: var(--text);
  line-height: 24px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.forumbg ul.topiclist div.topic-separator {
  margin: 16px 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.forumbg ul.topiclist div.topic-separator:after {
  display: block;
  width: 100%;
  height: 1px;
  background: var(--bg3);
  content: " ";
}
.forumbg ul.topiclist div.topic-separator > span {
  width: fit-content;
  text-wrap: nowrap;
  font-family: var(--font-titre);
  font-size: 24px;
  line-height: 32px;
  color: var(--text-contrast);
}

/* --- PAS DE MESSAGES --- */
li.no-topic {
  display: flex !important;
  flex-direction: column;
  text-align: center;
}
li.no-topic > strong {
  height: 100%;
  display: block;
  font-weight: normal !important;
}

.row .pagination span a:link, .row .pagination span a:visited, .row .pagination span a:active {
  background-color: unset;
  color: unset;
}
div.topic-bottom strong.pagination {
  padding: 0;
}
div.topic-bottom strong.pagination > span {
  display: flex;
  gap: 4px;
}
