@font-face {
    font-family: 'Retroscope';
    src: url('Retroscope-Regular.otf') format('otf'),
         url('Retroscope-Regular.ttf') format('ttf'),
         url('Retroscope-Regular.woff2') format('woff2'),
         url('Retroscope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-variant-ligatures: discretionary-ligatures; 
    font-feature-settings: "liga" 1;
}

@font-face {
    font-family: 'Retroscope';
    src: url('RetroscopeItalic-Regular.otf') format('otf'),
         url('RetroscopeItalic-Regular.ttf') format('ttf'),
         url('RetroscopeItalic-Regular.woff2') format('woff2'),
         url('RetroscopeItalic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-variant-ligatures: discretionary-ligatures; 
    font-feature-settings: "liga" 1;
}
