/* ------ GRAS ------ */

bb { 
  background: linear-gradient(to right,var(--co2),var(--co4));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 #00000000;
  font-weight: 600;
}

bb1, b1 {
  font-weight: 600;
  color: var(--co1);
}

bb2, b2 {
  font-weight: 600;
  color: var(--co2);
}

bb1 > ion-icon, b1 > ion-icon, bb2 > ion-icon, b2 > ion-icon {
  position: relative;
  top: 2px;
}

bb3, b3 {
  font-weight: 600;
  color: var(--co1);
  text-transform:lowercase;
}

bb4, b4 {
  font-weight: 600;
  color: var(--co2);
}

bb3::before, b3::before, bb4::before, b4::before { 
  content:'※';
  margin-right: 3px; 
  font-size: 10px; 
  line-height: 1.5em;
}

bb3::after, b3::after, bb4::after, b4::after { 
  content:'・';
  margin-right: -4px;
}

/* ------ GRAS MAISONS ------ */

hii, rai, doj, sui, fug {
  font-weight: 600;
}

hii {
  color: var(--hii);
}
sui {
  color: var(--sui);
}
doj {
  color: var(--doj);
}
fug {
  color: var(--fug);
}
rai {
  color: var(--rai);
}

/* ------ FONT SPECIALE ------ */

a1, a2 {
  font-family: var(--font3);
}

ba1, a1 {
  color: var(--co1);
  font-size: inherit;
}

ba2, a2 {
  color: var(--co2);
  font-size: inherit;
}

/* ------ COULEURS SIMPLES ------ */

c2 { 
  color: var(--co2);
  font-weight:400;
}

c1 {
  color: var(--co4);
}

c1, c2 {
  font-weight:400;
}

/* ------ LETTRINE ------ */

l {
    color: var(--co2);
    float: left;
    margin-right: 10px;
    font-family: var(--font-titre);
    font-size: 32px;
    line-height: 40px;
    padding-top: 6px;
}

/* ------ FONDS (MAJUSCULES) ------ */

bg1:not(.cate_forum_desc bg1), bg2, bg3, bg4, bg5, bg6 {
  padding: 1px 4px;
  line-height: 16px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.5px;
  font-weight: 600;
  border-radius: 4px;
}

bg1 { 
  color: var(--light_1); 
  background-color: var(--co1); 
  border: none;
}

bg2 {
  color: var(--light_1);
  background-color: var(--co2);
  border: none;
}

bg3 { 
  color: var(--light_1); 
  background-color: var(--co3); 
  border: none;
}

bg4 {
  color: var(--light_1);
  background-color: var(--dark_2);
}
bg5 {
  color: var(--dark_1);
  background-color: var(--light_1);
}

bg6 { 
  color: var(--light_1);
  background: linear-gradient(to right,var(--co2),var(--co4));
}

/* ------ FONDS (MINUSCULES) ------ */

g1,g2,g3 {
  background-color: var(--dark_2);
  font-size: 0.9em;
  padding: 2px 4px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 4px;
}

g1 {
  color: var(--co2);
}

g2 {
  color: var(--co4);
}

g3 {
  color: var(--text-contrast);
}

/* ------ SERIFS & SERIFS ITALIQUES ------ */

ii {
  font-style: italic;
  color: inherit;
}

i1, i2, i3, i4 {
  font-style:italic;
}

i1, i2, i3, i4, s1, s2, s3, s4 {
  font-family: var(--font-secondaire),serif;
  font-size: initial;
}

i2, s2 {
  color:var(--co2);
}

i3, s3 {
  color:var(--co4);
}

i4, s4 {
  background: linear-gradient(to right,var(--co2),var(--co4));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
i4 {
  padding: 0 0.3rem; /* --- évite le clipping des glyphes italiques hors-cadre avec le gradient ---*/
}
s4 {
  padding: 0 0.12rem; /* --- évite le clipping des glyphes hors-cadre avec le gradient ---*/
}

/* ------ TRANSPARENTS ------ */

e1 {
  box-shadow:inset 0 -6px 0 rgb(var(--co1_rgb),0.2);
}

e2 { 
  box-shadow:inset 0 -6px 0 rgb(var(--co2_rgb),0.2);
}

e3 {
  box-shadow:inset 0 -6px 0 rgb(var(--co3_rgb),0.2);
}

/* ------ PETITS MAJUSCULES ------ */

r1, r2, r3 {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 16px;
}

r1 {
  color:var(--co4);
}

r2 {
  color:var(--co2);
}

r3 {
  color:var(--text);
}

/* ------ SOULIGNEMENTS ------ */

u {
  text-decoration: none;
  border-bottom:1px dashed var(--text);
}

u1 {
  border-bottom:1px solid var(--co1);
}

u2 {
  border-bottom:1px solid var(--co2);
}

u3 { 
  border-bottom:1px solid var(--co4);
}

u4 {
  border-bottom: 1px solid;
  border-image:linear-gradient(to right,var(--co2),var(--co2),var(--co1),var(--co1)) 15;
}

/* ------ AUTRES ------ */

sp { 
  transition: all .5s ease;
  filter: blur(3px);
}
sp:hover { 
  filter: blur(0px);
}

i,em {
  color:var(--text); line-height: unset;
}
body.light i,body.light em {
  color:#000000; line-height: unset;
}
body.dark i,body.dark em {
  color:#d7d7d7; line-height: unset;
}

.note {
  min-height: 96px;
  padding:0px 8px;
  margin: 8px 0px;
}

.note img:first-of-type{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--bg3);
  background-color: var(--text);
  padding: 4px;
  float: left;
  margin-right: 8px;
  box-sizing: border-box;
}

.note { 
  overflow: initial;
  border: 1px solid var(--co1);
  padding: 0px 8px 0px 0px;
  border-radius: 8px;
  height: auto;
  width: auto;
  max-width: initial;
  max-height: fit-content;
}
.note > span {
  display: block;
  padding: 8px;
  min-height: 96px;
  max-height: 192px;
  overflow: auto;
  font-size: 12px;
  line-height: 150%;
}
.note > span::-webkit-scrollbar-thumb {
  background-color: var(--co2);
}

/* ---- PROFIL ---- */
div.aesthetic h2, div.profil-container dd h2, div.aesthetic h3, div.profil-container dd h3, div.aesthetic h4, div.profil-container dd h4 {
  display: inline!important;
  font-size: inherit;
  text-decoration: none!important;
  border:none!important;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-style: normal;
}
div.aesthetic h2, div.profil-container dd h2 { 
  font-weight: 600!important;
  color: var(--co2);
  line-height: initial;
}
div.aesthetic h3, div.profil-container dd h3 { 
  padding: 1px 4px;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 600!important;
  border-radius: 4px;
  color: var(--light_1);
  background-color: var(--co2);
  border: none;
}
div.aesthetic h4, div.profil-container dd h4 {
  font-family: var(--font3);
  color: var(--co2);
  font-size: initial;
}

.profil_list_rp u{color:var(--tx_contrast); border-bottom: solid 1px var(--co2); font-family: var(--special-font);text-transform: lowercase;}
.profil_list_rp b, .profil_list_rp strong{color:var(--co2);}
table.profil_list_rp tr td > h3{border: 1px solid var(--bg1) !important; background-color: var(--bg1_transp_5); letter-spacing: -0.05px;}
.profil_list_rp .closed{opacity:0.5;filter:grayscale(1);transition:all .5s ease;}
.profil_list_rp .closed:hover{opacity:1;filter:grayscale(0);}

/* ------ CREDITS ------ */

cr::before {
  content: "\0000A9";
  margin-right: 2px;
}
cr {
  display: inline-block;
}

/* --- INFOBULLE --- */
.infobulle {
  position: relative;
  z-index: 0;
}
.infobulle:hover {
  z-index: 50;
  cursor: pointer;
}
.infobulle > span {
  position: absolute;
  font-family: var(--font);
  background-color: var(--mid);
  padding: 4px 8px 8px;
  transform: scale(0);
  visibility: hidden;
  top: 20px;
  left: 0;
  z-index: 999;
}
.infobulle:hover > span {
  visibility: visible;
  transform: scale(1);
  width: 240px;
  letter-spacing: 0 !important;
  text-transform: none !important;
  font-weight: 400 !important;
  font-size: 11px !important;
  color: var(--tx);
}
.infobulle > span a { 
  font-size:11px;
}
.infobulle > span br { 
  display: block;
}

