/* ---- BOUTONS ---- */
.button, .button1, .button2 {
  box-shadow: none !important;
}
.button1,
input[type="submit"].button1 {
  font-family: var(--font-text) !important;
  transition: var(--transi);
  width: fit-content !important;
  margin: 0 !important;
  border-radius: 20px;
  background: var(--co2);
  font-weight: 600;
  box-shadow: none;
  font-size: 14px;
}
.button1:hover,
input[type="submit"].button1:hover {
  background: var(--co1);
}
.button.secondary {
  font-family: var(--font-text) !important;
  display: inline-flex !important;
  gap: 4px;
  align-items: center;
  width: fit-content !important;
  padding: 4px 8px 4px 6px;
  background: transparent;
  border: 1px solid var(--text);
  border-radius: 4px;
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
  transition: var(--transi);
}
.button.secondary:hover {
  border: 1px solid var(--text-contrast);
  color: var(--text-contrast);
  background: transparent;
}
.button2 {
  font-family: var(--font-text) !important;
  transition: var(--transi);
  border-radius: 24px !important;
  box-shadow: none !important;
  line-height: 24px;
  padding: 8px 16px !important;
  display: inline-flex !important;
  gap: 8px;
  align-items: center;
  color: var(--text-contrast) !important;
  overflow: hidden;
  background-color: transparent !important;
  background-size: 200% 100%;
  background-position: center left;
  background-image: linear-gradient(to right, var(--bg1) 50%, var(--co2) 100%);
}
.button2:hover {
  background-position: center right;
}
input[type="submit"].button3, .button3 {
  font-family: var(--font-text) !important;
  transition: var(--transi);
  margin: 0;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: none;
  background: var(--bg1);
  padding: 4px 12px;
  border-radius: 4px;
  color: var(--light_1);
}
input[type="submit"].button3, .button3:hover {
  background: var(--co1);
}
button.button-icon {
  transition: var(--transi);
  background: var(--bg1);
  border-radius: 24px;
  display: flex;
  position: relative;
  padding: 4px 16px 4px 4px;
  font-size: 20px;
}
button.button-icon.small > span.small { display: none; }
button.button-icon.normal > span.norm { display: none; }
button.button-icon > span {
  display: flex;
  align-items: center;
  color: var(--text);
  gap: 12px;
}
button.button-icon > span > div {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
  align-items: center;
  color: var(--text-contrast);
  background: var(--bg2);
  padding: 6px;
  border-radius: 16px;
}
button.button-icon > span > div > ion-icon {
  position: absolute;
  font-size: 16px;
  top: 0;
  right: -5px;
  color: var(--co2);
}
button.button-icon > span > div > iconify-icon {
  font-size: 16px;
  width: 16px;
  margin: 0 2px;
  line-height: 32px;
  height: 20px;
}
button.button-icon > span > span {
  font-size: 14px;
  font-family: var(--font-texte);
}
.minibutton {
  padding: 2px 6px !important;
  border-radius: 4px !important;
  text-transform: uppercase;
  line-height: 16px;
  height: auto;
  max-height: 20px;
  font-size: 12px !important;
  font-family: var(--font-text) !important;
  letter-spacing: var(--letter-space);
  font-weight: 600 !important;
  transition: var(--transi);
  box-shadow: none !important;
  text-wrap: nowrap;
}
.minibutton.color {
  background: rgba(var(--co1_rgb),0.5) !important;
  color: var(--light_1);
}
.minibutton.color:hover {
  background: rgba(var(--co1_rgb),1) !important;
}
.minibutton.white {
  background: var(--bg1) !important;
  color: var(--text) !important;
}
.minibutton.white:hover {
  color: var(--text-contrast) !important;
}

/* ---- FORMS ---- */
input[type="checkbox"] {
  font-family: var(--font-text) !important;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid var(--text);
  background: var(--bg1);
  appearance: none;
  -webkit-appearance: none;
}
input[type="checkbox"]:checked {
  border: 1px solid var(--co2);
  background: var(--co2);
}
input[type="checkbox"]:before {
  transform-origin: center;
  transform: scale(0%);
  transition: var(--transi);
  display: inline-block;
  content: " ";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 1px;
  top: 1px;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='56' d='M416 128L192 384l-96-96'/%3E%3C/svg%3E");
}
input[type="checkbox"]:checked:before {
  transform: scale(100%);
}
input[type="radio"] {
  font-family: var(--font-text) !important;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--text);
  background: var(--bg1);
  position: relative;
}
input[type="radio"]:checked {
  border: 1px solid var(--co2);
  background: var(--co2);
}
input[type="radio"]:after {
  transition: var(--transi);
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 50%;
  background: var(--light_1);
  content: " ";
  position: absolute;
  top: 4px;
  left: 4px;
  transform-origin: center;
  transform: scale(0%);
}
input[type="radio"]:checked:after {
  transform: scale(100%);
}
input[type="text"], input[type="email"],
textarea, .inputbox {
  font-family: var(--font-text) !important;
  background: var(--bg1);
  border: 0px !important;
  border-radius: 4px;
  padding: 8px 12px !important;
  line-height: 20px;
  margin: 0;
  color: var(--text);
  font-size: 14px;
}
select {
  font-family: var(--font-text) !important;
  background-color: var(--bg1);
  background-size: 16px 16px;
  background-position: right 4px center;
  background-repeat: no-repeat;
  padding: 8px 32px 8px 12px;
  line-height: 20px;
  font-size: 14px;
  border-radius: 4px;
  border: 0px;
  color: var(--text);
  -webkit-appearance: none;
  appearance: none;
  position: relative;
}
body.light select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23212121' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='m112 184l144 144l144-144'/%3E%3C/svg%3E");
}
body.dark select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='m112 184l144 144l144-144'/%3E%3C/svg%3E");
}

/* ---- CODE ---- */
dl.codebox {
  padding: 16px;
  background: var(--bg2);
  border-radius: 16px;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: inherit;
  line-height: inherit;
  height: auto !important;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border: 0;
}
dl.codebox:before { display: none; }
dl.codebox > dt {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--text-contrast);
  text-transform: uppercase;
  line-height: 20px;
  margin: 0;
  border: 0;
}
dl.codebox > dd {
  display: block;
  height: auto !important;
  background: var(--bg1);
  border-radius: 8px;
  font-size: inherit;
  line-height: inherit;
}
dl.codebox > dd > div.spoiler_content.hidden {
  padding: 16px;
  font-size: inherit;
  line-height: inherit;
}
dl.codebox > dd > code {
  margin: 0 !important;
  padding: 8px;
}

.no-js { visibility:hidden; }
code.hljs{
  color: orange!important;
  background-color: var(--neutral_1)!important;
  border-radius: 2px;
  display: inline-block!important;
  padding: 0px 4px;
  overflow: initial!important;
  margin: 0px!important;
}
code.hljs.light{
  background-color: var(--neutral_2)!important;
}
code.hljs.javascript,
dl.codebox code{ overflow: auto!important; display: block!important; }


/* ---- CITATIONS ---- */
blockquote {
  background-color: var(--bg2);
  border-radius: 8px;
  border-width: 0px !important;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 16px;
  max-width: 696px;
  margin: auto;
}
.signature_div blockquote {
  background-color: transparent;
  padding: 0px;
  max-width: unset;
}

blockquote cite {
  font-style: normal;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: var(--text-contrast);
  font-weight: 600;
  margin-bottom: 8px;
}

/* ---- BOUTON COPIER LE CODE ---- */
.copy-code:hover,
.copy-code:hover ion-icon,
.copy-code:hover bb2 {
  color: var(--co1) !important;
  text-decoration: none !important;
}

/* ---- TAGS & TAG GROUPES ---- */
.tag {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 6px;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: var(--letter-space);
  font-weight: 600;
  transition: var(--transi);
}

a.group-mentiontag,
a.group-mentiontag:link,
a.group-mentiontag:active,
a.group-mentiontag:visited {
  color: white !important;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0 4px;
  line-height: 16px;
  height: 16px;
  display: inline-block;
}

/* ---- ONGLETS ---- */
div.tabs-onglets:not(.insta_nav):not(.story_nav) {
  text-align: center;
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
}
div.tabs-onglets:not(.insta_nav):not(.story_nav) > a.msg_ong {
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  gap: 8px;
  font-family: var(--font-texte) !important;
  background-color: var(--bg1) !important;
  color: var(--text);
  padding: 16px 8px !important;
  border-radius: 8px;
  opacity: 0.5;
  transition: var(--transi);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 0px !important;
  margin: 0px !important;
}
div.tabs-onglets:not(.insta_nav):not(.story_nav) > a.msg_ong.selected,
div.tabs-onglets:not(.insta_nav):not(.story_nav) > a.msg_ong:hover {
  opacity: 1;
}
div.tabs-onglets:not(.insta_nav):not(.story_nav) > a.msg_ong.selected {
  border-right: 2px solid var(--co2);
  border-left: 2px solid var(--co2);
}
div.tabs-onglets:not(.insta_nav):not(.story_nav) > a.msg_ong > ion-icon,
div.tabs-onglets:not(.insta_nav):not(.story_nav) > a.msg_ong > i, 
div.tabs-onglets:not(.insta_nav):not(.story_nav) > a.msg_ong > iconify {
  color: var(--text);
  font-size: 16px;
  margin: 2px;
}
div.tabs-onglets:not(.insta_nav):not(.story_nav) > a.msg_ong:hover ion-icon, 
div.tabs-onglets:not(.insta_nav):not(.story_nav) > a.msg_ong:hover i {
  animation: tab-hover 1s infinite linear;
}

@keyframes tab-hover {
  0% { transform: rotate(10deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(20deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0); }
}


/* ---- DUSTQUASH ---- */
div.dustquash {
  background-color: var(--neutral_1);
  padding: 16px;
  max-width: 400px;
  margin: auto;
  border: 1px solid var(--bg3);
  border-radius: 16px;
  text-transform: uppercase;
  font-size: 10px !important;
  letter-spacing: 0.5px;
}
.dustquash .spoiler_content.hidden {
  font-size: 10px !important;
  text-align: center;
}


/* ---- BLOCK FORUMATHON ---- */
div#forumathon {
  width: 400px;
  margin: 24px auto 0px auto;
  background: var(--bg1);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  position: relative;
  top: 48px;
  z-index: 10;
  margin-top: -24px;
  z-index: 5;
}

#forumathon-global {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
div.progress {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  color: var(--text-contrast);
  line-height: 32px;
  font-size: 16px;
}
div.progress > div {
  font-weight: 600;
}
div.progress-container {
  background: var(--bg2);
  margin: 4px 0px;
  border-radius: 16px;
  height: 8px;
  width: 100%;
}
div.progress-container > div.progress-bar {
  position: relative;
  background-image: repeating-linear-gradient(to right, var(--co2), var(--light_2), var(--co2));
  background-size: 200% auto;
  background-position: 0 100%;
  animation: jauge 4s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  border-radius: 16px;
  height: 8px;
}
@keyframes jauge {
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}
div.progress-container > div.progress-bar > iconify-icon {
  position: absolute;
  background: var(--light_1);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: 0px;
  top: -6px;
  align-items: center;
  justify-content: center;
  color: var(--co1);
  box-shadow: var(--bg2) 0px 1px 8px;
}
div#forumathon div.count {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--text-contrast);
  line-height: 24px;
  font-weight: 500;
}

div#forumathon #forumathon-maisons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  padding: 8px 0px;
  background: var(--bg2_transp_7);
}
div#forumathon #forumathon-maisons > button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-texte);
  color: var(--text-contrast);
}

div#forumathon #forumathon-maisons > div.progress {
  display: grid;
  grid-template-columns: 56px calc(100% - 192px) 88px;
  grid-gap: 8px;
}
div#forumathon #forumathon-maisons > div.progress:last-of-type {
  margin-bottom: 8px !important;
}
div#forumathon #forumathon-maisons div.progress-container {
  background-color: var(--bg1) !important;
}
div#forumathon #forumathon-maisons div.progress-container > div.progress-bar {
  background-color: var(--co2);
  background-image: none;
  animation: none;
  overflow: hidden !important;
}
div#forumathon #forumathon-maisons > div.progress > span {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
}
div#forumathon #forumathon-maisons > div.progress > div.count {
  justify-content: flex-end !important;
  color: var(--text);
  line-height: 20px !important;
}
#dojinProgress { --co2: var(--doj); }
#fugiProgress { --co2: var(--fug); }
#hiisaProgress { --co2: var(--hii); }
#raiyoProgress { --co2: var(--rai); }
#suiseiProgress { --co2: var(--sui); }


div#forumathon button#addBtn {
  display: none;
  padding: 2px 16px !important;
  line-height: 24px !important;
  height: 32px !important;
  border-radius: 8px !important;
  margin: 8px 0 0 0 !important;
}
div#addModal {
  width: 100%;
}
div.modal-content {
  display: flex;
  gap: 8px;
  width: 100%;
}
div.modal-content input,
div.modal-content button { border-radius: 8px !important; }
div.modal-content input {
  color: var(--text);
  background: var(--bg1)!important;
  border: 1px solid var(--bg3);
  padding: 4px 8px !important;
  width: 88px;
}
div.modal-content select {
  margin: 0;
  color: var(--text);
  background-color: var(--bg1)!important;
  border: 1px solid var(--bg3);
  border-radius: 8px !important;
}
div.modal-content button { 
  margin: 0 !important;
  line-height: 24px !important;
  font-size: 14px !important;
  padding: 0px 8px !important;
  height: 38px !important;
  width: 104px !important;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* ---- DEMON'S HUNT ---- */
a.topictitle > span.emoji{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  margin-right: 4px;
}
a.topictitle > span.emoji.desert{background-image: url("https://mikrokosmos-rpg.gitlab.io/isekai-monogatari/icons/e_desert.svg");}
a.topictitle > span.emoji.ocean{background-image: url("https://mikrokosmos-rpg.gitlab.io/isekai-monogatari/icons/e_ocean.svg");}
a.topictitle > span.emoji.foret{background-image: url("https://mikrokosmos-rpg.gitlab.io/isekai-monogatari/icons/e_foret.svg");}

/* ---- SCENARIOS ---- */
#scenarios div.topic-title-container {
  display: block !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  height: 28px;
  background-color: var(--bg1);
  margin-bottom: 4px;
  line-height: 20px;
  position: relative;
  text-align: left;
  padding: 2px 8px;
  font-weight: 500;
  color: var(--text_contrast);
  border-radius: 8px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: var(--transi);
  min-height: 28px;
}
#scenarios div.topic-title-container:nth-child(1),
#scenarios div.topic-title-container:nth-child(2) { display: none !important; }
#scenarios .topic-title-box {
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 0px;
  transition: var(--transi);
  width: 100%;
  max-width: 284px;
  min-width: 199px;
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  grid-gap: 6px;
}

#scenarios.topic-title-top { padding: 0; overflow: hidden; }
#scenarios .topic-description {
  word-break: break-word;
  display: block;
  text-transform: none;
  letter-spacing: 0.5px;
  font-size: 9px;
  text-transform: uppercase;
  line-height: 16px;
  height: 16px;
  background: red;
  opacity: 1;
  width: fit-content;
  padding: 0 4px;
  border-radius: 4px;
}
#scenarios a.topictitle {
  width: 100%;
  text-overflow: ellipsis;
  position: initial;
  overflow: hidden;
  white-space: nowrap;
  line-height: 24px;
  padding: 0;
  display: inline;
  transition: var(--transi);
  text-shadow: none;
  color: var(--text);
}
#scenarios div.topic-title-container:hover a {
  text-shadow: rgba(255,255,255,0.2) 0px 0px 4px;
  color: var(--text-contrast);
}