/* ---- NOUVELLE FICHE - 2023 ---- */
.fiche-2023 {
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-radius: 16px;
  position: relative;
}
.fiche-2023:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: 0;
  bottom: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(130deg, var(--co1), var(--bg2_transp_5) 10%, var(--bg2_transp_5) 90%, var(--co1));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.fiche-2023 br{ display: none; }
.fiche-2023, .fiche-2023.maison { 
  background: 
    radial-gradient(73.55% 42.04% at 100% 0%, rgba(var(--co1_rgb),0.3) 0%, var(--bg2_transp_5) 100%),
    radial-gradient(73.55% 42.04% at 0% 100%, rgba(var(--co1_rgb),0.3) 0%, var(--bg2_transp_5) 100%); 
}
.fiche-2023.dojin { 
  --co1: var(--doj); 
  background: 
    radial-gradient(73.55% 42.04% at 100% 0%, rgba(var(--doj_rgb),0.3) 0%, var(--bg2_transp_5) 100%),
    radial-gradient(73.55% 42.04% at 0% 100%, rgba(var(--doj_rgb),0.3) 0%, var(--bg2_transp_5) 100%); 
}
.fiche-2023.fugi { 
  --co1: var(--fug); 
  background: 
    radial-gradient(73.55% 42.04% at 100% 0%, rgba(var(--fug_rgb),0.3) 0%, var(--bg2_transp_5) 100%),
    radial-gradient(73.55% 42.04% at 0% 100%, rgba(var(--fug_rgb),0.3) 0%, var(--bg2_transp_5) 100%); 
}
.fiche-2023.hiisa { 
  --co1: var(--hii); 
  background: 
    radial-gradient(73.55% 42.04% at 100% 0%, rgba(var(--hii_rgb),0.3) 0%, var(--bg2_transp_5) 100%),
    radial-gradient(73.55% 42.04% at 0% 100%, rgba(var(--hii_rgb),0.3) 0%, var(--bg2_transp_5) 100%); 
}
.fiche-2023.raiyo { 
  --co1: var(--rai); 
  background: 
    radial-gradient(73.55% 42.04% at 100% 0%, rgba(var(--rai_rgb),0.3) 0%, var(--bg2_transp_5) 100%),
    radial-gradient(73.55% 42.04% at 0% 100%, rgba(var(--rai_rgb),0.3) 0%, var(--bg2_transp_5) 100%); 
}
.fiche-2023.suisei { 
  --co1: var(--sui); 
  background: 
    radial-gradient(73.55% 42.04% at 100% 0%, rgba(var(--sui_rgb),0.3) 0%, var(--bg2_transp_5) 100%),
    radial-gradient(73.55% 42.04% at 0% 100%, rgba(var(--sui_rgb),0.3) 0%, var(--bg2_transp_5) 100%); 
}

.fiche-2023 .fiche-header {
  background: var(--bg1_transp_5);
  padding: 24px;
  border-radius: 16px 16px 0px 0px;
}
.fiche-2023 .fiche-header.right{ padding: 0px; border-radius: 0px; background: transparent; }

.fiche-2023 .fiche-header > div {
  padding: 16px;
  background: var(--bg1);
  border-radius: 8px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.fiche-2023 .fiche-header > div img{
  width: 64px;
  height: 64px;
  border-radius: 8px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}
.fiche-2023 .fiche-header > div .fiche-nom{
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-content: flex-end;
}
.fiche-2023 .fiche-header > div .fiche-nom h2{
  width: max-content;
  text-align: right;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: var(--font-titre);
  font-feature-settings: 'ss02' on;
  color: var(--text-contrast)!important;
  background: linear-gradient(45deg, var(--co1), var(--co3), var(--co2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 28px;
  line-height: 40px;
  align-self: flex-end;
}
.fiche-2023 .fiche-header.right > div .fiche-nom h2{ align-self: flex-start; }

.fiche-2023 .fiche-header > div .fiche-nom span{
  display: flex;
  gap: 16px;
  align-items: center;
}
.fiche-2023 .fiche-header > div .fiche-nom span > span{
  display: inline-block;
  width: fit-content;
  min-width: max-content;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: var(--text-contrast);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.fiche-2023 .fiche-header > div .fiche-nom > span:before{
  display: block;
  content: " ";
  height: 1px;
  background-image: linear-gradient(45deg, var(--co1), var(--co3), var(--co2));
  width: -webkit-fill-available;
}
.fiche-2023 .fiche-header.right > div .fiche-nom > span:before{ order: 2; }

.fiche-2023 .fiche-infos,
.fiche-2023 .fiche-background,
.fiche-2023 .fiche-irl{
  background: var(--bg1_transp_5);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.fiche-2023 .fiche-irl{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr auto;
  gap: 8px;
  border-radius: 0px 0px 16px 16px;
}
.fiche-2023 h3{
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-titre);
  color: var(--text-contrast);
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 21px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.fiche-2023 h3:after{
  display: block;
  content: " ";
  width: 48px;
  height: 1px;
  background-image: linear-gradient(45deg, var(--co1), var(--co3), var(--co2));
}

.fiche-2023 .fiche-infos-content{
  display: flex;
  gap: 16px;
}
.fiche-2023 .fiche-infos-content > div{
  background: var(--bg1);
  padding: 16px 8px 16px 16px;
  border-radius: 8px;
  height: 400px;
}
.fiche-2023 .fiche-infos-content > div > div{
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 8px;
}
.fiche-2023 .fiche-infos-content > div > div > span {
  display: block;
  background: var(--bg2);
  color: var(--text);
  padding: 16px;
  border-radius: 8px;
}
.fiche-2023 .fiche-infos-content > div > div > span br{ display: initial!important; }
.fiche-2023 .fiche-infos-content > div > div > span r1{
  font-size: 12px;
  line-height: 21px;
  color: var(--text-contrast);
}
.fiche-2023 .fiche-infos-content > div > div > span label{
  display: inline-block;
  color: var(--text-contrast);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: var(--bg1);
  padding: 2px 6px;
  border-radius: 4px;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}
.fiche-2023 .fiche-infos-content > img{
  width: 248px;
  height: 400px;
  border-radius: 8px;
}
.fiche-2023 .fiche-infos-grid{
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
}
.fiche-2023 .fiche-infos-grid span{
  padding: 8px 12px;
  background: var(--bg1);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
  height: max-content;
}
.fiche-2023 .fiche-infos-grid span > p {
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
}
.fiche-2023 .fiche-infos-grid span ion-icon{ color: var(--co1); }
.fiche-2023 .fiche-infos-grid span:last-of-type{
  grid-column-start: 1;
  grid-column-end: 5;
}

.fiche-2023 .fiche-chrono{
  padding: 16px 0px 8px 0px;
  background: var(--bg1);
  border-radius: 8px;
  height: fit-content;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}
.fiche-2023 .fiche-chrono > div {
  height: fit-content;
  max-width: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 8px;
}
.fiche-2023 .fiche-chrono > div::-webkit-scrollbar {
  height: 8px!important;
}
.fiche-2023 .fiche-chrono > div::-webkit-scrollbar-thumb {
  height: 8px!important;
  background: var(--bg3) !important;
  border-radius: 8px !important;
}
.fiche-2023 .fiche-chrono > div::-webkit-scrollbar-button:start:increment,
.fiche-2023 .fiche-chrono > div::-webkit-scrollbar-button:end:decrement {
  width: 16px;
  display: block;
  background: var(--bg1);
}
.fiche-2023 .fiche-chrono > div > div{
  display: flex;
  width: fit-content;
  overflow: hidden;
  height: fit-content !important;
}
.fiche-2023 .fiche-chrono > div > div .chrono-item{
  --chrono-width: 300px;
  width: var(--chrono-width);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.fiche-2023 .fiche-chrono > div > div .chrono-item:first-of-type {
  margin-left: 16px;
}
.fiche-2023 .fiche-chrono > div > div .chrono-item > span{
  display: flex;
  align-items: center;
  gap: 8px;
}
.fiche-2023 .fiche-chrono > div > div > div.chrono-item > span ion-icon {
  color: var(--co1);
  font-size: 16px;
}
.fiche-2023 .fiche-chrono > div > div > div.chrono-item > span:before {
  display: block;
  height: 1px;
  width: 8px;
  background: var(--co1);
  content: " ";
}
.fiche-2023 .fiche-chrono > div > div > div.chrono-item > span:after {
  display: block;
  height: 1px;
  width: -webkit-fill-available;
  background: linear-gradient(to right, var(--co1), var(--co3), var(--co2), var(--co1));
  content: " ";
}
.fiche-2023 .fiche-chrono > div > div .chrono-item > div {
  margin-right: 16px;
  background: var(--bg2);
  padding: 4px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 21px;
  width: calc(var(--chrono-width) - 16px);
  height: max-content;
  max-height: 172px;
  overflow: hidden;
}
.fiche-2023 .fiche-chrono > div > div .chrono-item > div > span{
  display: block;
  max-height: 172px;
  overflow: auto;
  padding: 12px;
  font-size: 14px;
  line-height: 24px;
  background: var(--bg2);
}
.fiche-2023 .fiche-chrono > div > div .chrono-item > div > span::-webkit-scrollbar-thumb{ 
  border: 2px solid var(--bg2);
}
.fiche-2023 .fiche-chrono > div > div .chrono-item > div > span::-webkit-scrollbar-track{
  border: 3px solid var(--bg2);
}

.fiche-2023 .fiche-chrono > div > div .chrono-item > div span label{
  display: inline-block;
  text-transform: uppercase;
  color: var(--text-contrast);
  font-weight: 600;
  font-size: 12px;
  background: var(--bg1);
  border-radius: 4px;
  padding: 2px 6px;
  line-height: 16px;
  letter-spacing: 0.05em;
  margin-bottom: 4px;
}
.fiche-2023 .fiche-chrono > div > div .chrono-item > div > span br{ display: initial!important; }

.fiche-2023 .fiche-background-content{
  padding: 16px;
  background: var(--bg1);
  border-radius: 8px;
  /* height: 540px; */
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.fiche-2023 .fiche-chrono > div,
.fiche-2023 .fiche-background-content > div{
  overflow: auto;
  height: 100%;
  color: var(--text);
}
.fiche-2023 .fiche-background-content > div{
  padding-right: 16px;
}
.fiche-2023 .fiche-background-content > div br{ display: initial!important; }

.fiche-2023 .fiche-infos-content > div > div::-webkit-scrollbar-thumb,
.fiche-2023 .fiche-background-content > div::-webkit-scrollbar-thumb{
  background-image: linear-gradient(45deg, var(--co1), var(--co3), var(--co2));
}

.fiche-2023 .fiche-irl > span{
  padding: 16px;
  background: var(--bg1);
  border-radius: 8px;
  color: var(--text);
}
.fiche-2023 .fiche-irl > span label{
  color: var(--text-contrast);
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  background: var(--bg2);
  padding: 2px 6px;
  border: 1px solid var(--bg2);
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}
.fiche-2023 .fiche-irl > span:last-of-type{
  grid-column-start: 1;
  grid-column-end: 4;
}
.fiche-2023 .fiche-irl > span > br{ display: initial!important; }

/* icons pls multiples */
.fiche-icons {
  display: grid;
  flex-direction: column;
  background: transparent!important;
  padding: 0!important;
  height: 320px;
  justify-content: space-between;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 100px;
  grid-gap: 8px;
}
.fiche-icons > img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}
