/* --- VIRER LES LINEBREAKS --- */
.guidebook.guidev2 > br,
.guidebook.guidev2 div.guide_menu > br,
.guidebook.guidev2 .guide_Contenu > br,
.guidebook.guidev2 .guide_TdM > br,
.guidebook.guidev2 .guide_Block > br,
.guidebook.guidev2 .guide_Onglets_Wrapper > br,
.guidebook.guidev2 .guide_Onglets > br,
.guidebook.guidev2 .guide_Onglet > br,
.guidebook.guidev2 .guide_Onglets_Contenu > br,
.guidebook.guidev2 .guide_Onglets_Wrapper:not(.parti) .guide_Onglets_Contenu > div > div > br,
.guidebook.guidev2 .guide_Onglets_Wrapper.parti div.listing.col1 > br,
.guidebook.guidev2 .guide_Onglets_Wrapper card > br,
.guidebook.guidev2 .guide_Contenu__Cases > br,
.guidebook.guidev2 .guide_Contenu__Maisons > br,
.guidebook.guidev2 .guide_Groupe > br,
.guidebook.guidev2 .guide_Ecoles_liste > br,
.guidebook.guidev2 .guide_Ecole > br,
.guidebook.guidev2 .guide_Ecole desc > br,
.guidebook.guidev2 .guide_Chrono > br,
.guidebook.guidev2 .guide_Chrono .chrono_fact > br{ display: none!important;}


.guidebook.guidev2{ 
    gap: 0px;
    display: flex; 
    flex-direction: column; 
    margin: auto;
}
.guidebook.guidev2 div.guide { 
    padding: 24px;
    background-color: var(--bg1);
}
.guidebook.guidev2 img{ border-radius: 8px; overflow: hidden; }


/* --- TOP MENU --- */
.guidebook.guidev2 div.guide_menu{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 1px;
    height: 40px;
}
.guidebook.guidev2 div.guide_menu a{
    display: block;
    flex: 1 1 0;
    width: 0;
    padding: 8px 12px;
    background: var(--bg2_transp_5);
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    color: var(--text-contrast);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: var(--transi);
}
.guidebook.guidev2 div.guide_menu a:hover{ 
    color: var(--co1);
    background: var(--bg2);
}
.guidebook.guidev2 div.guide_menu a.active,
.guidebook.guidev2 div.guide_menu a.active:hover { 
    color: white; 
    background: linear-gradient(to right, var(--co1), var(--co2));
    font-weight: 600;
}

/* --- CONTENU --- */
.guidebook.guidev2 .guide_Contenu{
    border-radius: 16px;
    color: var(--text);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background: radial-gradient(73.55% 42.04% at 100% 0%, rgba(var(--co1_rgb),0.3) 0%, rgba(var(--bg2_rgb),0.5) 100%), radial-gradient(73.55% 42.04% at 0% 100%, rgba(var(--co1_rgb),0.3) 0%, rgba(var(--bg2_rgb),0.5) 100%);
}
.guide_Contenu > div:first-of-type { border-radius: 16px 16px 0px 0px; }
.guide_Contenu > div:last-of-type { border-radius: 0px 0px 16px 16px; }
.guidebook.guidev2 .guide_Contenu:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: 0;
    bottom: 0;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(130deg, var(--co1), rgba(var(--bg2_rgb),0.5) 10%, rgba(var(--bg2_rgb),0.5) 90%, var(--co1));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: xor;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

/* --- BLOCK HEADER --- */
.guidebook.guidev2 .guide_Header {
    display: block!important;
    background: var(--bg1_transp_5);
    padding: 24px;
    border-radius: 16px 16px 0px 0px;
}
.guidebook.guidev2 .guide_Header > div{
    padding: 16px;
    background: var(--bg1);
    border-radius: 8px;
    display: flex;
    height: 96px;
    gap: 16px;
    align-items: center;
}
.guidebook.guidev2 .guide_Header > div div.guide_Titre {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    align-content: flex-end;
}
.guidebook.guidev2 .guide_Header > div div.guide_Titre h2 {
    width: max-content;
    text-align: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: var(--font-titre);
    color: var(--text-contrast)!important;
    background: linear-gradient(45deg, var(--co1), var(--co3), var(--co2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 32px;
    line-height: 44px;
    align-self: flex-start;
}
.guidebook.guidev2 .guide_Header > div div.guide_Titre span {
    display: flex;
    gap: 16px;
    align-items: center;
}
.guidebook.guidev2 .guide_Header > div div.guide_Titre span > span {
    display: inline-block;
    width: fit-content;
    min-width: max-content;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: var(--text-contrast);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.guidebook.guidev2 .guide_Header > div div.guide_Titre > span:after {
    display: block;
    content: " ";
    height: 1px;
    background-image: linear-gradient(45deg, var(--co1), var(--co3), var(--co2));
    width: -webkit-fill-available;
}
.guidebook.guidev2 .guide_Header > div img {
    width: 144px;
    height: 100%;
    border-radius: 4px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    filter: grayscale(1);
}

/* --- TABLE DES MATIERES --- */
.guidebook.guidev2 .guide_TdM{
    padding: 24px;
    background: var(--bg1_transp_5);
    display: flex;
    gap: 32px;
}
.guidebook.guidev2 .guide_TdM r3 {
    font-size: 12px;
}
.guidebook.guidev2 .guide_TdM > r3{
    width: 200px;
    margin: 16px 0px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: var(--text-contrast);
}
.guidebook.guidev2 .guide_TdM > r3::after{
    display: block;
    height: 1px;
    width: 48px;
    content: " ";
    margin-top: 8px;
    background-image: linear-gradient(45deg, var(--co1), var(--co3), var(--co2));
}
.guidebook.guidev2 .guide_TdM > div{
    width: -webkit-fill-available;
    padding: 16px;
    background: var(--bg1);
    border-radius: 8px;
}
.guidebook.guidev2 .guide_TdM > div > bb2 {
    margin-right: 4px;
}
.guidebook.guidev2 .guide_TdM > div > bb2 ion-icon {
    font-size: 14px;
    top: 2px;
    position: relative;
}

/* --- CONTENU BLOCK --- */
.guidebook.guidev2 .guide_Block{
    padding: 24px;
    background: var(--bg1_transp_5);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.guidebook.guidev2 .guide_Block .guide_Contenu__Titre{
    color: var(--text-contrast);
    font-family: var(--font-titre), "Kiwi Maru", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
.guidebook.guidev2 .guide_Block .guide_Contenu__Titre::after{
    display: block;
    height: 1px;
    width: 48px;
    content: " ";
    margin: 16px 0px;
    background-image: linear-gradient(45deg, var(--co1), var(--co3), var(--co2));
}
.guidebook.guidev2 .guide_Block .guide_Contenu__SousTitre {
    color: var(--text-contrast);
    font-family: var(--font-titre);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 8px 0;
}
.guidebook.guidev2 .guide_Block span.guide_InterTitre{
    display: inline-block;
    margin: 0;
    width: 100%;
    background: var(--bg2_transp_7);
    border-radius: 4px;
    padding: 2px 8px;
    margin-bottom: 8px;
}
.guidebook.guidev2 .guide_Block span.guide_InterTitre > span{
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--text-contrast)!important;
    background: linear-gradient(45deg, var(--co1), var(--co3), var(--co2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.guidebook.guidev2 .guide_Block span.guide_InterTitre > r3 {
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
}

.guidebook.guidev2 .cad_col,
.guidebook.guidev2 .quartierDesc p {
    font-size: inherit !important;
    line-height: inherit !important;
} 

.guidebook.guidev2 .guide_Block .guide_Contenu__Texte{
    padding: 24px;
    background: var(--bg1);
    border-radius: 8px;
    color: var(--text);
    position: relative;
}
.guidebook.guidev2 .guide_Block .guide_Contenu__Texte:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: 0;
    bottom: 0;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: 8px;
    padding: 1px;
    background: linear-gradient(130deg, var(--co1), rgba(var(--bg1_rgb),0) 10%, rgba(var(--bg1_rgb),0) 90%, var(--co1));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: xor;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

/* --- BLOCKQUOTES --- */
/* --- BLOCKQUOTE - FULL WIDTH (résumés) --- */
.guidebook.guidev2 div.guide_Resume{
    padding: 24px;
    background-color: var(--bg1_transp_5);
}
.guidebook.guidev2 div.guide_Resume > div{
    background-color: var(--bg1);
    width: 100%;
    border-radius: 8px;
    border-left: 1px var(--co1) solid!important;
    border-right: 1px var(--co1) solid!important;
    margin: 0;
    padding: 16px;
}
.guidebook.guidev2 div.guide_Resume > div > bg2:first-of-type{
    display: inline-block;
    margin-bottom: 8px;
    line-height: 16px;
    padding: 0 4px;
}

/* --- BLOCKQUOTE - INSIDE BLOCK TEXT --- */
.guidebook.guidev2 blockquote.blckqt {
    width: 100%;
    max-width: 100%;
    background-color: var(--bg2);
    border-radius: 8px;
    border: 0px;
    margin: 0;
}
.guidebook.guidev2 .guide_Block .guide_Contenu__Texte blockquote.blckqt {
    background-color: var(--bg2);
    margin: 0;
}
.guidebook.guidev2 blockquote.blckqt.small.note{
    font-size: 14px;
    line-height: 28px;
    min-width: 0;
    min-height: 0;
    padding: 12px 16px;
}
.guidebook.guidev2 blockquote.blckqt > bg2:first-of-type,
.guidebook.guidev2 blockquote.blckqt > bg6:first-of-type,
.guidebook.guidev2 blockquote.blckqt.small.note > bg2:first-of-type{
    margin-right: 8px;
    display: inline-block;
}

/* --- BLOC AVEC ONGLETS --- */
.guidebook.guidev2 .guide_Onglets_Wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}
.guidebook.guidev2 .guide_Onglets_Wrapper.vertical{
    flex-direction: row;
}
.guidebook.guidev2 .guide_Onglets{
    display: flex;
    gap: 8px;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.guidebook.guidev2 .guide_Onglets_Wrapper.horizontal .guide_Onglets{
    width: 100%;
}
.guidebook.guidev2 .guide_Onglets_Wrapper.vertical .guide_Onglets{
    flex-direction: column;
    width: 224px;
    max-width: 224px;
    height: auto;
}

.guidebook.guidev2 .guide_Onglets a.guide_Onglet {
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    gap: 8px;
    font-family: var(--font-texte)!important;
    background-color: var(--bg1)!important;
    color: var(--text)!important;
    padding: 12px 8px!important;
    border-radius: 8px;
    opacity: 0.5;
    transition: var(--transi);
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 0px!important;
    margin: 0px!important;
    border-right: 1px solid var(--bg1);
    border-left: 1px solid var(--bg1);
}
.guidebook.guidev2 .guide_Onglets a.guide_Onglet.selected, 
.guidebook.guidev2 .guide_Onglets a.guide_Onglet:hover {
    opacity: 1;
    border-right: 1px solid var(--co2);
    border-left: 1px solid var(--co2);
}
.guidebook.guidev2 .guide_Onglets a.guide_Onglet ion-icon, 
.guidebook.guidev2 .guide_Onglets a.guide_Onglet i,
.guidebook.guidev2 .guide_Onglets a.guide_Onglet iconify {
    color: var(--text);
    font-size: 16px;
    margin: 2px;
}
.guidebook.guidev2 .guide_Onglets a.guide_Onglet bg5 {
    font-size: 12px;
    margin-bottom: 8px;
    transition: var(--transi);
    color: var(--text-contrast);
}
.guidebook.guidev2 .guide_Onglets a.guide_Onglet.selected bg5 {
    background-color: var(--co2)!important;
    color: white!important;
}
.guidebook.guidev2 .guide_Onglets a.guide_Onglet:not(.selected) bg5 {
    background-color: var(--bg2)!important;
}
.guidebook.guidev2 .guide_Onglets a.guide_Onglet strong {
    letter-spacing: 1px;
}
.guidebook.guidev2 .guide_Onglets_Contenu {
    padding: 8px;
    background-color: var(--bg1);
    border-radius: 8px;
    width: 100%;
    max-width: 888px;
}
.guidebook.guidev2 .guide_Onglets_Wrapper.vertical .guide_Onglets_Contenu{
    width: calc(100% - 8px - 224px);
    max-width: calc(100% - 8px - 224px);
}
.guidebook.guidev2 .guide_Onglets_Wrapper .guide_Onglets_Contenu {
    overflow: hidden;
    padding: 0;
    background: transparent;
    border-radius: 0;
}
.guidebook.guidev2 .guide_Onglets_Wrapper .guide_Onglets_Contenu > div > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background: var(--bg1_transp_5);
    border-radius: 8px;
}
.guidebook.guidev2 .guide_Onglets_Wrapper .guide_Onglets_Contenu > div > div::-webkit-scrollbar{ width: 1px; height: 1px; }
.guidebook.guidev2 .guide_Onglets_Wrapper .guide_Onglets_Contenu > div > div::-webkit-scrollbar-thumb{ 
    background-image: linear-gradient(to right, var(--co1), var(--co2));
}
.guidebook.guidev2 .guide_Onglets_Wrapper .guide_Contenu__SousTitre{ margin: 0; }

/* --- ONGLETS PARTICULARITES --- */
.guidebook.guidev2 .guide_Onglets_Wrapper.parti .guide_Onglets_Contenu > div > div{
    display: block;
    background: var(--bg2);
    z-index: 1;
}
.guidebook.guidev2 .guide_Onglets_Wrapper.parti div.listing.col1 { border-radius: 8px!important; }
.guidebook.guidev2 .guide_Onglets_Wrapper.parti card { 
    background: var(--bg2)!important;
}
.guidebook.guidev2 .guide_Onglets_Wrapper.parti card liste { 
    background-color: var(--bg1)!important;
}
.guidebook.guidev2 .guide_Onglets_Wrapper.parti .listing.col1 card:nth-of-type(even) tag {
    background: var(--co2);
    color: white;
}
.guidebook.guidev2 .guide_Onglets_Wrapper.parti .listing.col1 card:nth-of-type(odd) tag {
    background: var(--co1);
    color: white;
}


/* --- GRILLE DE CASES (COMPETENCES DE MAGIE) --- */
.guide_Contenu__Cases{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}
.guide_Contenu__Cases card{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    background: var(--bg1);
    border-radius: 8px;
}
.guide_Contenu__Cases card cardtop{
    display: flex;
    gap: 4px;
}

/* --- CARTES Maisons MAISONS ---*/
.guide_Contenu__Maisons{
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 16px;
}
.guide_Contenu__Maisons div.guide_Groupe {
    margin: 0px;
    padding: 16px;
    background: var(--bg1);
    position: relative;
    border-radius: 8px;
    height: initial;
}
.guide_Contenu__Maisons div.guide_Groupe.dojin {
    background: linear-gradient(136deg, rgba(var(--doj_rgb), 0.6), var(--bg2) 30%);
}
.guide_Contenu__Maisons div.guide_Groupe.fugi {
    background: linear-gradient(136deg, rgba(var(--fug_rgb), 0.6), var(--bg2) 30%);
}
.guide_Contenu__Maisons div.guide_Groupe.hiisa {
    background: linear-gradient(136deg, rgba(var(--hii_rgb), 0.6), var(--bg2) 30%);
}
.guide_Contenu__Maisons div.guide_Groupe.suisei {
    background: linear-gradient(136deg, rgba(var(--sui_rgb), 0.6), var(--bg2) 30%);
}
.guide_Contenu__Maisons div.guide_Groupe.raiyo {
    background: linear-gradient(136deg, rgba(var(--rai_rgb), 0.6), var(--bg2) 30%);
}
.guide_Contenu__Maisons div.guide_Groupe a.maison_nom {
    font-size: 32px;
    line-height: 40px;
    font-family: var(--font-titre);
    position: relative;
    left: 0px;
    transition: var(--transi);
}
.guide_Contenu__Maisons div.guide_Groupe > div {
    font-size: 14px;
    color: var(--text);
    margin: 4px 0px;
    position: relative;
    z-index: 2;
}
.guide_Contenu__Maisons div.guide_Groupe p.group_description {
    margin-bottom: 8px!important;
    height: 144px;
    overflow: auto;
    padding: 12px 8px 12px 16px;
    border-radius: 8px;
    background: var(--bg1);
    margin-top: 8px;
    font-size: 14px;
    line-height: 160%;
    width: 100%;
}
.guide_Contenu__Maisons div.guide_Groupe div.group_adj {
    margin-top: 8px;
    padding: 8px;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 32px;
    color: var(--text);
    background: linear-gradient(to bottom, var(--bg1) 50%, rgba(var(--co3_rgb),0) 100%);
}
.guide_Contenu__Maisons div.guide_Groupe:after {
    font-size: 44px;
    font-family: var(--font-texte);
    display: inline;
    position: absolute;
    bottom: 20px;
    text-align: right;
    right: 8px;
    z-index: 1;
    opacity: 0.3;
}
.guide_Contenu__Maisons div.guide_Groupe.dojin:after {
    content: "土仁";
    color: var(--doj);
}
.guide_Contenu__Maisons div.guide_Groupe.fugi:after {
    content: "風義";
    color: var(--fug);
}
.guide_Contenu__Maisons div.guide_Groupe.hiisa:after {
    content: "火勇";
    color: var(--hii);
}
.guide_Contenu__Maisons div.guide_Groupe.raiyo:after {
    content: "雷誉";
    color: var(--rai);
}
.guide_Contenu__Maisons div.guide_Groupe.suisei:after {
    content: "水誠";
    color: var(--sui);
}

/* --- BOUTON --- */
.guidebook.guidev2 a.guide_Btn, 
.guidebook.guidev2 a.guide_Btn:visited, 
.guidebook.guidev2 a.guide_Btn:active {
    display: block;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white!important;
    line-height: var(--spacing-md);
    padding: 4px 8px;
    border-radius: 4px;
    margin: 8px auto 0 auto;
    transition: var(--transi);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background-image: linear-gradient(90deg, var(--co1), var(--co2), var(--co1));
    background-size: 200% 100%;
    background-position: 0% 0%;
    box-shadow: none;
    transform: scale(1);
    transform-origin: center;
}
.guidebook.guidev2 a.guide_Btn:hover {
    color: white!important;
    background-position: 100% 0%;
    transform: scale(1.025);
}
.guidebook.guidev2 a.guide_Btn.inverted, 
.guidebook.guidev2 a.guide_Btn.inverted:active, 
.guidebook.guidev2 a.guide_Btn.inverted:visited {
    color: var(--co2)!important;
    background-color: var(--bg2)!important;
    background-image: none!important;
}
.guidebook.guidev2 a.guide_Btn.inverted:hover {
    color: var(--co2)!important;
}

/* --- IMAGES DARK/LIGHT --- */
.guide_Block .img_light, 
.guide_Block .img_dark {
    width: 100%;
    position: relative;
}
body.light .guide_Block .img_dark, 
body.dark .guide_Block .img_light {
    display: none;
}

/* --- AUTRES --- */
div.credo {
    margin-bottom: var(--spacing-md);
    padding: 8px;
}
p.credo_eng {
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 0px;
    color: var(--co2);
    font-family: var(--font-titre);
}
p.credo_jp {
    text-align: center;
    margin-bottom: 4px;
}
p.credo_rom {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    opacity: 0.5;
    font-weight: 500;
    margin-bottom: 8px;
}
.tokidai-map {
    position: relative;
}
.tokidai-map img:first-child {
    opacity: 0;
    transition: var(--transi);
    position: absolute;
}
.tokidai-map:hover img:first-child {
    opacity: 1;
}

.guide_Block p.img_credit {
    position: relative;
    top: -32px;
    margin-bottom: -32px;
    left: 8px;
}
.guide_CallOut{
    padding: 0px 0px 0px 16px;
    margin: 16px 0px 0px 0px;
    border-left: 1px solid var(--co2);
}
.guide_Block hr{
    height: 1px;
    background-color: var(--bg3)!important;
}

/* --- LISTE DES ECOLES --- */
.guide_Ecoles_liste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacing-md);
}
.guide_Ecoles_liste .guide_Ecole {
    border-radius: 8px;
    background: var(--bg1);
    text-align: left;
    overflow: hidden;
}
.guide_Ecoles_liste .guide_Ecole img {
    width: 100%;
    height: 144px;
    margin-bottom: 8px;
    object-fit: cover;
    border-radius: 0px!important;
}
.guide_Ecoles_liste .guide_Ecole r3 {
    display: block;
    margin: 0px 8px 4px 8px;
}
.guide_Ecoles_liste .guide_Ecole tit {
    font-family: var(--font-titre);
    color: var(--text-contrast);
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    display: block;
    width: calc(100% - 32px);
    margin: 0px 8px;
}
.guide_Ecoles_liste .guide_Ecole tit2 {
    font-family: var(--secondary-font);
    font-style: italic;
    color: var(--co1);
    text-align: left;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 24px;
    display: block;
    margin: 0px 8px 8px 8px;
}
.guide_Ecoles_liste .guide_Ecole desc {
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 8px;
    background: var(--bg2);
    height: 200px;
    overflow: auto;
    border-radius: 8px;
}
.guide_Ecoles_liste .guide_Ecole desc > p {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(var(--co1_rgb),0.3);
    margin-bottom: 8px;
}
.guide_Ecoles_liste .guide_Ecole desc > p:last-of-type{
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.guide_Ecoles_liste .guide_Ecole desc p > bg2{
    line-height: 20px;
    margin-right: 8px;
    background: linear-gradient(to right, var(--co1), var(--co2));
}

/* --- CHRONOLOGIE --- */
.guide_Block .guide_Chrono {
    display: grid;
    grid-template: 1fr/auto 1fr;
    grid-row-gap: 8px;
    padding: 0px;
}
.guide_Block .guide_Chrono .chrono_date {
    width: 80px;
    background-color: transparent;
    padding: 8px 0px;
    border-radius: 8px;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 20px;
    line-height: 120%;
    align-items: center;
    padding-top: 16px;
}
.guide_Block .guide_Chrono .chrono_date:last-of-type::after{ display: none!important;}
.guide_Block .guide_Chrono .chrono_date t8 {
    font-family: var(--font-titre);
    font-size: 20px;
    line-height: 20px;
    color: var(--co2);
    display: block;
    text-align: center;
    position: relative;
    margin-bottom: 4px;
}
.guide_Block .guide_Chrono .chrono_date t9 {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: var(--text);
    display: block;
    text-align: center;
    position: relative;
    top: -4px;
}
.guide_Block .guide_Chrono .chrono_date::after {
    background-color: var(--co1);
    height: 100%;
    position: relative;
    top: 8px;
    content: '';
    width: 1px;
    margin: 2px 0 -10px;
}
.guide_Block .guide_Chrono .chrono_fact {
    background-color: var(--bg1);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}
.guide_Block .guide_Chrono .chrono_fact r3 {
    color: var(--text-contrast);
}
.guide_Block .guide_Chrono .chrono_fact p{
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    color: var(--text);
}
.guide_Block .guide_Chrono .chrono_titre {
    padding: var(--spacing-md) 0px;
    text-align: center;
    width: 100%;
    display: block;
    grid-column: span 2;
    position: relative;
}
.guide_Block .guide_Chrono span.chrono_titre:before {
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--co1);
    top: 0px;
    left: 39.5px;
}
.guide_Block .guide_Chrono .chrono_titre span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 24px;
    display: block;
}
.guide_Block .guide_Chrono .chrono_titre span:first-child {
    font-weight: 500;
    color: var(--text-contrast);
}

/* --- MESSAGES ADMIN SANS MENU --- */
.msg-admin { background: transparent !important; }
.msg-admin .guide_Header > div div.guide_Titre h2 { font-size: 24px !important;  line-height: 32px !important; }
.msg-admin  .guide_Block .guide_Contenu__Titre { font-size: 20px !important; line-height: 24px !important; }


/* ------ LISTINGS - CARDS -------- */
div.listing {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  background: var(--bg1);
}
div.listing .para{margin:0!important}

div.listing.col1{ grid-template-columns: 1fr; position: relative; }
div.listing:last-of-type {border-radius: 8px;}
div.listing.etudiants{
  grid-template-columns: 1fr;
  grid-gap: 8px;
}
div.listing.col1:before{
  display: block;
  background-color: var(--bg3);
  width: 1px;
  height: calc(100% - 32px);
  content: " ";
  position: absolute;
  z-index: 1;
  top: 16px;
  margin: 0px 50%;
}

div.listing card{
  display: grid;
  padding: 8px;
  background: var(--bg1);
  border: 1px solid var(--bg2);
  border-radius: 8px;
  grid-row-gap: 8px;
  align-content: start;
  z-index: 1;
}
div.listing card:hover{z-index: 3!important;}
div.listing card cardtop{
  display: grid;
  grid-template-columns: max-content auto 8px;
  grid-column-gap: 8px;
  align-items: flex-start;
}
div.listing card cardtop.metiers{
  grid-template-columns: auto 8px;
  grid-template-rows: auto;
}
card a.tag, .listing tag{
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  padding: 2px 6px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 2px 0px;
  transition: var(--transi);
  box-shadow: none; 
  transform: scale(100%,100%);
  text-align: center;
  min-width: 44px;
}
card a.tag{ color: var(--light_1)!important; }
card a.tag.wakoku{ background: var(--doj); width: fit-content; }
card a.tag.eiyamachi{ background: var(--hii); width: fit-content; }
card a.tag.chuokoei{ background: #8F9FF0; width: fit-content; }
card a.tag.shinmeidai{ background: #D7B59C; width: fit-content; }
card a.tag.uminomiya{ background: var(--sui); width: fit-content; }
card a.tag.mikazukijima{ background: var(--fug); width: fit-content; }
card a.tag.tokidai{ background: var(--min); width: fit-content; }
card a.tag.makosa{ background: var(--co2); width: fit-content; }
card a.tag:hover{ box-shadow: var(--boxshadow); transform: scale(104%,104%); }

.listing card tag{ background: var(--co2); color: white; }
.listing.col1 card:nth-child(even) tag{ background: var(--co2); color: white; }
.listing.col1 card:nth-child(odd) tag{ background: var(--co1); color: white; }
.listing card tag.fugi{ background: var(--fug); }
.listing card tag.suisei{ background: var(--sui); }
.listing card tag.hiisa{ background: var(--hii); }
.listing card tag.raiyo{ background: var(--rai); }
.listing card tag.dojin{ background: var(--doj); }

cardtop > span{
  display: flex;
  flex-direction: column;
  font-size: 11px;
  line-height: 150%;
  color: var(--text);
}
cardtop > span nom{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-contrast);
}
cardtop > span nom a{ color: var(--text)!important; font-size: 10px; --ionicon-stroke-width: 48px; }
cardtop > span nom a.mentiontag{ font-size: 13px!important; }
card .infobulle.infobulle_small{
  width: 24px;
  height: 24px;
  right: 4px;
}
card .infobulle>span{ left: auto!important; right: 8px!important; }
card .infobulle>span hr{ background-color: var(--bg1); margin: 8px 0px -8px 0px;}

card .infobulle ion-icon{ color: var(--co2); font-size: 16px; }
card liste{
  display: block;
  background-color: var(--bg2);
  color: var(--text);
  border-radius: 4px;
  padding: 8px;
  height: -webkit-fill-available;
  max-height: 128px;
  overflow: auto;
}
card.logement liste{ max-height: none; }
card.mahoutokoro liste { max-height: none; }
card liste::-webkit-scrollbar-thumb{ background: var(--co2)!important; }
card liste br{ display: block!important; }
card liste b {
  color: var(--co2);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 9px;
  line-height: 16px;
  font-weight: 600;
  margin-right: 4px;
}
card.mahoutokoro liste b{ min-width: 36px; display: inline-block; }
card liste a, card liste a:link{ color: var(--co2)!important; }
card liste a:hover{ color: var(--co3)!important; }
card .postlink:hover{ background-color: transparent; }
card liste a.mentiontag:link,
card liste a.mentiontag:visited{
  background: transparent!important;
  padding: 0px!important;
  margin: 0px;
  border-radius: 0px;
  color: var(--text)!important;
  line-height: 16px;
  text-transform: lowercase;
  border-bottom: 0px;
}
card liste a.mentiontag:hover{ color: var(--co2); }

div.etudiants liste{
  display: grid;
  padding: 8px;
  grid-gap: 8px;
  border: 1px solid var(--bg3);
  border-radius: 4px;
  margin-bottom: 8px;
}
div.etudiants liste:last-of-type{ margin-bottom: 0px; }

div.etudiants liste annee{
  display: grid;
  grid-template-columns: 74px auto;
  grid-gap: 8px;
  align-items: center;
  justify-content: start;
  justify-items: center;
}
div.etudiants.top liste annee{ 
  grid-template-columns: 22px auto; 
  align-items: start; 
}

liste annee.quidd{
  grid-template-columns: 144px auto!important;
  align-items: self-start;
  align-content: flex-start!important;
  align-items: flex-start!important;
  justify-items: flex-start!important;
}

liste annee tag{
  width: 100%;
  max-width: 96px;
  text-align: center;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 20px;
  padding: 0px 4px;
  background-color: var(--bg2);
  border-radius: 4px;
}
div.top liste annee tag{
  font-size: 8px;
  width: 22px;
  min-width: 22px;
  line-height: 20px;
  max-width: 22px;
  height: 22px;
  border: 1px solid var(--co2);
  background: transparent;
  color: var(--co2);
  border-radius: 50%;
  margin: 0px;
}
liste annee.quidd tag{ max-width: 144px; text-align: left; }

liste annee span{ line-height: 20px; font-size: 12px; color: var(--text); }

.listing.ecoles { grid-template-columns: 1fr; }

.cad_col {
  font-size: 12px!important;
  line-height: 20px!important;
  column-count: 2;
  column-gap: 8px;
}

/* --- LOTO --- */
.para-loto {
  background-color: var(--bg1_transp_5)!important;
}
.para.para-loto br {
    display: none!important;
}
.loto {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  margin: 0 auto;
  grid-gap: 8px;
}
.loto_lot {
  transition: var(--transi);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: var(--bg1);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
}
.loto_lot:hover {
  box-shadow: var(--boxshadow);
}
.loto_lot ba1,
.loto_lot ba2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 2px;
  margin: 0px auto 8px auto;
  font-size: 16px;
  line-height: 36px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: white!important;
  font-family: var(--font-titre);
}
.loto_lot ba1{ background-color: var(--co2); }
.loto_lot ba2{ background-color: var(--co1); }

.loto_lot span {
  line-height: 16px;
  height: 80px;
  overflow: auto;
  font-size: 12px;
}
.loto_lot span br{ display: initial!important; }
