/* ------ CODES AUTOMAIQUES - BASES ------ */
/* ------ LIENS AUTOMATIQUES ------ */
div.imo-gesli > div#gesli-pos,
div.imo-gesli > div#gesli-neu,
div.imo-gesli > div#gesli-neg,
div.imo-gesli > div#gesli-misc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
div.imo-gesli > div > div:not(.lien-item) {
  text-align: center;
  grid-column: 1 / 3;
  padding: 16px;
  background: var(--bg1_transp_7);
  border-radius: 8px;
}
div.imo-gesli div.lien-item {
  display: grid;
  grid-template-columns: minmax(0px, 144px) auto;
  grid-gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background: var(--bg2);
}
div.imo-gesli div.lien-item > img {
  grid-row: 1 / 3;
  border-radius: 8px;
  max-width: 144px;
}
div.imo-gesli div.lien-item > span.lien-nom {
  font-size: 20px;
  font-family: var(--font-titre);
  color: var(--text-contrast);
  align-content: center;
}
div.imo-gesli div.lien-item > span.desc-short {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-content: center;
  background: var(--bg1);
  padding: 2px 8px;
  border-radius: 8px;
  line-height: 24px;
  height: 32px;
  position: relative;
  top: -8px;
  margin-bottom: -16px;
}
div.imo-gesli div.lien-item > span.desc-long {
  grid-column: 1 / 3;
  padding: 16px 8px 16px 16px;
  border-right: 8px solid var(--bg1);
  background: var(--bg1);
  border-radius: 8px;
  max-height: 144px;
  overflow-y: auto;
}
div.imo-gesli div.lien-item > span.desc-long::-webkit-scrollbar-button:start:decrement,
div.imo-gesli div.lien-item > span.desc-long::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 8px;
  background: var(--bg1);
}

/* ------ CHRONOLOGIE AUTOMATIQUE ----- */
div.imo-geschro {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--bg2);
  padding: 24px;
  border-radius: 16px;
}
div.imo-geschro div#tabs-list {
  width: 100%;
  overflow-y: auto;
}
div.imo-geschro div#tabs-list::-webkit-scrollbar-track {
    background-color: var(--bg1) !important;
}
div.imo-geschro div#tabs-list::-webkit-scrollbar-thumb {
    border: 2px solid var(--bg2) !important;
    background: var(--bg1) !important;
}
div.imo-geschro div#tabs-list::-webkit-scrollbar-track {
    border: 3px solid var(--bg2) !important;
}

div.imo-geschro div#tabs-list div#tabs-container {
  display: flex;
  gap: 8px;
  width: fit-content;
  padding-bottom: 8px;
  position: relative;
}
div.imo-geschro div#tabs-list div#tabs-container button,
div.imo-geschro div#tabs-list div#tabs-container a {
  font-family: var(--font-texte);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 4px 8px;
  background: var(--bg1_transp_5);
  color: var(--text);
  border-radius: 8px;
  text-align: center;
  width: 80px;
}
div.imo-geschro div#tabs-list div#tabs-container button.active-tab {
  background: linear-gradient(to right, var(--co2), var(--co3));
  color: white;
}
div.imo-geschro.imo-jdb div#tabs-list div#tabs-container button.active-tab {
  background: linear-gradient(to right, var(--co1), var(--co3));
  color: white;
}

div.imo-geschro div#tabs-list div#tabs-container a {
  background: linear-gradient(to right, var(--bg1_transp_5) 0%, var(--bg1_transp_5) 33%, var(--co1) 66%, var(--co3) 100%);
  background-position: center left;
  background-size: 300% 100%;
  transition: var(--transi);
  color: var(--co1) !important;
}
div.imo-geschro div#tabs-list div#tabs-container a:hover {
  background-position: center right;
  color: white !important;
}

div.imo-geschro div.content-div {
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  background: var(--bg1_transp_5);
  border-radius: 8px;
}

div.imo-geschro div.chrono-titre {
  display: grid;
  grid-template-columns: 112px auto;
  grid-gap: 8px 24px;
  position: relative;
  background: var(--bg2_transp_5);
  border-radius: 8px;
  padding: 2px 0;
}
div.imo-geschro div.chrono-titre > span {
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  font-family: var(--font-titre);
}

div.imo-geschro div.chrono-item {
  display: grid;
  grid-template-columns: 112px auto;
  grid-gap: 8px 24px;
  position: relative;
}
div.imo-geschro div.chrono-item:after {
  display: block;
  width: 1px;
  height: calc(100% - 60px);
  content: " ";
  background-color: var(--co2);
  position: absolute;
  left: 56px;
  bottom: 0px;
}
div.imo-geschro.imo-jdb div.chrono-item:after {
  background-color: var(--co1);
}
div.imo-geschro div.chrono-item > span.timestamp {
  grid-row: 1 / 3;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 0px;
  justify-content: flex-end;
}
div.imo-geschro div.chrono-item > span.timestamp > span.periode {
  font-size: 14px;
  font-family: var(--font-texte);
  color: var(--text);
}
div.imo-geschro div.chrono-item > span.timestamp > span.annee {
  font-family: var(--font-titre);
  font-size: 20px;
  color: var(--text-contrast);
}
div.imo-geschro div.chrono-item > span.titre {
  font-weight: 500;
  color: var(--text-contrast);
  align-content: flex-start;
}
div.imo-geschro div.chrono-item > span.titre:last-child {
  grid-row: 1 / 3;
  align-items: center;
  justify-items: center;
  align-content: center;
  display: flex;
  width: 100%;
}
div.imo-geschro div.chrono-item > span.desc {
  padding: 8px 8px 8px 16px;
  border-right: 8px solid var(--bg1);
  background: var(--bg1);
  border-radius: 8px;
  max-height: 72px;
  overflow-y: auto;
}
div.imo-geschro div.chrono-item > span.desc::-webkit-scrollbar-button:start:decrement,
div.imo-geschro div.chrono-item > span.desc::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 8px;
  background: var(--bg1);
}


/* ------ MOODBOARD AUTOMATIQUE ------ */
div#imo-gesmoo,
div.imo-gesmoo {
  max-width: 540px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0px;
  border-radius: 16px;
  overflow: hidden;
}
div#imo-gesmoo > img,
div.imo-gesmoo > img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

/* ----- JDB TEMPLATE ----- */
/* LIENS - ONGLETS */
.imo-jdb  > .msg_ong {
  display: flex !important;
  justify-content: center !important;
  opacity: 0.7;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  height: 44px !important;
  padding: 4px 8px !important;
}
.imo-jdb  > .msg_ong:hover {
  opacity: 1;
}
.imo-jdb  > .msg_ong.selected {
  background: linear-gradient(to right, var(--co1), var(--co3));
  color: white !important;
  border-right: 0px !important;
  border-left: 0px !important;
  opacity: 1;
}
div.tabs-onglets.imo-jdb  > a.msg_ong.selected > ion-icon, 
div.tabs-onglets.imo-jdb  > a.msg_ong.selected > i, 
div.tabs-onglets.imo-jdb  > a.msg_ong.selected > iconify {
  color: white !important;
  font-size: 16px !important;
}

/* ----- NOUVEAU JOURNAL DE BORD - 2023 ----- */

.jdb-2023 .fiche-background:last-of-type {
  border-radius: 0px 0px 16px 16px;
}
.fiche-2023 hr, .jdb-2023 hr {
  border-color: rgb(var(--tx_content_rgb),0.1);
  margin: var(--spacing) 0;
}

/* premier post : liens vers fiche, moodboard, playlist */
.jdb-redirection {
  text-transform:uppercase;
  font-size:10px;
  letter-spacing:1px;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  filter:brightness(1);
}

.jdb-redirection ion-icon {
  margin-left: 4px;
  margin-bottom: 3px;
}
.jdb-redirection:hover{
  filter:brightness(0.6);
}

/* post liens */
.jdb-2023 div.topic_tabs {
  padding:0;
  grid-column-gap: var(--spacing);
}
.jdb-2023 .topic_tabs .msg_ong {
  border-radius:var(--spacing-s);
}

.jdb-2023 .liste_roles {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
.jdb-2023 role {
  border-radius: var(--spacing-s);
  background: var(--bg1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.jdb-2023 role .role_header {
  display: flex;
  gap: 16px;
}
.jdb-2023 role .role_header > img {
  border-radius: 8px;
  object-fit: cover;
  width: 64px;
  height: 64px;
}
.jdb-2023 role .role_header > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.jdb-2023 role .role_header > div > nom {
  font-size: 20px;
  line-height: 28px;
  font-family: var(--font-titre);
  color: var(--text-contrast);
}
.jdb-2023 role .role_header > div > r3 {
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 18px;
}
.jdb-2023 role hr {
  background: var(--bg3);
  border: 0;
}
.jdb-2023 .liste_roles role > div:nth-of-type(2) {  
  height: 194px;
  overflow: auto;
  color: var(--tx_content);
  background: var(--bg2);
  padding: 16px;
  border-radius: 8px;
}
.jdb-2023 .liste_roles role > div:nth-of-type(2) > r1 {
  display: block;
  margin-bottom: 4px;
  color: var(--text-contrast);
}

/* post inventaire */
div.jdb-inventory {
  padding:0;
  background:transparent;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: var(--spacing);
}
div.jdb-inventory .repertory_item {
  border-radius:var(--spacing-s);
}

.jdb-inventory-item {
  padding: var(--spacing);
  border-radius: var(--spacing-xs);
  background-color:var(--neutral_1);
}
.jdb-inventory div.jdb-inventory-item br {display:block}
.jdb-inventory-item span {
  max-height: 111px;
  overflow: auto;
  display: block;
  font-size: 12px;
  line-height: 150%;
  padding-right: 10px;
  margin-top: var(--spacing-s);
}
.jdb-inventory-item ion-icon, .jdb-inventory-item  i.cp {
  color: var(--co2);
  font-size: 10px;
  padding-right: var(--spacing-xs);
}

.jdb-inventory-item span span {
  float: left;
  width: 67px;
  height: 63px;
  object-fit: cover;
  border-radius: var(--spacing-xs);
  opacity: 1;
  transform: scale(1);
  transition: var(--transi);
  margin: 3px 11px 0px 0;
  filter: grayscale(1);
  overflow: hidden;
  display: flex;
  position: relative;
}
.jdb-inventory-item img {
  object-fit: cover;
  position: absolute;
}

/* posts divers */
.jdb-container {
  padding: var(--spacing);
  background-color: var(--neutral_1);
  border-radius: var(--spacing-s);
}

/* skills */
.jdb-perso{    
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.jdb-container.skill-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skill-group h3 {
  text-transform: initial;
}

.jdb-perso .skills {
  display: grid;
  grid-gap: 8px 16px;
  grid-template-columns: 1fr;
  grid-auto-rows: 24px;
}
.jdb-perso skill {
  position: relative;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto 115px;
  align-items: center;
  font-family: var(--font-texte) !important;
}

.jdb-perso skill > br{ display: none; }
.jdb-perso skill > p{
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 0!important;
}
.jdb-perso skill p span {
  font-weight: 400 !important;
  font-family: var(--font-texte);
  font-size: 14px;
  color: var(--text-contrast);
}

.jdb-perso level { 
  display: grid; 
  grid-gap: 4px; 
  justify-content: end;
  grid-template-columns: repeat(10, 10px);
} 
.jdb-perso lv{ 
  display: inline-block; 
  height: 10px; 
  width: 10px; 
  border-radius: 2px; 
  background: var(--bg2); 
  content: " ";
} 

.jdb-perso level.lvl-2 > lv:nth-child(-n + 2),
.jdb-perso level.lvl-3 > lv:nth-child(-n + 3),
.jdb-perso level.lvl-4 > lv:nth-child(-n + 4),
.jdb-perso level.lvl-5 > lv:nth-child(-n + 5),
.jdb-perso level.lvl-6 > lv:nth-child(-n + 6),
.jdb-perso level.lvl-7 > lv:nth-child(-n + 7),
.jdb-perso level.lvl-8 > lv:nth-child(-n + 8){
  background: var(--co2);
}
.jdb-perso level.lvl-1 > lv:nth-child(1),
.jdb-perso level.lvl-9 > lv:nth-child(-n + 9),
.jdb-perso level.lvl-10 > lv:nth-child(-n + 10){
  background: var(--co1);
}

.jdb-perso skill .infobulle_small{ 
  height: 16px; 
  width: 16px; 
  padding: 0px; 
  color: var(--co2);
}
.jdb-perso skill .infobulle_small > span {
  top: 20px!important; 
  left: 0px!important; 
  padding: 8px;
}

/* ----- NOUVEAU JOURNAL DE BORD - 2023 ----- */

.jdb-2023 .fiche-background:last-of-type {
  border-radius: 0px 0px 16px 16px;
}
.fiche-2023 hr, .jdb-2023 hr {
  border-color: rgb(var(--tx_content_rgb),0.1);
  margin: var(--spacing) 0;
}

/* premier post : liens vers fiche, moodboard, playlist */
.jdb-redirection {
  text-transform:uppercase;
  font-size:10px;
  letter-spacing:1px;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  filter:brightness(1);
}

.jdb-redirection ion-icon {
  margin-left: 4px;
  margin-bottom: 3px;
}
.jdb-redirection:hover{
  filter:brightness(0.6);
}

/* post liens */
.jdb-2023 div.topic_tabs {
  padding:0;
  grid-column-gap: var(--spacing);
}
.jdb-2023 .topic_tabs .msg_ong {
  border-radius:var(--spacing-s);
}

.jdb-2023 .liste_roles {
  margin:0;
}
.jdb-2023 role {
  border-radius: var(--spacing-s);
}
.jdb-2023 role img {
  border-radius: var(--spacing-xs);
  object-fit: cover;
  width: 64px;
}
.jdb-2023 .liste_roles role > div:nth-of-type(2) {  
  height: 194px;
  overflow: auto;
  color: var(--tx_content);
}

/* post inventaire */
div.jdb-inventory {
  padding:0;
  background:transparent;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: var(--spacing);
}
div.jdb-inventory .repertory_item {
  border-radius:var(--spacing-s);
}

.jdb-inventory-item {
  padding: var(--spacing);
  border-radius: var(--spacing-xs);
  background-color:var(--neutral_1);
}
.jdb-inventory div.jdb-inventory-item br {display:block}
.jdb-inventory-item span {
  max-height: 111px;
  overflow: auto;
  display: block;
  font-size: 12px;
  line-height: 150%;
  padding-right: 10px;
  margin-top: var(--spacing-s);
}
.jdb-inventory-item ion-icon, .jdb-inventory-item  i.cp {
  color: var(--co2);
  font-size: 10px;
  padding-right: var(--spacing-xs);
}

.jdb-inventory-item span span {
  float: left;
  width: 67px;
  height: 63px;
  object-fit: cover;
  border-radius: var(--spacing-xs);
  opacity: 1;
  transform: scale(1);
  transition: var(--transi);
  margin: 3px 11px 0px 0;
  filter: grayscale(1);
  overflow: hidden;
  display: flex;
  position: relative;
}
.jdb-inventory-item img {
  object-fit: cover;
  position: absolute;
}

/* posts divers */
.jdb-container {
  padding: var(--spacing);
  background-color: var(--neutral_1);
  border-radius: var(--spacing-s);
}

/* skills */
.jdb-perso{    
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.jdb-perso level.lvl-2 > lv:nth-child(-n + 2),
.jdb-perso level.lvl-3 > lv:nth-child(-n + 3),
.jdb-perso level.lvl-4 > lv:nth-child(-n + 4),
.jdb-perso level.lvl-5 > lv:nth-child(-n + 5),
.jdb-perso level.lvl-6 > lv:nth-child(-n + 6),
.jdb-perso level.lvl-7 > lv:nth-child(-n + 7),
.jdb-perso level.lvl-8 > lv:nth-child(-n + 8){
  background: var(--co2);
}
.jdb-perso level.lvl-1 > lv:nth-child(1),
.jdb-perso level.lvl-9 > lv:nth-child(-n + 9),
.jdb-perso level.lvl-10 > lv:nth-child(-n + 10){
  background: var(--co1);
}

.jdb-perso skill .infobulle_small{ 
  height: 16px; 
  width: 16px; 
  padding: 0px; 
  color: var(--co2);
}
.jdb-perso skill .infobulle_small > span {
  top: 20px!important; 
  left: 0px!important; 
  padding: 8px;
}
